<!DOCTYPE html>
<html amp >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="/ampost/images/index-meta.png">
  <meta property="og:image" content="/ampost/images/index-meta.png">
  <meta name="twitter:title" content="{{.Title}} - Arumi Flower Shop">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/ampost/images/favicon-110x110.png" type="image/x-icon">
  <meta name="description" content="{{.Description | default .Content | truncate 165 }}">
  <meta name="amp-script-src" content="sha384-dT70kHVr16urXvhGM9hkt_fCn11iWz7rK8VhaUgoVgnYcGdC85wftckwRBx0Nn5S">
  
  <title>{{.Title}} | Toko Bunga 24 Jam Online | Arumi Flower Shop</title>
  
<link rel="canonical" href="{{.Permalink}}">
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i&display=swap" rel="stylesheet">
 <style amp-custom> 
    .sticker{top: 10px;opacity: 0.95;z-index: 1000000;}.sticker{margin-bottom: 20px;padding: 5px 7px;margin-left: 2%;width: 96%;border-radius: 3px;background-color: #f1f1f1;font-size: 14px;font-family: sans-serif;text-align: center;}@supports not (-webkit-overflow-scrolling: touch){amp-script[src*="ios-pwa-amp-script.js"],.sticker{display: none;}}@media all and (display-mode: standalone) {amp-script[src*="ios-pwa-amp-script.js"],.sticker{display: none;}}div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,ol,ul,li,figcaption,textarea,input{font:inherit}section{background-color:#eeeeee}section,.container,.container-fluid{position:relative;word-wrap:break-word}a.brionz-iconfont:hover{text-decoration:none}.article .lead p,.article .lead ul,.article .lead ol,.article .lead pre,.article .lead blockquote{margin-bottom:0}a{font-style:normal;font-weight:400;cursor:pointer}a,a:hover{text-decoration:none}figure{margin-bottom:0}h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,.display-1,.display-2,.display-3,.display-4{line-height:1;word-break:break-word;word-wrap:break-word}b,strong{font-weight:bold}blockquote{padding:10px 0 10px 20px;position:relative;border-left:2px solid;border-color:#ff3366}input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active{transition-delay:9999s;transition-property:background-color,color}textarea[type="hidden"]{display:none}body{position:relative}section{background-position:50% 50%;background-repeat:no-repeat;background-size:cover}section .brionz-background-video,section .brionz-background-video-preview{position:absolute;bottom:0;left:0;right:0;top:0}.row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}@media (min-width: 576px){.row{margin-right:-15px;margin-left:-15px}}@media (min-width: 768px){.row{margin-right:-15px;margin-left:-15px}}@media (min-width: 992px){.row{margin-right:-15px;margin-left:-15px}}@media (min-width: 1200px){.row{margin-right:-15px;margin-left:-15px}}.hidden{visibility:hidden}.brionz-z-index20{z-index:20}.brionz-white{color:#ffffff}.brionz-black{color:#000000}.brionz-bg-white{background-color:#ffffff}.brionz-bg-black{background-color:#000000}.align-left{text-align:left}.align-center{text-align:center}.align-right{text-align:right}@media (max-width: 767px){.align-left,.align-center,.align-right,.brionz-section-btn,.brionz-section-title{text-align:center}}.brionz-light{font-weight:300}.brionz-regular{font-weight:400}.brionz-semibold{font-weight:500}.brionz-bold{font-weight:700}.brionz-figure img,.brionz-figure iframe{display:block;width:100%}.card{background-color:transparent;border:none}.card-wrapper{-webkit-flex:1;flex:1}.card-img{text-align:center;-webkit-flex-shrink:0;flex-shrink:0}.media{max-width:100%;margin:0 auto}.brionz-figure{-ms-flex-item-align:center;-ms-grid-row-align:center;-webkit-align-self:center;align-self:center}.media-container>div{max-width:100%}.brionz-figure img,.card-img img{width:100%}@media (max-width: 991px){.media-size-item{width:auto}.media{width:auto}.brionz-figure{width:100%}}form .btn{margin:0}.brionz-section-btn{margin-left:-.25rem;margin-right:-.25rem;font-size:0}nav .brionz-section-btn{margin-left:0rem;margin-right:0rem}.btn .brionz-iconfont,.btn.btn-sm .brionz-iconfont{cursor:pointer;margin-right:0.5rem}.btn.btn-md .brionz-iconfont,.btn.btn-md .brionz-iconfont{margin-right:0.8rem}[type="submit"]{-webkit-appearance:none}.brionz-fullscreen .brionz-overlay{min-height:100vh}.brionz-fullscreen{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;-webkit-align-items:center;align-items:center;min-height:100vh;box-sizing:border-box;padding-top:3rem;padding-bottom:3rem}.brionz-overlay{width:100%;height:100%;position:absolute;top:0}amp-img img{max-height:100%;max-width:100%}img.brionz-temp{width:100%}.super-hide{display:none}.is-builder .nodisplay+img[async],.is-builder .nodisplay+img[decoding="async"],.is-builder amp-img>a+img[async],.is-builder amp-img>a+img[decoding="async"]{display:none}html:not(.is-builder) amp-img>a{position:absolute;top:0;bottom:0;left:0;right:0;z-index:1}.is-builder .temp-amp-sizer{position:absolute}.is-builder amp-youtube .temp-amp-sizer,.is-builder amp-vimeo .temp-amp-sizer{position:static}.is-builder section.horizontal-menu .ampstart-btn{display:none}@media (max-width: 991px){.is-builder section.horizontal-menu .navbar-toggler{display:block}}.is-builder section.horizontal-menu .dropdown-menu{z-index:auto;opacity:1;pointer-events:auto}.is-builder section.horizontal-menu .nav-dropdown .link.dropdown-toggle[aria-expanded="true"]{margin-right:0;padding:0.667em 1em}@media (max-width: 767px){.is-builder section.menu .navbar-collapse{max-height:60vh;overflow-y:auto}}.container{padding-right:15px;padding-left:15px;width:100%;margin-right:auto;margin-left:auto}@media (max-width: 767px){.container{max-width:540px}}@media (min-width: 768px){.container{max-width:720px}}@media (min-width: 992px){.container{max-width:960px}}@media (min-width: 1200px){.container{max-width:1140px}}.brionz-row,.brionz-form-row{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-1rem;margin-left:-1rem}.brionz-form-row{margin-right:-0.5rem;margin-left:-0.5rem}.brionz-form-row>[class*="brionz-col"]{padding-left:0.5rem;padding-right:0.5rem}.brionz-justify-content-center{-webkit-justify-content:center;justify-content:center}.brionz-justify-content-left{-webkit-justify-content:flex-start;justify-content:flex-start}.brionz-justify-content-right{-webkit-justify-content:flex-end;justify-content:flex-end}@media (max-width: 767px){.brionz-col-sm-2{-ms-flex:0 0 16.666667%;-webkit-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;padding-right:15px;padding-left:15px}.brionz-col-sm-6{-ms-flex:0 0 50%;-webkit-flex:0 0 50%;flex:0 0 50%;max-width:50%;padding-right:15px;padding-left:15px}.brionz-col-sm-8{-ms-flex:0 0 66.666667%;-webkit-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%;padding-left:15px;padding-right:15px}.brionz-col-sm-12{-ms-flex:0 0 100%;-webkit-flex:0 0 100%;flex:0 0 100%;max-width:100%;padding-right:15px;padding-left:15px}.brionz-row{margin:0}}@media (min-width: 768px){.brionz-col-md-2{-ms-flex:0 0 16.666667%;-webkit-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;padding-right:15px;padding-left:15px}.brionz-col-md-3{-ms-flex:0 0 25%;-webkit-flex:0 0 25%;flex:0 0 25%;max-width:25%;padding-right:15px;padding-left:15px}.brionz-col-md-4{-ms-flex:0 0 33.333333%;-webkit-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%;padding-right:15px;padding-left:15px}.brionz-col-md-5{-ms-flex:0 0 41.666667%;-webkit-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%;padding-right:15px;padding-left:15px}.brionz-col-md-6{-ms-flex:0 0 50%;-webkit-flex:0 0 50%;flex:0 0 50%;max-width:50%;padding-right:15px;padding-left:15px}.brionz-col-md-7{-ms-flex:0 0 58.333333%;-webkit-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%;padding-right:15px;padding-left:15px}.brionz-col-md-8{-ms-flex:0 0 66.666667%;-webkit-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%;padding-left:15px;padding-right:15px}.brionz-col-md-9{-ms-flex:0 0 75%;-webkit-flex:0 0 75%;flex:0 0 75%;max-width:75%;padding-left:15px;padding-right:15px}.brionz-col-md-10{-ms-flex:0 0 83.333333%;-webkit-flex:0 0 83.333333%;flex:0 0 83.333333%;max-width:83.333333%;padding-left:15px;padding-right:15px}.brionz-col-md-12{-ms-flex:0 0 100%;-webkit-flex:0 0 100%;flex:0 0 100%;max-width:100%;padding-right:15px;padding-left:15px}}@media (min-width: 992px){.brionz-col-lg-1{-ms-flex:0 0 8.333333%;-webkit-flex:0 0 8.333333%;flex:0 0 8.333333%;max-width:8.333333;padding-right:15px;padding-left:15px}.brionz-col-lg-2{-ms-flex:0 0 16.666667%;-webkit-flex:0 0 16.666667%;flex:0 0 16.666667%;max-width:16.666667%;padding-right:15px;padding-left:15px}.brionz-col-lg-3{-ms-flex:0 0 25%;-webkit-flex:0 0 25%;flex:0 0 25%;max-width:25%;padding-right:15px;padding-left:15px}.brionz-col-lg-4{-ms-flex:0 0 33.33%;-webkit-flex:0 0 33.33%;flex:0 0 33.33%;max-width:33.33%;padding-right:15px;padding-left:15px}.brionz-col-lg-5{-ms-flex:0 0 41.666%;-webkit-flex:0 0 41.666%;flex:0 0 41.666%;max-width:41.666%;padding-right:15px;padding-left:15px}.brionz-col-lg-6{-ms-flex:0 0 50%;-webkit-flex:0 0 50%;flex:0 0 50%;max-width:50%;padding-right:15px;padding-left:15px}.brionz-col-lg-7{-ms-flex:0 0 58.333333%;-webkit-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%;padding-right:15px;padding-left:15px}.brionz-col-lg-8{-ms-flex:0 0 66.666667%;-webkit-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%;padding-left:15px;padding-right:15px}.brionz-col-lg-9{-ms-flex:0 0 75%;-webkit-flex:0 0 75%;flex:0 0 75%;max-width:75%;padding-left:15px;padding-right:15px}.brionz-col-lg-10{-ms-flex:0 0 83.3333%;-webkit-flex:0 0 83.3333%;flex:0 0 83.3333%;max-width:83.3333%;padding-right:15px;padding-left:15px}.brionz-col-lg-12{-ms-flex:0 0 100%;-webkit-flex:0 0 100%;flex:0 0 100%;max-width:100%;padding-right:15px;padding-left:15px}}@media (min-width: 1201px){.brionz-col-xl-7{-ms-flex:0 0 58.333333%;-webkit-flex:0 0 58.333333%;flex:0 0 58.333333%;max-width:58.333333%;padding-right:15px;padding-left:15px}.brionz-col-xl-8{-ms-flex:0 0 66.666667%;-webkit-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667%;padding-left:15px;padding-right:15px}.brionz-col-xl-5{-ms-flex:0 0 41.666667%;-webkit-flex:0 0 41.666667%;flex:0 0 41.666667%;max-width:41.666667%}}amp-sidebar{background:transparent}#scrollToTopMarker{position:absolute;width:0px;height:0px;top:300px}#scrollToTopButton{position:fixed;bottom:25px;right:25px;opacity:.4;z-index:5000;font-size:32px;height:60px;width:60px;border:none;border-radius:3px;cursor:pointer}#scrollToTopButton:focus{outline:none}#scrollToTopButton a:before{content:'';position:absolute;height:40%;top:36%;width:2px;left:calc(50% - 1px)}#scrollToTopButton a:after{content:'';position:absolute;border-top:2px solid;border-right:2px solid;width:40%;height:40%;left:calc(30% - 1px);bottom:30%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.is-builder #scrollToTopButton a:after{left:30%}.hidden-slide{display:none}.visible-slide{display:flex}.field:not(:nth-last-child(1)){margin-bottom:1rem}.field-input{display:block;width:100%}select{padding:1rem;border:1px solid #e0e0e0;background:#f3f4f5}.brionz-col{flex-basis:0;flex-grow:1;max-width:100%}.brionz-col-auto{-webkit-box-flex:0;flex:0 0 auto;width:auto;max-width:none}.brionz-col,.brionz-col-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}@media (min-width: 991px){.brionz-col{min-width:50%}}@media (max-width: 991px){.brionz-col{min-width:100%}}.form-check{margin-bottom:0}.form-check-label{padding-left:0}.form-check-input{position:relative;margin:4px}.form-check-inline{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding-left:0;margin-right:.75rem}
    *{box-sizing: border-box;}body{font-family: Merriweather;font-style: normal;font-weight: 300;color: black;}h1{letter-spacing: 0px;margin: 0;margin-bottom: 2.5rem;}h2,h3,h4,h5,h6{letter-spacing: 0px;margin: 0;margin-bottom: 1.5rem;padding: 0;line-height: 1.2;}p{margin: 0;margin-bottom: 1.5rem;padding: 0;}.brionz-section-title{font-style: normal;line-height: 1.2;}.brionz-section-subtitle{font-style: normal;line-height: 1.2;}.brionz-text{font-style: normal;line-height: 1.5;}.display-2{font-family: 'Playfair Display',serif;font-size: 3.8rem;}.display-3{font-family: 'Playfair Display',serif;font-size: 2rem;}.display-4{font-family: 'Playfair Display',serif;font-size: 1.4rem;}.display-5{font-family: 'Merriweather',serif;font-size: 1rem;}.display-6{font-family: 'Playfair Display',serif;font-size: 0.8rem;}.display-7{font-family: 'Playfair Display',serif;font-size: 1.6rem;font-style: italic;font-weight: bold;}@media (max-width: 768px){.display-2{font-size: 3.04rem;font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));}.display-3{font-size: 1.6rem;font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));}.display-4{font-size: 1.12rem;font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));}.display-5{font-size: 0.8rem;font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));}.display-6{font-size: 0.64rem;font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));}.display-7{font-size: 1.28rem;font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));}}.btn{font-weight: 700;border-width: 2px;margin-right: 0.5rem;margin-left: 0.5rem;border-style: solid;font-style: normal;letter-spacing: 1px;white-space: normal;transition: all 0.3s ease-in-out,box-shadow 2s ease-in-out;display: -webkit-inline-flex;display: inline-flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;word-break: break-word;padding: 0.8rem 2rem;border-radius: 3px;}.btn-sm{border: 1px solid;letter-spacing: 0px;padding: 0.6rem 0.8rem;border-radius: 3px;}.btn-md{letter-spacing: 0px;padding: 1rem 2rem;border-radius: 3px;}.bg-primary{background-color: #ff98d5;}.bg-success{background-color: #97f93c;}.bg-info{background-color: #ff98d5;}.bg-warning{background-color: #6d85e1;}.bg-danger{background-color: #000000;}.btn-primary,.btn-primary:active,.btn-primary.active{background-color: #ff98d5;border-color: #ff98d5;color: #ffffff;}.btn-primary:hover,.btn-primary:focus,.btn-primary.focus{color: #ff98d5;background: none;border-color: #ff98d5;}.btn-primary.disabled,.btn-primary:disabled{color: #ffffff;background-color: #ff98d5;border-color: #ff98d5;}.btn-secondary,.btn-secondary:active,.btn-secondary.active{background-color: #ff98d5;border-color: #ff98d5;color: #ffffff;}.btn-secondary:hover,.btn-secondary:focus,.btn-secondary.focus{color: #ff98d5;background: none;border-color: #ff98d5;}.btn-secondary.disabled,.btn-secondary:disabled{color: #ffffff;background-color: #ff98d5;border-color: #ff98d5;}.btn-info,.btn-info:active,.btn-info.active{background-color: #ff98d5;border-color: #ff98d5;color: #ffffff;}.btn-info:hover,.btn-info:focus,.btn-info.focus{color: #ff98d5;background: none;border-color: #ff98d5;}.btn-info.disabled,.btn-info:disabled{color: #ffffff;background-color: #ff98d5;border-color: #ff98d5;}.btn-success,.btn-success:active,.btn-success.active{background-color: #97f93c;border-color: #97f93c;color: #ffffff;}.btn-success:hover,.btn-success:focus,.btn-success.focus{color: #97f93c;background: none;border-color: #97f93c;}.btn-success.disabled,.btn-success:disabled{color: #ffffff;background-color: #97f93c;border-color: #97f93c;}.btn-warning,.btn-warning:active,.btn-warning.active{background-color: #6d85e1;border-color: #6d85e1;color: #ffffff;}.btn-warning:hover,.btn-warning:focus,.btn-warning.focus{color: #6d85e1;background: none;border-color: #6d85e1;}.btn-warning.disabled,.btn-warning:disabled{color: #ffffff;background-color: #6d85e1;border-color: #6d85e1;}.btn-danger,.btn-danger:active,.btn-danger.active{background-color: #000000;border-color: #000000;color: #ffffff;}.btn-danger:hover,.btn-danger:focus,.btn-danger.focus{color: #000000;background: none;border-color: #000000;}.btn-danger.disabled,.btn-danger:disabled{color: #ffffff;background-color: #000000;border-color: #000000;}.btn-black,.btn-black:active,.btn-black.active{background-color: #333333;border-color: #333333;color: #ffffff;}.btn-black:hover,.btn-black:focus,.btn-black.focus{color: #333333;background: none;border-color: #333333;}.btn-black.disabled,.btn-black:disabled{color: #ffffff;background-color: #333333;border-color: #333333;}.btn-white,.btn-white:active,.btn-white.active{background-color: #ffffff;border-color: #ffffff;color: #808080;}.btn-white:hover,.btn-white:focus,.btn-white.focus{color: #ffffff;background: none;border-color: #ffffff;}.btn-white.disabled,.btn-white:disabled{color: #808080;background-color: #ffffff;border-color: #ffffff;}.btn-white,.btn-white:active,.btn-white.active{color: #333333;}.btn-white:hover,.btn-white:focus,.btn-white.focus{color: #333333;}.btn-white.disabled,.btn-white:disabled{color: #333333;}.btn-primary-outline,.btn-primary-outline:active,.btn-primary-outline.active{background: none;border-color: #ff98d5;color: #ff98d5;}.btn-primary-outline:hover,.btn-primary-outline:focus,.btn-primary-outline.focus{color: #fff;background-color: #ff98d5;border-color: #ff98d5;}.btn-primary-outline.disabled,.btn-primary-outline:disabled{color: #ffffff;background-color: #ff98d5;border-color: #ff98d5;}.btn-secondary-outline,.btn-secondary-outline:active,.btn-secondary-outline.active{background: none;border-color: #ff98d5;color: #ff98d5;}.btn-secondary-outline:hover,.btn-secondary-outline:focus,.btn-secondary-outline.focus{color: #fff;background-color: #ff98d5;border-color: #ff98d5;}.btn-secondary-outline.disabled,.btn-secondary-outline:disabled{color: #ffffff;background-color: #ff98d5;border-color: #ff98d5;}.btn-info-outline,.btn-info-outline:active,.btn-info-outline.active{background: none;border-color: #ff98d5;color: #ff98d5;}.btn-info-outline:hover,.btn-info-outline:focus,.btn-info-outline.focus{color: #fff;background-color: #ff98d5;border-color: #ff98d5;}.btn-info-outline.disabled,.btn-info-outline:disabled{color: #ffffff;background-color: #ff98d5;border-color: #ff98d5;}.btn-success-outline,.btn-success-outline:active,.btn-success-outline.active{background: none;border-color: #97f93c;color: #97f93c;}.btn-success-outline:hover,.btn-success-outline:focus,.btn-success-outline.focus{color: #fff;background-color: #97f93c;border-color: #97f93c;}.btn-success-outline.disabled,.btn-success-outline:disabled{color: #ffffff;background-color: #97f93c;border-color: #97f93c;}.btn-warning-outline,.btn-warning-outline:active,.btn-warning-outline.active{background: none;border-color: #6d85e1;color: #6d85e1;}.btn-warning-outline:hover,.btn-warning-outline:focus,.btn-warning-outline.focus{color: #fff;background-color: #6d85e1;border-color: #6d85e1;}.btn-warning-outline.disabled,.btn-warning-outline:disabled{color: #ffffff;background-color: #6d85e1;border-color: #6d85e1;}.btn-danger-outline,.btn-danger-outline:active,.btn-danger-outline.active{background: none;border-color: #000000;color: #000000;}.btn-danger-outline:hover,.btn-danger-outline:focus,.btn-danger-outline.focus{color: #fff;background-color: #000000;border-color: #000000;}.btn-danger-outline.disabled,.btn-danger-outline:disabled{color: #ffffff;background-color: #000000;border-color: #000000;}.btn-black-outline,.btn-black-outline:active,.btn-black-outline.active{background: none;border-color: #333333;color: #333333;}.btn-black-outline:hover,.btn-black-outline:focus,.btn-black-outline.focus{color: #fff;background-color: #333333;border-color: #333333;}.btn-black-outline.disabled,.btn-black-outline:disabled{color: #ffffff;background-color: #333333;border-color: #333333;}.btn-white-outline,.btn-white-outline:active,.btn-white-outline.active{background: none;border-color: #ffffff;color: #ffffff;}.btn-white-outline:hover,.btn-white-outline:focus,.btn-white-outline.focus{color: #333333;background-color: #ffffff;border-color: #ffffff;}.text-primary{color: #ff98d5;}.text-secondary{color: #ff98d5;}.text-success{color: #97f93c;}.text-info{color: #ff98d5;}.text-warning{color: #6d85e1;}.text-danger{color: #000000;}.text-white{color: #ffffff;}.text-black{color: #000000;}a.text-primary:hover,a.text-primary:focus{color: #ff32ab;}a.text-secondary:hover,a.text-secondary:focus{color: #ff32ab;}a.text-success:hover,a.text-success:focus{color: #64c906;}a.text-info:hover,a.text-info:focus{color: #ff32ab;}a.text-warning:hover,a.text-warning:focus{color: #2847c0;}a.text-danger:hover,a.text-danger:focus{color: #000000;}a.text-white:hover,a.text-white:focus{color: #b3b3b3;}a.text-black:hover,a.text-black:focus{color: #4d4d4d;}.alert-success{background-color: #97f93c;}.alert-info{background-color: #ff98d5;}.alert-warning{background-color: #6d85e1;}.alert-danger{background-color: #000000;}.brionz-section-btn a.btn:not(.btn-form){border-radius: 100px;transition-property: background-color,color,border-color,box-shadow;transition-duration: .3s,.3s,.3s,.8s;transition-timing-function: ease-in-out;}.brionz-section-btn a.btn:not(.btn-form):hover{box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);}.nav-tabs .nav-link{border-radius: 100px;}.btn-form{border-radius: 3px;}.btn-form:hover{cursor: pointer;}a,a:hover{color: #ff98d5;}.brionz-plan-header.bg-primary .brionz-plan-subtitle,.brionz-plan-header.bg-primary .brionz-plan-price-desc{color: #ffffff;}.brionz-plan-header.bg-success .brionz-plan-subtitle,.brionz-plan-header.bg-success .brionz-plan-price-desc{color: #ffffff;}.brionz-plan-header.bg-info .brionz-plan-subtitle,.brionz-plan-header.bg-info .brionz-plan-price-desc{color: #ffffff;}.brionz-plan-header.bg-warning .brionz-plan-subtitle,.brionz-plan-header.bg-warning .brionz-plan-price-desc{color: #ffffff;}.brionz-plan-header.bg-danger .brionz-plan-subtitle,.brionz-plan-header.bg-danger .brionz-plan-price-desc{color: #b3b3b3;}blockquote{padding: 10px 0 10px 20px;position: relative;border-color: #ff98d5;border-width: 3px;}ul,ol,pre,blockquote{margin-bottom: 0;margin-top: 0;}pre{background: #f4f4f4;padding: 10px 24px;white-space: pre-wrap;}.inactive{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;pointer-events: none;-webkit-user-drag: none;user-drag: none;}html,body{height: auto;min-height: 100vh;}.popover-content ul.show{min-height: 155px;}#scrollToTop{display: none;}section.sidebar-open:before{content: '';position: fixed;top: 0;bottom: 0;right: 0;left: 0;background-color: rgba(0,0,0,0.2);z-index: 1040;}form input,form textarea{padding: 1rem;border: 1px solid #e0e0e0;background: #f3f4f5;}form .fieldset{display: -webkit-flex;display: flex;-webkit-justify-content: center;justify-content: center;-webkit-flex-wrap: wrap;flex-wrap: wrap;-webkit-align-items: center;align-items: center;}div[submit-success]{background: #97f93c;color: #000000;padding: 1rem;margin-bottom: 1rem;}div[submit-error]{background: #000000;color: #ffffff;padding: 1rem;margin-bottom: 1rem;}.brionz-spinner{position: absolute;top: 50%;left: 40%;margin-left: 10%;-webkit-transform: translate3d(-50%,-50%,0);z-index: 4;}.brionz-spinner em{width: 24px;height: 24px;background: #3ac;border-radius: 100%;display: inline-block;-webkit-animation: slide 1s infinite;}.brionz-spinner em:nth-child(1){-webkit-animation-delay: 0.1s;background: #ff98d5;}.brionz-spinner em:nth-child(2){-webkit-animation-delay: 0.2s;background: #ff98d5;}.brionz-spinner em:nth-child(3){-webkit-animation-delay: 0.3s;background: #97f93c;}@-moz-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@-webkit-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@-o-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}.brionz-loader .amp-active > div{display: none;}.vcenter{margin: auto;}.btn-primary{color: black;border: 0px;}.btn-primary:hover{background-color: #000000;color: white;}.btn-primary:active{background-color: #ff98d5;color: black;}.btn-primary:active:hover{background-color: #000000;color: white;}#scrollToTopMarker{display: none;}#scrollToTopButton{background-color: #ff98d5;border-radius: 50%;}#scrollToTopButton a:before{background: #000000;}#scrollToTopButton a:after{border-top-color: #000000;border-right-color: #000000;}.display-2 .brionz-iconfont-btn{font-size: 3.8rem;width: 3.8rem;}.display-3 .brionz-iconfont-btn{font-size: 2rem;width: 2rem;}.display-4 .brionz-iconfont-btn{font-size: 1.4rem;width: 1.4rem;}.display-5 .brionz-iconfont-btn{font-size: 1rem;width: 1rem;}.display-6 .brionz-iconfont-btn{font-size: 0.8rem;width: 0.8rem;}.display-7 .brionz-iconfont-btn{font-size: 1.6rem;width: 1.6rem;}.cid-s4RajMfNVd .nav-item:focus,.cid-s4RajMfNVd .nav-link:focus{outline: none;}.cid-s4RajMfNVd #marker{position: absolute;top: 0;width: 0;height: 15vw;}.cid-s4RajMfNVd .btn{cursor: pointer;}.cid-s4RajMfNVd amp-img{display: flex;-webkit-align-items: center;align-items: center;width: 55px;height: auto;}@media (max-width: 768px){.cid-s4RajMfNVd amp-img{max-width: 55px;}}.cid-s4RajMfNVd .navbar-info{display: flex;-webkit-justify-content: space-around;justify-content: space-around;-webkit-align-items: center;align-items: center;text-align: center;color: #b69e59;}.cid-s4RajMfNVd span,.cid-s4RajMfNVd a,.cid-s4RajMfNVd li{font-weight: 600;}.cid-s4RajMfNVd .navbar-nav{list-style-type: none;display: flex;-webkit-flex-direction: row;flex-direction: row;padding-left: 0;min-width: 10rem;}.cid-s4RajMfNVd .navbar-nav .nav-link{margin: .667em 1em;font-weight: 600;}@media (max-width: 991px){.cid-s4RajMfNVd ul.navbar-nav{-webkit-flex-direction: column;flex-direction: column;}.cid-s4RajMfNVd ul.navbar-nav li{margin: auto;}.cid-s4RajMfNVd .dropdown-toggle[data-toggle="dropdown-submenu"]:after{content: '';margin-left: .25rem;margin-top: .5rem;border-top: 0.35em solid;border-right: 0.35em solid transparent;border-left: 0.35em solid transparent;border-bottom: 0;top: 55%;}.cid-s4RajMfNVd .nav-dropdown .dropdown-menu .dropdown-item{-webkit-justify-content: center;justify-content: center;display: flex;-webkit-align-items: center;align-items: center;}.cid-s4RajMfNVd .navbar-collapse .navbar-nav{padding-top: 46px;}.cid-s4RajMfNVd #marker{display: none;}.cid-s4RajMfNVd .navbar-caption{display: none;}}.cid-s4RajMfNVd .nav-dropdown .dropdown-menu{border-radius: 0;border: 0;left: 0;margin: 0;min-width: 10rem;padding-bottom: 1.25rem;padding-top: 1.25rem;position: absolute;}.cid-s4RajMfNVd .nav-dropdown .dropdown-menu .dropdown-item{font-weight: 600;line-height: 2;display: flex;-webkit-align-items: center;align-items: center;width: 100%;padding: .25rem 1.5rem;clear: both;text-align: inherit;white-space: nowrap;background: 0 0;border: 0;}.cid-s4RajMfNVd .nav-dropdown .dropdown-menu .dropdown{position: relative;}.cid-s4RajMfNVd .nav-item.dropdown{position: relative;}.cid-s4RajMfNVd .nav-item.dropdown .dropdown-menu{z-index: -1;opacity: 0;pointer-events: none;}.cid-s4RajMfNVd .nav-item.dropdown:hover > .dropdown-menu{z-index: 1;opacity: 1;pointer-events: all;}.cid-s4RajMfNVd .dropdown-menu .dropdown:hover > .dropdown-menu{z-index: 1;opacity: 1;pointer-events: all;}.cid-s4RajMfNVd .link.dropdown-toggle:after{content: '';margin-left: .25rem;border-top: 0.35em solid;border-right: 0.35em solid transparent;border-left: 0.35em solid transparent;border-bottom: 0;margin-top: 0.25rem;}.cid-s4RajMfNVd .nav-dropdown .dropdown-submenu{top: 0;}.cid-s4RajMfNVd .navbar{z-index: 100;display: flex;-webkit-flex-direction: row;flex-direction: row;-webkit-justify-content: space-between;justify-content: space-between;-webkit-align-items: center;align-items: center;width: 100%;min-height: 77px;transition: all .3s;background: #000000;}.cid-s4RajMfNVd .navbar .navbar-logo{margin-right: .8rem;}.cid-s4RajMfNVd .navbar .navbar-logo img{height: 100%;}.cid-s4RajMfNVd .navbar.opened{transition: all .3s;background: #000000;}.cid-s4RajMfNVd .navbar .dropdown-item{padding: .25rem 1.5rem;}.cid-s4RajMfNVd .navbar .navbar-collapse{display: flex;-webkit-justify-content: flex-end;justify-content: flex-end;z-index: 1;-webkit-align-items: center;align-items: center;}.cid-s4RajMfNVd .navbar.collapsed button.navbar-toggler{display: block;}.cid-s4RajMfNVd .navbar.collapsed .navbar-collapse{display: none;position: absolute;top: 0;right: 0;min-height: 100vh;background: #000000;padding: 1.5rem 2rem 1rem 2rem;right: auto;left: 0;}.cid-s4RajMfNVd .navbar.collapsed.opened .navbar-collapse.show,.cid-s4RajMfNVd .navbar.collapsed.opened .navbar-collapse.collapsing{display: block;}.cid-s4RajMfNVd .navbar.collapsed.opened .dropdown-menu{top: 0;}.cid-s4RajMfNVd .navbar.collapsed .dropdown-menu{position: relative;background: transparent;}.cid-s4RajMfNVd .navbar.collapsed .dropdown-menu .dropdown-submenu{left: 0;}.cid-s4RajMfNVd .navbar.collapsed .dropdown-menu .dropdown-item:after{right: auto;}.cid-s4RajMfNVd .navbar.collapsed .dropdown-menu .dropdown-item{padding: .25rem 1.5rem;text-align: center;margin: 0;}.cid-s4RajMfNVd .navbar.collapsed .navbar-brand{-webkit-flex-shrink: initial;flex-shrink: initial;word-break: break-word;}@media (max-width: 991px){.cid-s4RajMfNVd .navbar .navbar-collapse{display: none;position: absolute;top: 0;right: 0;min-height: 100vh;background: #000000;padding: 1rem 2rem 1rem 2rem;right: auto;left: 0;}.cid-s4RajMfNVd .navbar.opened .navbar-collapse.show,.cid-s4RajMfNVd .navbar.opened .navbar-collapse.collapsing{display: block;}.cid-s4RajMfNVd .navbar.opened .dropdown-menu{top: 0;}.cid-s4RajMfNVd .navbar .dropdown-menu{position: relative;background: transparent;}.cid-s4RajMfNVd .navbar .dropdown-menu .dropdown-submenu{left: 0;}.cid-s4RajMfNVd .navbar .dropdown-menu .dropdown-item:after{right: auto;}.cid-s4RajMfNVd .navbar .dropdown-menu .dropdown-item{padding: .25rem 1.5rem;text-align: center;margin: 0;}.cid-s4RajMfNVd .navbar .navbar-brand{-webkit-flex-shrink: initial;flex-shrink: initial;word-break: break-word;}}.cid-s4RajMfNVd .navbar-brand{display: flex;-webkit-flex-shrink: 0;flex-shrink: 0;-webkit-align-items: center;align-items: center;margin-right: 0;padding: 0;transition: all .3s;word-break: break-word;z-index: 1;}.cid-s4RajMfNVd .navbar-brand .navbar-caption{line-height: inherit;}.cid-s4RajMfNVd .navbar-brand .navbar-logo a{outline: none;}.cid-s4RajMfNVd .navbar-brand .navbar-caption-wrap{display: -webkit-flex;}.cid-s4RajMfNVd .dropdown-item.active,.cid-s4RajMfNVd .dropdown-item:active{background-color: transparent;}.cid-s4RajMfNVd .navbar-expand-lg .navbar-nav .nav-link{padding: 0;}.cid-s4RajMfNVd .navbar.navbar-expand-lg .dropdown .dropdown-menu{background: #000000;}.cid-s4RajMfNVd .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu{margin: 0;left: 100%;}.cid-s4RajMfNVd .navbar .dropdown.open > .dropdown-menu{display: block;}.cid-s4RajMfNVd ul.navbar-nav{-webkit-flex-wrap: wrap;flex-wrap: wrap;}.cid-s4RajMfNVd button.navbar-toggler{display: none;outline: none;width: 31px;height: 20px;cursor: pointer;transition: all .2s;position: absolute;-webkit-align-self: center;align-self: center;right: 20px;}.cid-s4RajMfNVd button.navbar-toggler .hamburger span{position: absolute;right: 0;width: 30px;height: 2px;border-right: 5px;background-color: #ffffff;}.cid-s4RajMfNVd button.navbar-toggler .hamburger span:nth-child(1){top: 0;transition: all .2s;}.cid-s4RajMfNVd button.navbar-toggler .hamburger span:nth-child(2){top: 8px;transition: all .15s;}.cid-s4RajMfNVd button.navbar-toggler .hamburger span:nth-child(3){top: 8px;transition: all .15s;}.cid-s4RajMfNVd button.navbar-toggler .hamburger span:nth-child(4){top: 16px;transition: all .2s;}.cid-s4RajMfNVd nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(1){top: 8px;width: 0;opacity: 0;right: 50%;transition: all .2s;}.cid-s4RajMfNVd nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(2){-webkit-transform: rotate(45deg);transform: rotate(45deg);transition: all .25s;}.cid-s4RajMfNVd nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(3){-webkit-transform: rotate(-45deg);transform: rotate(-45deg);transition: all .25s;}.cid-s4RajMfNVd nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(4){top: 8px;width: 0;opacity: 0;right: 50%;transition: all .2s;}.cid-s4RajMfNVd .navbar-dropdown{padding: .5rem 1rem;position: fixed;}.cid-s4RajMfNVd a.nav-link{display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;}.cid-s4RajMfNVd .nav-link .brionz-iconfont,.cid-s4RajMfNVd .dropdown-item .brionz-iconfont{margin-right: .2rem;}.cid-s4RajMfNVd .ampstart-btn{display: flex;-webkit-align-self: center;align-self: center;}.cid-s4RajMfNVd .ampstart-btn.hamburger{position: relative;right: 20px;margin-left: auto;width: 30px;height: 20px;background: none;border: none;cursor: pointer;z-index: 1000;}.cid-s4RajMfNVd .ampstart-btn.hamburger:focus{outline: none;}.cid-s4RajMfNVd .ampstart-btn.hamburger span{position: absolute;right: 0;width: 30px;height: 2px;border-right: 5px;background-color: #ffffff;}.cid-s4RajMfNVd .ampstart-btn.hamburger span:nth-child(1){top: 0;transition: all .2s;}.cid-s4RajMfNVd .ampstart-btn.hamburger span:nth-child(2){top: 8px;transition: all .15s;}.cid-s4RajMfNVd .ampstart-btn.hamburger span:nth-child(3){top: 8px;transition: all .15s;}.cid-s4RajMfNVd .ampstart-btn.hamburger span:nth-child(4){top: 16px;transition: all .2s;}@media (min-width: 992px){.cid-s4RajMfNVd .ampstart-btn,.cid-s4RajMfNVd amp-sidebar{display: none;}.cid-s4RajMfNVd .dropdown-menu .dropdown-toggle:after{content: '';border-bottom: 0.35em solid transparent;border-left: 0.35em solid;border-right: 0;border-top: 0.35em solid transparent;margin-left: 0.3rem;margin-top: -0.3077em;position: absolute;right: 1.1538em;top: 50%;}}.cid-s4RajMfNVd amp-sidebar{min-width: 260px;z-index: 1050;background-color: #000000;}.cid-s4RajMfNVd amp-sidebar.open:after{content: '';position: absolute;top: 0;left: 0;bottom: 0;right: 0;background-color: red;}.cid-s4RajMfNVd .open{-webkit-transform: translateX(0%);transform: translateX(0%);display: block;}.cid-s4RajMfNVd .builder-sidebar{background-color: #000000;position: relative;min-height: 100vh;z-index: 1030;padding: 1rem 2rem;max-width: 20rem;}.cid-s4RajMfNVd .builder-sidebar .dropdown{position: relative;}.cid-s4RajMfNVd .builder-sidebar .dropdown:hover > .dropdown-menu{position: relative;text-align: center;}.cid-s4RajMfNVd .sidebar{padding: 1rem 0;margin: 0;}.cid-s4RajMfNVd .sidebar > li{list-style: none;display: flex;-webkit-flex-direction: column;flex-direction: column;}.cid-s4RajMfNVd .sidebar a{display: block;text-decoration: none;margin-bottom: 10px;}.cid-s4RajMfNVd .close-sidebar{width: 30px;height: 30px;position: relative;cursor: pointer;background-color: transparent;border: none;}.cid-s4RajMfNVd .close-sidebar:focus{outline: 2px auto #ff98d5;}.cid-s4RajMfNVd .close-sidebar span{position: absolute;left: 0;width: 30px;height: 2px;border-right: 5px;background-color: #ffffff;}.cid-s4RajMfNVd .close-sidebar span:nth-child(1){-webkit-transform: rotate(45deg);transform: rotate(45deg);}.cid-s4RajMfNVd .close-sidebar span:nth-child(2){-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}.cid-s4RajMfNVd .navbar-info span{word-break: break-word;}.cid-s4RajMfNVd .navbar.collapsed .navbar-collapse .navbar-nav{padding-top: 46px;}@media (min-width: 992px){.cid-s4RajMfNVd{min-height: 21px;}.cid-s4RajMfNVd .navbar:not(.collapsed) .navbar-collapse{position: absolute;left: 0;bottom: 0;width: 100%;-webkit-transform: translateY(100%);transform: translateY(100%);padding: 0 1rem .5rem 1rem;background: #000000;-webkit-justify-content: center;justify-content: center;}.cid-s4RajMfNVd .navbar:not(.collapsed) .navbar-brand{-webkit-flex-basis: auto;flex-basis: auto;}.cid-s4RajMfNVd .navbar:not(.collapsed) .navbar-collapse{-webkit-justify-content: flex-end;justify-content: flex-end;position: static;-webkit-transform: translateY(0);transform: translateY(0);-webkit-flex: 2 1 60%;flex: 2 1 60%;padding: 0;}.cid-s4RajMfNVd .navbar.collapsed .navbar-brand{-webkit-flex-basis: auto;flex-basis: auto;}}@media (max-width: 991px){.cid-s4RajMfNVd .navbar-brand{-webkit-flex-basis: auto;flex-basis: auto;}}@media (max-width: 767px){.cid-s4RajMfNVd .navbar-brand{-webkit-flex-basis: 100%;flex-basis: 100%;}}.cid-s4R51E5gNv{background-image: url("/ampost/images/background1.jpg");}.cid-s4R51E5gNv .brionz-overlay{background-color: #414141;opacity: 0.4;}.cid-s4R51E5gNv .brionz-text,.cid-s4R51E5gNv .brionz-section-btn{color: #fae8dd;}.cid-s4R51E5gNv .line-wrap{display: inline-block;width: 100%;}.cid-s4R51E5gNv .line{display: inline-block;width: 200px;height: 2px;background-color: #e9c4b0;margin-top: 1rem;margin-bottom: 2rem;}.cid-s4R55QRwMV{padding-top: 75px;padding-bottom: 45px;background-color: #ffffff;}.cid-s4R55QRwMV .card{margin-bottom: 2rem;}.cid-s4R55QRwMV .card-wrapper{border: 1px solid #f1f1f1;padding: 0rem;transition: all 0.3s;}.cid-s4R55QRwMV .card-wrapper:hover{background-color: #fdf6f1;border-color: #fdf6f1;}.cid-s4R55QRwMV .brionz-iconfont{color: #e9c4b0;font-size: 3rem;}.cid-s4R55QRwMV .iconfont-wrapper{margin-bottom: 2rem;display: inline-block;width: 3rem;height: 3rem;}.cid-s4R55QRwMV .box-title{margin: 0;}.cid-s4R55QRwMV .title-wrapper{margin-bottom: 1rem;padding: 2rem;padding-bottom: 0rem;}.cid-s4R55QRwMV p{padding-right: 2rem;padding-left: 2rem;}.cid-s4R55QRwMV .card-ico{min-width: 50px;}.cid-s4R55QRwMV .brionz-text{color: #585858;}.cid-s4R5fe32F9{padding-top: 5rem;padding-bottom: 5rem;background-color: #ffffff;}.cid-s4R5fe32F9 .container-fluid{padding-right: 3rem;padding-left: 3rem;}.cid-s4R5fe32F9 .line-wrap{display: inline-block;width: 100%;}.cid-s4R5fe32F9 .line{display: inline-block;margin-top: 1rem;margin-bottom: 1rem;}.cid-s4R5fe32F9 p{margin-bottom: 2rem;}.cid-s4R5fe32F9 .brionz-text,.cid-s4R5fe32F9 .brionz-section-btn{color: #585858;}.cid-s4R5fe32F9 svg{fill: #e9c4b0;}.cid-s4Rns770xD{padding-top: 30px;padding-bottom: 45px;background-color: #ffffff;}.cid-s4Rns770xD .container{max-width: 1400px;}.cid-s4Rns770xD .brionz-col-lg-3,.cid-s4Rns770xD .brionz-row{overflow: hidden;margin: 0;padding: 0;}.cid-s4Rns770xD .line-wrap{display: inline-block;width: 100%;}.cid-s4Rns770xD .line{display: inline-block;margin-top: 1rem;margin-bottom: 1rem;}.cid-s4Rns770xD svg{fill: #e9c4b0;}.cid-s4Rns770xD amp-img img{object-fit: cover;height: 100%;}.cid-s4Rns770xD amp-img{transition: all 0.3s;height: 100%;}.cid-s4Rns770xD amp-img:hover{cursor: pointer;-webkit-transform: scale(1.2);transform: scale(1.2);}.cid-s4Rns770xD .brionz-section-subtitle{padding-bottom: 2rem;color: #828282;text-align: center;}.cid-s4Rns770xD p.brionz-text{padding-top: 2rem;padding-bottom: 0;margin: 0;}.cid-s4Rns770xD .brionz-section-btn{padding-top: 2rem;}@media (max-width: 992px){.cid-s4Rns770xD .container{padding: 2rem;}}@media (max-width: 576px){.cid-s4Rns770xD .container{padding: 1rem;}}.cid-s4Rns770xD .brionz-section-title,.cid-s4Rns770xD .line-wrap{text-align: center;}.cid-s4Rns770xD a.control{position: absolute;width: 16px;height: 16px;right: 48px;top: 32px;}.cid-s4Rns770xD a.control .close{position: relative;width: 32px;height: 32px;}.cid-s4Rns770xD a.control .close:before,.cid-s4Rns770xD a.control .close:after{position: absolute;left: 15px;content: ' ';height: 33px;width: 2px;background-color: #fff;}.cid-s4Rns770xD a.control .close:before{-webkit-transform: rotate(45deg);transform: rotate(45deg);}.cid-s4Rns770xD a.control .close:after{-webkit-transform: rotate(-45deg);transform: rotate(-45deg);}.cid-s4RpqDHdc9{padding-top: 3rem;padding-bottom: 3rem;background-color: #ffffff;}.cid-s4RpqDHdc9 .title,.cid-s4RpqDHdc9 .brionz-section-btn{color: #e9c4b0;}.cid-s4RpqDHdc9 .card-img{transition: all 0.3s;position: relative;overflow: hidden;}.cid-s4RpqDHdc9 .card-img:hover{filter: contrast(70%) brightness(130%);}.cid-s4RpqDHdc9 .card-img:hover .img-text{-webkit-transform: translateY(0px);transform: translateY(0px);}.cid-s4RpqDHdc9 .line-wrap{display: inline-block;width: 100%;}.cid-s4RpqDHdc9 .line{display: inline-block;margin-top: 0rem;margin-bottom: 2rem;}.cid-s4RpqDHdc9 svg{fill: #e9c4b0;}.cid-s4RpqDHdc9 .img-text{transition: all 0.3s;position: absolute;bottom: 0;left: 0;padding: 5px;background-color: white;z-index: 1;width: 100%;margin: 0;-webkit-transform: translateY(30px);transform: translateY(30px);}@media (max-width: 991px){.cid-s4RpqDHdc9 .img-text{-webkit-transform: translateY(0px);transform: translateY(0px);}.cid-s4RpqDHdc9 .card-img{margin-top: 3rem;margin-bottom: 3rem;}.cid-s4RpqDHdc9 amp-img{filter: contrast(70%) brightness(130%);}}.cid-s4R5nWwuZK{padding-top: 2rem;padding-bottom: 2rem;background-color: #000000;}.cid-s4R5nWwuZK .text1{color: #e9c4b0;}.cid-s4R5nWwuZK h4{margin: 0;}.engine{position: absolute;text-indent: -2400px;text-align: center;padding: 0;top: 0;left: -2400px;}[class*="-iconfont"]{display: inline-flex;}.site-desc{clip:rect(1px,1px,1px,1px);position:absolute;height:1px;width:1px;overflow:hidden}
    </style>
 
  <script async  src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
  <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
  <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
  <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
  <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
  <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
  
  
<meta name="theme-color" content="#ff98d5">
<link rel="manifest" href="manifest.json">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/ampost/images/apple-launch-640x1136.png">
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/ampost/images/apple-launch-750x1334.png">
<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/ampost/images/apple-launch-1242x2208.png">
<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/ampost/images/apple-launch-1125x2436.png">
<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/ampost/images/apple-launch-1536x2048.png">
<link rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/ampost/images/apple-launch-1668x2224.png">
<link rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/ampost/images/apple-launch-2048x2732.png">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="apple-mobile-web-app-title" content="Arumi Flower Shop">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "headline": "{{.Title}}",
        "datePublished": "{{.PublishDate}}",
        "image": [
          "{{.Params.image}}"
        ],
        "@id": "{{.Permalink}}",
        "author": {
          "@type": "Organization",
          "name": "Arumi Flower Shop"
      }
    </script>

{{ template "_internal/twitter_cards.html" . }}
</head>
<body>
    <amp-sidebar id="sidebar" class="cid-s4RajMfNVd" layout="nodisplay" side="left">
        <div class="builder-sidebar" id="builder-sidebar">
            <button on="tap:sidebar.close" class="close-sidebar">
                <span></span>
                <span></span>
            </button>


            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-white display-5" href="/">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-5" href="/sections">
                        Koleksi Lainnya</a>
                </li>
            </ul>
            <div class="navbar-buttons brionz-section-btn">
                <a class="btn btn-lg btn-primary display-6" href="tel:+6281298727281" target="_blank">Pesan
                    Sekarang<br></a>
            </div>
        </div>
    </amp-sidebar><amp-install-serviceworker src="sw.js" layout="nodisplay"></amp-install-serviceworker>
    <div class="pwa-mobile-notification">
        <div class="sticker">
            <span>Install this webapp on your device: tap <span><svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 50 50" height="15px"
                        id="Layer_1" version="1.1" viewBox="0 0 50 50" width="15px" xml:space="preserve">
                        <polyline fill="none" points="17,10 25,2 33,10   " stroke="#000000" stroke-linecap="round"
                            stroke-miterlimit="10" stroke-width="2"></polyline>
                        <line fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10"
                            stroke-width="2" x1="25" x2="25" y1="32" y2="2.333"></line>
                        <rect fill="none" height="50" width="50"></rect>
                        <path d="M17,17H8v32h34V17h-9" fill="none" stroke="#000000" stroke-linecap="round"
                            stroke-miterlimit="10" stroke-width="2"></path>
                    </svg></span>and then Add to homescreen.</span>
        </div>
        </amp-script>
    </div>

    <section class="menu1 menu horizontal-menu animated-menu cid-s4RajMfNVd" id="menu1-7">



        <amp-animation id="showAnim" layout="nodisplay">
            <script type="application/json">
            {
                "duration": "200ms",
                "fill": "both",
                "iterations": "1",
                "direction": "alternate",
                "animations": [
                   {
                      "selector": "#navbarSupportedContent",
                      "keyframes": {"opacity": "1", "visibility": "visible"}
                   }
                 ]
            }
            </script>
        </amp-animation>
        <amp-animation id="hideAnim" layout="nodisplay">
            <script type="application/json">
            {
                "duration": "200ms",
                "fill": "both",
                "iterations": "1",
                "direction": "alternate",
                "animations": [
                   {
                     "selector": "#navbarSupportedContent",
                     "keyframes": {"opacity": "0", "visibility": "hidden"}
                   }
                 ]
            }
            </script>
        </amp-animation>
        <div id="marker" class="super-hide">
            <amp-position-observer on="enter:showAnim.start; exit:hideAnim.start"
                layout="nodisplay"></amp-position-observer>
        </div>
        <nav class="navbar navbar-dropdown  navbar-fixed-top navbar-expand-lg">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <amp-img src="/ampost/images/favicon-110x110.png" layout="responsive" width="55" height="55"
                        alt="{{.Title}}" class="brionz-loader" title="Arumi Flower Shop">
                        <a href="/"></a>
                    </amp-img>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-7" href="/">Arumi Flower
                        Shop</a></span>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item">
                        <a class="nav-link link text-white display-5" href="/">Beranda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-5" href="/sections">
                            Koleksi Lainnya</a>
                    </li>
                </ul>
                <div class="navbar-buttons brionz-section-btn"><a class="btn btn-lg btn-primary display-6"
                        href="https://api.whatsapp.com/send?text=Halo!%20Arumi%20Flower%20Shop,Saya%20mau%20pesan%20bunga...&amp;phone=6281298727281">Pesan
                        Sekarang<br></a></div>
            </div>

            <button on="tap:sidebar.toggle" class="ampstart-btn hamburger sticky-but">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>




    </section>

    <section class="header1 cid-s4R51E5gNv brionz-fullscreen" id="header1-0">

        <div class="brionz-overlay" style="opacity: 0.4; background-color: rgb(65, 65, 65);"></div>

        <div class="container">
            <div class="brionz-row brionz-justify-content-center">
                <div class="brionz-col-lg-7 brionz-col-md-12">
                    <div class="line-wrap align-center">
                        <div class="line"></div>
                    </div>
                    <h1 class="brionz-fonts-style align-center brionz-white brionz-bold brionz-section-title display-2">
                        {{.Title}}</h1>
                    <p class="brionz-fonts-style brionz-text align-center display-7">Pengrajin Karangan Bunga Kreatif
                        Terbaik di Indonesia.</p>
                    <div class="brionz-section-btn align-center"><a
                            class="btn btn-lg brionz-editable-button btn-primary display-6"
                            href="tel:+6281298727281">Telpon Sekarang</a></div>
                </div>
            </div>
        </div>

    </section>

    <section class="features2 cid-s4R55QRwMV" id="features2-1">



        <div class="container">

            <div class="brionz-row brionz-justify-content-center">
                <div class="brionz-col-lg-10 brionz-col-md-10">
                    <h1 class="brionz-fonts-style align-center brionz-black brionz-bold brionz-section-title display-3">
                        Pilihan Bunga yang dapat Mewakili Anda.</h1>
                </div>

                <div class="card brionz-col-sm-12 brionz-col-md-6 brionz-col-lg-4">
                    <div class="card-wrapper">
                        <div class="title-wrapper align-center">

                            <h2 class="box-title brionz-fonts-style brionz-black brionz-bold display-4">Wedding Flowers
                            </h2>
                        </div>
                        <div class="card-box">

                            <amp-img src="/ampost/images/hwd-9-350x350.jpg" layout="responsive" alt="{{.Title}}"
                                width="349" height="349" class="brionz-loader" title="Bunga Papan Happy Wedding">

                                <a href="/wedding"></a>
                            </amp-img>
                        </div>
                    </div>
                </div>

                <div class="card brionz-col-sm-12 brionz-col-md-6 brionz-col-lg-4">
                    <div class="card-wrapper">
                        <div class="title-wrapper align-center">

                            <h2 class="box-title brionz-fonts-style brionz-black brionz-bold display-4">Bunga Papan Duka
                                Cita</h2>
                        </div>
                        <div class="card-box">


                            <amp-img src="/ampost/images/dukacita11-698x698.jpg" layout="responsive" alt="{{.Title}}"
                                width="349" height="349" class="brionz-loader" title="Bunga Papan Duka Cita">

                                <a href="/dukacita"></a>
                            </amp-img>
                        </div>
                    </div>
                </div>

                <div class="card brionz-col-sm-12 brionz-col-md-6 brionz-col-lg-4">
                    <div class="card-wrapper">
                        <div class="title-wrapper align-center">

                            <h2 class="box-title brionz-fonts-style brionz-black brionz-bold display-4">Hand Bouquet
                            </h2>
                        </div>
                        <div class="card-box">

                            <amp-img src="/ampost/images/handbouquet5-350x350.jpg" layout="responsive" alt="{{.Title}}"
                                width="349" height="349" class="brionz-loader">

                                <a href="/handbouquet"></a>
                            </amp-img>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="gallery1 cid-s4Rns770xD" id="gallery1-8">


        <div class="container">
            <div class="line-wrap">
                <div class="line">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="-1.004319834727255 -1.0011127187335447 203.99999999999997 24.619999999999983"
                        width="200" height="20.62" fill="#000000">
                        <path
                            d="M158.49 16.27C161.09 18.14 163.91 14.19 162.59 10.29C161.28 6.26 158.02 3.46 153.59 2.68C143.99 1.02 125.06 11.55 113.04 14.8C104.11 17.21 98.63 13.67 95.67 9.73C101.74 13.99 107.26 12.48 112.93 11.4C125.96 8.92 139.4 -1.39 153.69 0.16C160.36 1.12 165.07 7.72 164.71 12.92C164.67 13.38 164.6 13.83 164.49 14.27C163.62 17.35 162.09 18.62 160.72 19C157.01 20.03 153.3 13.28 158.17 9.22C156.46 11.67 157.01 15.24 158.49 16.27Z">

                        </path>
                        <path
                            d="M169.27 14.57C194.94 31.39 207.95 8.46 194.8 1.94C192.77 0.94 188.57 0.35 185.58 4.4C189.25 1.58 193.34 2.52 195.03 3.97C199.53 7.81 197.98 13.29 192.72 15.81C184.42 19.02 176.89 15.66 170.3 10.98C165.6 8.19 164.39 6.89 160.6 5.19C162.74 5.09 161.63 7.91 163.68 9.23C163.53 9.08 162.78 8.34 161.44 7.01L161.44 7.01L161.44 7.01C165.03 10.99 167.65 13.51 169.27 14.57Z">

                        </path>
                        <path
                            d="M43.01 3.69C40.25 1.8 37.26 5.78 38.65 9.72C40.05 13.77 43.51 16.6 48.2 17.39C58.38 19.05 78.46 8.44 91.21 5.16C100.69 2.72 106.49 6.29 109.64 10.26C103.19 5.97 97.35 7.5 91.33 8.59C77.51 11.08 63.26 21.49 48.1 19.93C41.02 18.96 36.03 12.3 36.42 7.06C36.45 6.6 36.53 6.14 36.65 5.71C37.57 2.6 39.2 1.32 40.64 0.93C44.58 -0.11 48.51 6.7 43.35 10.79C45.16 8.32 44.58 4.72 43.01 3.69Z">

                        </path>
                        <path
                            d="M32.23 6.43C5.31 -10.26 -8.35 12.5 5.45 18.96C7.57 19.96 11.98 20.54 15.12 16.52C11.27 19.32 6.98 18.39 5.21 16.95C0.48 13.15 2.11 7.71 7.64 5.2C16.35 2.01 24.24 5.35 31.15 9.99C36.09 12.75 37.36 14.05 41.34 15.74C39.08 15.84 40.25 13.03 38.1 11.73C38.26 11.87 39.04 12.61 40.46 13.93C36.68 9.98 33.94 7.48 32.23 6.43Z">

                        </path>
                    </svg>
                </div>
            </div>
            <h2 class="brionz-section-title align-center brionz-fonts-style brionz-bold display-3">Testimoni</h2>
            <h3 class="brionz-section-subtitle align-center  brionz-fonts-style display-5">Berikut testimonial yang kami
                screenshot dari percakapan kami di Whatsapp.</h3>
            <div class="brionz-row">
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader"
                        src="/ampost/images/testimoni-arumiflorist-1-540x1140.jpg" on="tap:lightbox1" role="button"
                        tabindex="0" height="723" width="342.4736842105263" alt="{{.Title}}"
                        title="Testimonal Arumi Flower Shop">

                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader"
                        src="/ampost/images/testimoni-arumiflorist-2-540x1140.jpg" on="tap:lightbox2" role="button"
                        tabindex="0" alt="{{.Title}}" width="342.4736842105263" height="723"
                        title="Testimonal Arumi Flower Shop">

                    </amp-img>
                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader"
                        src="/ampost/images/testimoni-arumiflorist-3-540x1140.jpg" on="tap:lightbox3" role="button"
                        tabindex="0" height="723" width="342.4736842105263" alt="{{.Title}}"
                        title="Testimonal Arumi Flower Shop">

                    </amp-img>
                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader"
                        src="/ampost/images/testimoni-arumiflorist-4-540x1140.jpg" on="tap:lightbox4" role="button"
                        tabindex="0" height="723" width="342.4736842105263" alt="{{.Title}}"
                        title="Testimonal Arumi Flower Shop">

                    </amp-img>
                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader super-hide"
                        src="/ampost/images/05.png" on="tap:lightbox5" role="button" tabindex="0" height="100"
                        width="114.33333333333333" alt="{{.Title}}">

                    </amp-img>
                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader super-hide"
                        src="/ampost/images/06.png" on="tap:lightbox6" role="button" tabindex="0" height="100"
                        width="114.33333333333333" alt="{{.Title}}">

                    </amp-img>
                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader super-hide"
                        src="/ampost/images/07.png" on="tap:lightbox7" role="button" tabindex="0" height="100"
                        width="114.33333333333333" alt="{{.Title}}">

                    </amp-img>
                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader super-hide"
                        src="/ampost/images/08.png" on="tap:lightbox8" role="button" tabindex="0" height="100"
                        width="114.33333333333333" alt="{{.Title}}">

                    </amp-img>
                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader super-hide"
                        src="/ampost/images/09.png" on="tap:lightbox9" role="button" tabindex="0" height="100"
                        width="114.33333333333333" alt="{{.Title}}">

                    </amp-img>
                </div>
                <div class="brionz-col-lg-3 brionz-col-md-6 brionz-col-sm-12 ">
                    <amp-img layout="responsive" class="carousel-img image-without-link brionz-loader super-hide"
                        src="/ampost/images/10.png" on="tap:lightbox10" role="button" tabindex="0" height="100"
                        width="114.33333333333333" alt="{{.Title}}">

                    </amp-img>
                </div>
            </div>
        </div>
        <amp-image-lightbox id="lightbox1" layout="nodisplay">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox2" layout="nodisplay">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox3" layout="nodisplay">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox4" layout="nodisplay">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox5" layout="nodisplay" class="super-hide">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox6" layout="nodisplay" class="super-hide">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox7" layout="nodisplay" class="super-hide">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox8" layout="nodisplay" class="super-hide">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox9" layout="nodisplay" class="super-hide">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
        <amp-image-lightbox id="lightbox10" layout="nodisplay" class="super-hide">
            <a class="control" data-close-button-aria-label="Close">
                <span class="close"></span>
            </a>
        </amp-image-lightbox>
    </section>
    <section class="info2 cid-s4R5fe32F9" id="info2-2">
        <div class="container">
            <div class="brionz-row brionz-justify-content-center">
                <div class="brionz-col-md-12 brionz-col-lg-8">
                    <div class="line-wrap align-center">
                        <div class="line">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="-1.004319834727255 -1.0011127187335447 203.99999999999997 24.619999999999983"
                                width="200" height="20.62" fill="#000000">
                                <path
                                    d="M158.49 16.27C161.09 18.14 163.91 14.19 162.59 10.29C161.28 6.26 158.02 3.46 153.59 2.68C143.99 1.02 125.06 11.55 113.04 14.8C104.11 17.21 98.63 13.67 95.67 9.73C101.74 13.99 107.26 12.48 112.93 11.4C125.96 8.92 139.4 -1.39 153.69 0.16C160.36 1.12 165.07 7.72 164.71 12.92C164.67 13.38 164.6 13.83 164.49 14.27C163.62 17.35 162.09 18.62 160.72 19C157.01 20.03 153.3 13.28 158.17 9.22C156.46 11.67 157.01 15.24 158.49 16.27Z">
                                </path>
                                <path
                                    d="M169.27 14.57C194.94 31.39 207.95 8.46 194.8 1.94C192.77 0.94 188.57 0.35 185.58 4.4C189.25 1.58 193.34 2.52 195.03 3.97C199.53 7.81 197.98 13.29 192.72 15.81C184.42 19.02 176.89 15.66 170.3 10.98C165.6 8.19 164.39 6.89 160.6 5.19C162.74 5.09 161.63 7.91 163.68 9.23C163.53 9.08 162.78 8.34 161.44 7.01L161.44 7.01L161.44 7.01C165.03 10.99 167.65 13.51 169.27 14.57Z">
                                </path>
                                <path
                                    d="M43.01 3.69C40.25 1.8 37.26 5.78 38.65 9.72C40.05 13.77 43.51 16.6 48.2 17.39C58.38 19.05 78.46 8.44 91.21 5.16C100.69 2.72 106.49 6.29 109.64 10.26C103.19 5.97 97.35 7.5 91.33 8.59C77.51 11.08 63.26 21.49 48.1 19.93C41.02 18.96 36.03 12.3 36.42 7.06C36.45 6.6 36.53 6.14 36.65 5.71C37.57 2.6 39.2 1.32 40.64 0.93C44.58 -0.11 48.51 6.7 43.35 10.79C45.16 8.32 44.58 4.72 43.01 3.69Z">
                                </path>
                                <path
                                    d="M32.23 6.43C5.31 -10.26 -8.35 12.5 5.45 18.96C7.57 19.96 11.98 20.54 15.12 16.52C11.27 19.32 6.98 18.39 5.21 16.95C0.48 13.15 2.11 7.71 7.64 5.2C16.35 2.01 24.24 5.35 31.15 9.99C36.09 12.75 37.36 14.05 41.34 15.74C39.08 15.84 40.25 13.03 38.1 11.73C38.26 11.87 39.04 12.61 40.46 13.93C36.68 9.98 33.94 7.48 32.23 6.43Z">
                                </path>
                            </svg>
                        </div>
                    </div>

                    <h1 class="brionz-fonts-style align-center brionz-black brionz-bold brionz-section-title display-2">
                        {{.Title}}</h1>
                    {{.Content}}
                </div>
            </div>
        </div>
    </section>
    <section class="header2 cid-s4RpqDHdc9" id="header2-9">
        <div class="container">
            <div class="brionz-row brionz-justify-content-center">
                <div class="brionz-col-lg-4 brionz-col-md-6">
                    <div class="card-img">
                        <div class="img-text">
                            <p
                                class="brionz-fonts-style brionz-text align-center brionz-bold brionz-black img-text display-4">
                                Flower Design</p>
                        </div>
                        <amp-img src="/ampost/images/img1.jpg" layout="responsive" alt="{{.Title}}"
                            width="350.77777777777777" height="451" class="brionz-loader">

                        </amp-img>
                    </div>
                </div>
                <div class="brionz-col-lg-4 brionz-col-md-8 vcenter">
                    <p class="brionz-fonts-style brionz-text title align-center display-7">Ucapkan yang Anda mau</p>
                    <div class="line-wrap align-center">
                        <div class="line">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="-1.004319834727255 -1.0011127187335447 203.99999999999997 24.619999999999983"
                                width="200" height="20.62" fill="#000000">
                                <path
                                    d="M158.49 16.27C161.09 18.14 163.91 14.19 162.59 10.29C161.28 6.26 158.02 3.46 153.59 2.68C143.99 1.02 125.06 11.55 113.04 14.8C104.11 17.21 98.63 13.67 95.67 9.73C101.74 13.99 107.26 12.48 112.93 11.4C125.96 8.92 139.4 -1.39 153.69 0.16C160.36 1.12 165.07 7.72 164.71 12.92C164.67 13.38 164.6 13.83 164.49 14.27C163.62 17.35 162.09 18.62 160.72 19C157.01 20.03 153.3 13.28 158.17 9.22C156.46 11.67 157.01 15.24 158.49 16.27Z">
                                </path>
                                <path
                                    d="M169.27 14.57C194.94 31.39 207.95 8.46 194.8 1.94C192.77 0.94 188.57 0.35 185.58 4.4C189.25 1.58 193.34 2.52 195.03 3.97C199.53 7.81 197.98 13.29 192.72 15.81C184.42 19.02 176.89 15.66 170.3 10.98C165.6 8.19 164.39 6.89 160.6 5.19C162.74 5.09 161.63 7.91 163.68 9.23C163.53 9.08 162.78 8.34 161.44 7.01L161.44 7.01L161.44 7.01C165.03 10.99 167.65 13.51 169.27 14.57Z">
                                </path>
                                <path
                                    d="M43.01 3.69C40.25 1.8 37.26 5.78 38.65 9.72C40.05 13.77 43.51 16.6 48.2 17.39C58.38 19.05 78.46 8.44 91.21 5.16C100.69 2.72 106.49 6.29 109.64 10.26C103.19 5.97 97.35 7.5 91.33 8.59C77.51 11.08 63.26 21.49 48.1 19.93C41.02 18.96 36.03 12.3 36.42 7.06C36.45 6.6 36.53 6.14 36.65 5.71C37.57 2.6 39.2 1.32 40.64 0.93C44.58 -0.11 48.51 6.7 43.35 10.79C45.16 8.32 44.58 4.72 43.01 3.69Z">
                                </path>
                                <path
                                    d="M32.23 6.43C5.31 -10.26 -8.35 12.5 5.45 18.96C7.57 19.96 11.98 20.54 15.12 16.52C11.27 19.32 6.98 18.39 5.21 16.95C0.48 13.15 2.11 7.71 7.64 5.2C16.35 2.01 24.24 5.35 31.15 9.99C36.09 12.75 37.36 14.05 41.34 15.74C39.08 15.84 40.25 13.03 38.1 11.73C38.26 11.87 39.04 12.61 40.46 13.93C36.68 9.98 33.94 7.48 32.23 6.43Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <h1 class="brionz-fonts-style align-center brionz-black brionz-bold brionz-section-title display-3">
                        Anda dapat memesan ucapan pada bunga yang Anda pesan.</h1>

                    <div class="brionz-section-btn align-center">
                        <p><a class="btn btn-lg brionz-editable-button btn-primary display-6"
                                href="https://api.whatsapp.com/send?text=Halo!%20Arumi%20Flower%20Shop,Saya%20mau%20pesan%20bunga...&phone=6281298727281">Pesan
                                Via WA</a>
                            <a class="btn btn-lg brionz-editable-button btn-secondary display-6"
                                href="tel:+6281298727281">
                                Telpon</a>
                        </p>
                    </div>
                </div>
                <div class="brionz-col-lg-4 brionz-col-md-6">
                    <div class="card-img">
                        <div class="img-text">
                            <p
                                class="brionz-fonts-style brionz-text align-center brionz-bold brionz-black img-text display-4">
                                Interior Decoration</p>
                        </div>
                        <amp-img src="/ampost/images/img2.jpg" layout="responsive" alt="{{.Title}}"
                            width="350.77777777777777" height="451" class="brionz-loader">
                        </amp-img>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer1 cid-s4R5nWwuZK" id="footer1-3">
        <div class="container">
            <div class="brionz-row brionz-justify-content-center">
                <div class="brionz-col-lg-12 brionz-col-md-12">
                    <a href="/">
                        <h4 class="brionz-fonts-style text1 align-center display-5">Arumi Flower Shop 2020</h4>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>