<section class="slice slice-lg">
    <div class="container">
        <div class="mb-5 text-center">
            <h3 class=" mt-4">Jelajahi Koleksi Kami</h3>
            <p class="small text-muted"> <i class="fas fa-arrow-left "></i> Slide untuk melihat koleksi lainnya <i class="fas fa-arrow-right    "></i></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 swiper-js-container">
                <div class="swiper-container swiper-container-coverflow swiper-container-3d swiper-container-horizontal swiper-container-ios"
                    data-swiper-effect="coverflow" data-swiper-centered-slides="true" data-swiper-initial-slide="2"
                    data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="4">
                    <div class="swiper-wrapper"
                        style="transform: translate3d(-1536px, 0px, 0px); perspective-origin: 1728px 50%; transition-duration: 0ms;">
                        {{range $.Site.Data.Category}}
                        <div class="swiper-slide"
                            style="width: 384px; transform: translate3d(0px, 0px, -600px) rotateX(0deg) rotateY(120deg); z-index: -11; transition-duration: 0ms;">
                            <a href="{{.link}}"><div class="card border-0">
                                <figure class="figure">
                                    <img alt="{{.name}}" class="card-img lazyload" data-src="{{.img}}">
                                </figure>
                                <div class="card-img-overlay d-flex align-items-end">
                                    <div class="col text-center">
                                        <h4 class="text-uppercase text-danger"
                                            style="font-family: 'Oswald', sans-serif;">{{.name}}</h4>
                                    </div>
                                </div>
                            </div></a>
                        </div>

                        {{end}}
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>
            </div>
        </div>
</section>