<section class="slice pt-lg-0 bg-section-secondary">
    <div class="text-center">
        <h3>Kategori Koleksi Bunga Arumi</h3>
        <span class="text-small">Geser untuk melihat lebih banyak kategori lainnya</span>
    </div>
    <div class="container swiper-js-container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="swiper-container swiper-container-horizontal" data-swiper-autoplay="2000" data-swiper-items="2"
                    data-swiper-space-between="20" data-swiper-sm-items="4" data-swiper-sm-space-between="20"
                    data-swiper-lg-items="6" data-swiper-lg-space-between="20" style="cursor: grab;">
                    <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                        <div class="swiper-slide p-3 swiper-slide-active" style="width: 200px; margin-right: 20px;">
                            <a href="/wedding">
                                <div class="hover-scale-110">
                                    <img alt="Bunga Papan Happy Wedding" data-src="/img/category/bunga-papan-happy-wedding.jpg"
                                        class="img-fluid img-center lazyload">
                                </div>
                            </a>
                            <div class="text-center mt-3">
                                <a href="/wedding" class="h6 font-weight-bolder">Happy Wedding</a>
                            </div>
                        </div>
                        {{range $.Site.Data.Category}}
                        <div class="swiper-slide p-3 swiper-slide-next" style="width: 200px; margin-right: 20px;">
                            <a href="{{.link}}">
                                <div class="hover-scale-110">
                                    <img alt="{{.name}}" data-src="{{.img}}"
                                        class="img-fluid img-center lazyload">
                                </div>
                            </a>
                            <div class="text-center mt-3">
                                <a href="{{.link}}" class="h6 font-weight-bolder">{{.name}}</a>
                            </div>
                        </div>
                        {{end}}
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
            </div>
        </div>
    </div>
</section>