<section class="slice-sm bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Gratis Ongkir</h6>
                <p class="text-white opacity-7">
                  Pengiriman gratis untuk Wilayah Jakarta dan Sekitarnya.
                </p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Dijamin Fast Respon</h6>
                <p class="text-white opacity-7">
                  Kami menjamin chat pasti langsung dibalas seketika dan permintaan Anda kami layani secepatnya.
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Pembayaran Mudah</h6>
                <ul class="list-inline mt-2">
                  <li class="list-inline-item">
                    <img alt="Visa" class="lazyload" data-src="/img/icons/visa.png" width="48px" height="30px">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Mastercard" class="lazyload" data-src="/img/icons/mastercard.png" width="48px" height="30px">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Maestro" class="lazyload" data-src="/img/icons/maestro.png" width="48px" height="30px">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Bank BCA" class="lazyload" data-src="/img/icons/bca.png" width="30px" height="10px">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer-main">
    <div class="footer footer-dark bg-gradient-dark">
        <div class="container">
            <div class="row pt-md">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <a href="/">
                        <img src="/img/logo-w.png" alt="{{.Title}}" style="height: 70px;">
                    </a>
                    <p>{{.Site.Params.Description}}</p>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                    <h6 class="heading mb-3">{{$.Site.Data.main.footerName1}}</h6>
                    <ul class="list-unstyled">
                        {{range .Site.Menus.footer1}}
                        <li><a href="{{.URL}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
                <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">{{$.Site.Data.main.footerName2}}</h6>
                    <ul class="list-unstyled text-small">
                        {{range .Site.Menus.footer2}}
                        <li><a href="{{.URL}}">{{.Name}}</a></li>
                        {{end}}
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                    <h6 class="heading mb-3">{{$.Site.Data.main.footerName3}}</h6>
                    <ul class="list-unstyled">
                            {{range .Site.Menus.footer3}}
                            <li><a href="{{.URL}}">{{.Name}}</a></li>
                            {{end}}
                    </ul>
                </div>
            </div>
            <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left">
                        &copy; 2019-2020 <a href="/" class="font-weight-bold">{{.Site.Title}}</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="https://youtube.com/arumiflowershop" target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/arumiflowershop" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/arumiflowershop" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/arumiflowershop" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="customizer"><!--
    <a href="#modal-brionz" class="btn btn-info btn-lg btn-icon-only rounded-circle text-white hover-scale-110 shadow-lg mr-3"
        data-toggle="modal">
        <span class="btn-inner--icon"><i class="fas fa-headset"></i></span>
    </a>-->
    <div class="btn-group-toggle row mx-0">
      <a href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank" class="btn btn-sm btn-success col">
          <i class="fab fa-whatsapp mr-1"></i> Chat CS
      </a>
      <a href="tel:+6281298727281" class="btn btn-sm btn-info col">
          <i class="fas fa-phone mr-1"></i> Telpon CS
      </a>
  </div>
</div>