<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{.Description}}">
    <meta name="author" content="Oka bRionZ">
    <title>{{ .Title }} 🌸</title>

    <link rel="canonical" href="{{.Permalink}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    
    {{ template "_internal/twitter_cards.html" . }}

    <meta property="og:title" content="{{.Content}}">
    <meta property="og:site_name" content="{{$.Site.Title}}">
    <meta property="og:url" content="{{.Permalink}}">
    <meta property="og:description" content="{{.Description}}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{.Params.image}}">

    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/purpose.css" id="stylesheet">
</head>