
<section class="slice slice-sm bg-cover bg-size--cover" data-offset-top="#header-main"
  style="background-image: url('{{.Params.image}}'); background-position: center center; padding-top: 147.188px;">
  <span class="mask bg-dark opacity-3"></span>
  <div class="container py-6">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2 class="h1 text-white">{{.Title }}</h2>
        <p class="lead text-white mt-4">{{.Params.Subheading}}</p>
        <a href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" class="btn btn-white rounded-pill mt-4 shadow hover-shadow-lg hover-translate-y-n3">Pesan Sekarang!</a>
      </div>
    </div>
  </div>
</section>