<section class="slice slice-xl bg-cover bg-size--cover" data-offset-top="#header-main"
    style="background-image: url(&quot;{{.Params.image}}&quot;); background-position: center center; padding-top: 147.188px;">
    <span class="mask bg-dark opacity-3"></span>
    <div class="container py-5 pt-lg-7 position-relative zindex-100">
        <div class="row">
            <div class="col-lg-6 text-center text-lg-left">
                <div class="">
                    <h2 class="text-white my-4">
                        <span class="display-4 font-weight-light">{{.Site.Title}}</span>
                        <span class="d-block">{{.Site.Params.Description}}</span>
                    </h2>
                    <p class="lead text-white">
                        Kumpulan Karangan Bunga yang unik dan indah dengan harga yang terjangkau. Solusi lengkap yang dapat mewakili kharisma Anda dan dapat disesuaikan sesuai kebutuhan.
                    </p>
                    <div class="mt-5" id="landing">
                        <a href="#sct-products"
                            class="btn btn-white rounded-pill hover-translate-y-n3 btn-icon d-none d-xl-inline-block scroll-me">
                            <span class="btn-inner--icon"><i class="far fa-shopping-bag"></i></span>
                            <span class="btn-inner--text">Lihat koleksi</span>
                        </a>
                        
                        <a href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank"
                            class="btn btn-white rounded-pill hover-translate-y-n3 btn-icon d-none d-xl-inline-block scroll-me">
                            <span class="btn-inner--icon"><i class="fab fa-whatsapp"></i></span>
                            <span class="btn-inner--text">Pesan Sekarang</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-grid mt-6 d-none d-lg-flex">
            <div class="col-lg-4">
                <div class="card bg-gradient-dark border-0 hover-shadow-lg hover-translate-y-n10">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="icon bg-gradient-primary text-white rounded-circle icon-shape">
                                <i class="far fa-shipping-fast"></i>
                            </div>
                            <div class="icon-text pl-4">
                                <h5 class="ma-0  text-white">Pengiriman Cepat</h5>
                                <p class="mb-0 text-muted">
                                    Gak pake lama, kami mengirim bunga yang Anda pesan setelah selesai langsung dikirim.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-gradient-dark border-0 hover-shadow-lg hover-translate-y-n10">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="icon bg-gradient-primary text-white rounded-circle icon-shape">
                                <i class="far fa-credit-card"></i>
                            </div>
                            <div class="icon-text pl-4">
                                <h5 class="ma-0  text-white">Pembayaran Online</h5>
                                <p class="mb-0 text-muted">
                                    Menyediakan berbagai cara pembayaran yang sah. Dimana saja, dan kapan saja.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card bg-gradient-dark border-0 hover-shadow-lg hover-translate-y-n10">
                    <div class="card-body py-4">
                        <div class="d-flex align-items-start">
                            <div class="icon bg-gradient-primary text-white rounded-circle icon-shape">
                                <i class="fas fa-globe-asia"></i>
                            </div>
                            <div class="icon-text pl-4">
                                <h5 class="ma-0  text-white">Seluruh Indonesia</h5>
                                <p class="mb-0 text-muted">
                                    Kami siap mengirim bunga pesanan Anda ke seluruh wilayah Indonesia.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>