<div id="blog-blog-1" title="blog/blog-1.html">
    <section class="slice-xl delimiter-top">
        <div class="container">
            <div class="row">
                {{ range first 5 (where .Data.Pages "Section" "post") }}
                <div class="col-lg-4">
                    <div class="mb-5 mb-lg-0" data-animate-hover="1">
                        <div class="animate-this">
                            <a href="{{.Permalink}}">
                                <img alt="{{.Title}}" class="img-fluid rounded shadow lazyload"
                                    data-src="{{ if eq .Params.thumbnail nil }}/img/post/thumbnail.png{{else}}{{.Params.thumbnail}}{{ end }}">
                            </a>
                        </div>
                        <div class="pt-4">
                            <small class="text-uppercase">{{ dateFormat "Monday, Jan 2, 2006" "2015-01-21" }}</small>
                            <h5>{{.Title}}</h5>
                            <p class="mt-3">{{if .Description}}{{.Description}}{{end}}</p>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </section>
</div>