
<div class="modal fade fixed-right" id="modal-brionz" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-vertical" role="document">
        <div class="modal-content" id="form-customizer">
            <div class="modal-body">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-toggle="tooltip"
                    data-placement="left" title="Tutup">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="text-center mx-auto mt-4 mb-5">
                    <img alt="{{.Site.Title}}" data-src="/img/logo-indigo.png" class="img-fluid lazyload">
                </div>
                <h5 class="text-center mb-2">{{.Site.Data.main.SideBarMenuSub}}</h5>
                <p class="text-center mb-4">
                    {{$.Site.Data.main.MenuSubsub}}
                </p>
                
                
                
                <h6 class="mb-1">CS Arumi Flower Shop (Dragon)</h6>
                <p class="small text-muted mb-3">
                    Hubungi CS Kami sekarang juga.
                </p>
                <div class="btn-group-toggle row mx-0 mb-5">
                    <a href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=62812987272811" target="_blank" class="btn btn-sm btn-success col mb-2">
                        <i class="fab fa-whatsapp mr-1"></i> Chat CS
                    </a>
                    <a href="+62" class="btn btn-sm btn-success col mb-2">
                        <i class="fas fa-phone mr-1"></i> Telpon CS
                    </a>
                </div>
                <div class="modal-footer border-0">
                    <a href="/koleksi" class="btn btn-block btn-primary mt-auto">
                        Lihat Semua Koleksi
                    </a>
                </div>
                <hr class="mb-4">
                
                <h6 class="mb-1">Gratis Ongkos Kirim!</h6>
                <p class="small text-muted mb-3">
                    *Hanya berlaku untuk wilayah Jakarta dan sekitarnya.
                </p>
                <div class="mx-0 mb-4">
                    <svg class="img-fluid" height="512pt" viewBox="0 -31 512 511" width="512pt"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="m271 118.929688h106v30h-106zm0 0" fill="#3e5959" />
                        <path d="m392 118.929688c-33.089844 0-60 26.910156-60 60v180h107.179688zm0 0" fill="#f03800" />
                        <path
                            d="m497 373.929688c0 41.421874-33.578125 75-75 75s-75-33.578126-75-75c0-41.421876 33.578125-75 75-75s75 33.578124 75 75zm0 0"
                            fill="#3e5959" />
                        <path
                            d="m422 418.929688c-24.8125 0-45-20.183594-45-45 0-24.8125 20.1875-45 45-45s45 20.1875 45 45c0 24.816406-20.1875 45-45 45zm0 0"
                            fill="#bbdcff" />
                        <path
                            d="m180 373.929688c0 41.421874-33.578125 75-75 75s-75-33.578126-75-75c0-41.421876 33.578125-75 75-75s75 33.578124 75 75zm0 0"
                            fill="#537983" />
                        <path
                            d="m105 418.929688c-24.8125 0-45-20.183594-45-45 0-24.8125 20.1875-45 45-45s45 20.1875 45 45c0 24.816406-20.1875 45-45 45zm0 0"
                            fill="#e0f4ff" />
                        <path d="m362 328.929688-30 60h-122l-30-60zm0 0" fill="#ff641a" />
                        <path d="m362 328.929688-30 60h-76v-60zm0 0" fill="#f03800" />
                        <path
                            d="m120 208.929688h-30c-49.628906 0-90 40.371093-90 90l30 15-30 15v60h210v-90c0-49.628907-40.371094-90-90-90zm0 0"
                            fill="#ff9100" />
                        <path d="m0 298.929688h90v30h-90zm0 0" fill="#ff641a" />
                        <path d="m422 148.929688h-45c-24.8125 0-45-20.183594-45-45 0-24.8125 20.1875-45 45-45h45zm0 0"
                            fill="#ff641a" />
                        <g fill="#ffc739">
                            <path d="m452 88.929688h60v30h-60zm0 0" />
                            <path d="m451.992188 150.5 59.996093 30-13.417969 26.835938-59.996093-30zm0 0" />
                            <path d="m498.578125.5 13.414063 26.835938-59.996094 29.996093-13.417969-26.832031zm0 0" />
                        </g>
                        <path d="m512 388.929688h-180v-30c0-49.703126 40.292969-90 90-90s90 40.296874 90 90zm0 0"
                            fill="#ff641a" />
                        <path d="m120 28.929688-15 30-15-30h-60v180h150v-180zm0 0" fill="#ffe569" />
                        <path d="m90 28.929688h30v60h-30zm0 0" fill="#ffc739" />
                        <path
                            d="m180 238.929688h-150c-16.570312 0-30-13.429688-30-30 0-16.566407 13.429688-30 30-30h150c16.570312 0 30 13.433593 30 30 0 16.570312-13.429688 30-30 30zm0 0"
                            fill="#537983" />
                    </svg>
                </div>
            </div>
            <p class=" text-center small muted">Developed by: <a href="https://www.okabrionz.com"> Oka bRionZ</a></p>
        </div>
    </div>
</div>