    <nav class="navbar navbar-main navbar-expand-lg navbar-light bg-light" id="navbar-main">
        <div class="container px-lg-0">
            
            <a class="navbar-brand mr-lg-5" href="/">
                <img alt="{{.Title}}" src="/img/logo-indigo.png" id="navbar-logo" style="height: 50px;">
            </a>
            
            <button class="navbar-toggler pr-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
                aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center">
                    
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Beranda</a>
                    </li>
                    
                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Kategori</a>
                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-arrow p-0">
                            <ul class="list-group list-group-flush">
                                <li>
                                    <a href="/sections" class="list-group-item list-group-item-action" role="button">
                                        <div class="media d-flex align-items-center">
                                            <figure style="width: 50px;">
                                                <img alt="Arumi Flower Shop" src="/favicon.webp"
                                                    class="svg-inject img-fluid" style="height: 50px;">
                                            </figure>
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">Lihat Semua Koleksi</h6>
                                                <p class="mb-0">Sebagian contoh mengagumkan untuk skenario apapun.</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="dropdown-menu-links rounded-bottom delimiter-top p-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        {{range $.Site.Menus.cat}}
                                        <a href="{{.URL}}" class="dropdown-item text-dark">{{.Name}}</a>
                                        {{end}}
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>
                            </div>
                            <div class="delimiter-top py-3 px-4">
                                <span class="badge badge-soft-success">Yaass!</span>
                                <p class="mt-2 mb-0">
                                    Gratis ongkos kirim ke seluruh daerah di Jakarta.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item dropdown dropdown-animate text-dark" data-toggle="hover">
                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Tentang</a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg dropdown-menu-arrow p-0">
                            <ul class="list-group list-group-flush">
                                <li>
                                    <a href="#landing" class="list-group-item list-group-item-action" role="button">
                                        <div class="media d-flex align-items-center">
                                            
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">Landing</h6>
                                                <p class="mb-0">Mengapa Memilih Arumi Flower Shop?</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank" class="list-group-item list-group-item-action"
                                        role="button">
                                        <div class="media d-flex align-items-center">
                                            
                                            <div class="media-body ml-3">
                                                <h6 class="mb-1">Ongkos Kirim</h6>
                                                <p class="mb-0">Penghitungan Biaya Ongkos Kirim.</p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="dropdown-menu-links rounded-bottom delimiter-top p-4">
                                <div class="row">
                                    <div class="col">
                                        <a href="#"
                                            class="dropdown-item">Jasa Dekorasi</a>
                                        <a href="/anggrek" class="dropdown-item">Bunga Anggrek</a>
                                        <a href="/handbouquet" class="dropdown-item">Hand Bouquet</a>
                                        <a href="/wedding"
                                            class="dropdown-item">Happy Wedding</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item d-lg-none d-xl-block">
                        <a class="nav-link text-dark" href="/contact" target="_blank">Kontak</a>
                    </li>
                    <li class="nav-item mr-0">
                        <a href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank"
                            class="nav-link d-lg-none"><i class="fab fa-whatsapp"></i></span>
                            <span class="btn-inner--text">081298727281</span></a>
                        <a href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank"
                            class="btn btn-sm btn-white rounded-pill btn-icon rounded-pill d-none d-lg-inline-flex"
                            data-toggle="tooltip" data-placement="left" title="Chat Via Whatsapp!">
                            <span class="btn-inner--icon"><i class="fab fa-whatsapp"></i></span>
                            <span class="btn-inner--text">081298727281</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>