<section class="slice slice-lg bg-gradient-primary">
    <span class="tongue tongue-top"><i class="far fa-angle-up"></i></span>
    <div class="container">
        <div class="mb-5 text-center">
            <h3 class="text-white mt-4">Jelajahi berdasarkan kategori</h3>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-6 col-sm-12 mb-2">
                <ul class="list-group">
                    <a class="list-group-item mb-2" href="/box"> <li><h5 class="text-danger">Bunga Box</h5></li></a>
                    <a class="list-group-item mb-2" href="/handbouquet"> <li><h5 class="text-danger">Handbouquet</li></a>
                    <a class="list-group-item mb-2" href="/krans"> <li><h5 class="text-danger">Bunga Krans</h5></li></a>
                    <a class="list-group-item mb-2" href="/meja"> <li><h5 class="text-danger">Bunga Meja</h5></li></a>
                    <a class="list-group-item mb-2" href="/congratulations"> <li><h5 class="text-danger">Congratulations</h5 class="text-danger"></li></a>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                    <ul class="list-group">
                        <a class="list-group-item mb-2" href="/dukacita"> <li><h5 class="text-danger">Bunga Duka Cita</h5></li></a>
                        <a class="list-group-item mb-2" href="/wedding"><li><h5 class="text-danger">Bunga Papan Wedding</h5></li></a>
                        <a class="list-group-item mb-2" href="/standing"> <li><h5 class="text-danger">Bunga Standing</h5></li></a>
                        <a class="list-group-item mb-2" href="/dekorasi-rumah-duka"> <li><h5 class="text-danger">Dekorasi Rumah Duka</h5></li></a>
                        <a class="list-group-item mb-2" href="/sections"> <li><h5 class="text-danger">Semua Kategori</h5 class="text-danger"></li></a>
                    </ul>
                </div>
        </div>
    </div>
</section>