<!DOCTYPE html>
<html lang="id">
{{- partial "head.html" . -}}

<body>
    {{- partialCached "navbar.html" . -}}
    <div id="content" class="main-content">
        {{- block "main" . }}{{- end }}
    </div>
    {{- partialCached "footer.html" . -}}
    <script src="/js/purpose.core.js"></script>
    <script async src="/js/jquery.fancybox.min.js"></script>
    <script async src="/js/purpose.js"></script>
    <script async src="/js/lazysizes.min.js"></script>
</body>

</html>