{{define "main"}}

{{ partial "header" .}}
<div id="showcase">
  <section class="slice-xl delimiter-top">
      <div class="container">
          <div class="row">
            {{ range (.Paginator 12).Pages }}
              <div class="col-6 col-lg-4">
                          <a href="{{.Permalink}}">
                              <img alt="{{.Title}}" class="img-fluid rounded shadow lazyload"
                              src="/img/post/thumbnail.png" data-src="{{ if eq .Params.image nil }}/img/post/thumbnail.png{{else}}{{.Params.image}}{{ end }}">
                          </a>
                      <div class="py-4">
                          <h5>{{.Title}}</h5>
                          {{if eq .Params.price nil}}<small class="text-uppercase">{{ dateFormat "Monday, Jan 2, 2006" "2015-01-21" }}</small>{{else}}<span class="text-muted">Rp. {{ .Params.price | lang.NumFmt 2 }}</span>{{end}}
                      </div>
              </div>
              {{end}}
          </div>
      </div>
    <div class="mt-4 text-center">
      <div>{{partial "paginator" .}}</div>
    </div>
  </div>
  </section>
</div>
{{end}}