{{define "main"}}
<div class="container my-3">
    <img src="/img/post/thumbnail.png" data-src="{{.Params.image}}" alt="{{.Title}}" class="img-fluid lazyload">
<h3>{{.Title}}</h3>
{{.Content}}
</div>
{{end}}