{{define "main"}}

<div class="container">
    <div class="row mt-4">
        <div class="col-md-8">
            <img class="img-fluid" src="{{.Params.image}}">
        </div>
        <div class="col-md-4">
            <div class="jumbotron" style="background-color: rgb(244,244,244);">
                <a href="/tags/{{.Params.kategori}}">
                    <h1 style="font-size: 46px;">{{.Params.kategori}}</h1>
                </a>
                <p>{{.Title}}<br></p>
                <p class="lead text-monospace">Rp. {{.Params.price | lang.NumFmt 2 }}<br></p>
                <button class="btn btn-primary btn-block snipcart-add-item" data-item-id="{{.Params.id}}"
                    data-item-name="{{.Title}}" data-item-price="{{.Params.price}}.00" data-item-url="{{.Permalink | relURL }}"
                    data-item-image="{{.Params.image}}" {{if .Description}}
                    data-item-description="{{.Description}}" {{end}} data-item-height="2" {{if .Params.guid}}data-item-file-guid="{{.Params.guid}}"{{end}}>
                    Add to cart
                </button>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">Overviews</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">Description</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">Reviews</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Condition:</b> {{.Params.condition}}</li>
                            <li class="list-group-item"><b>Size:</b> {{.Params.size}}</li>
                            <li class="list-group-item"><b>Color:</b> {{.Params.color}}</li>
                            <li class="list-group-item"><b>Material:</b> {{.Params.material}}</li>
                            <li class="list-group-item"><b>Season:</b> {{.Params.season}}</li>
                            <li class="list-group-item"><b>Width:</b> {{.Params.width}} cm</li>
                            <li class="list-group-item"><b>Height:</b> {{.Params.height}}</li>
                            <li class="list-group-item"><b>Depth:</b> {{.Params.depth}}</li>
                            <li class="list-group-item"><b>Handle:</b> {{.Params.handle}}</li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        {{.Description}}
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <p>Content for tab 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-primary" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{.Permalink}}&amp;src=sdkpreparse"
                    class="fb-xfbml-parse-ignore"><i class="icon ion-social-facebook"> </i>Bagikan</a>
            </div>
            <div class="col-md-6">
                <div class="intro">
                    <h4>Newsletter</h4>
                    <p>Be the first person to know about our latest event, updates, and products.</p>
                </div>
                <form class="form-inline" method="post" action="thank-you" style="margin-bottom: 10px;" netlify>
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
                    <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
                </form>
            </div>
        </div>
    </div>
</div>

{{end}}