{{define "main"}}

{{ partial "header" .}}
<div id="blog-blog-1">
    <section class="slice-xl delimiter-top">
        <div class="container">
            <div class="row">
                {{ range (.Paginator 12).Pages }}
                <div class="col-lg-4">
                    <div class="mb-5 mb-lg-0" data-animate-hover="1">
                        <div class="animate-this">
                            <a href="{{.Permalink}}">
                                <img alt="{{.Title}}" class="img-fluid rounded shadow lazyload" src="/img/post/thumbnail.png" data-src="{{ if eq .Params.thumbnail nil }}/img/post/thumbnail.png{{else}}{{.Params.thumbnail}}{{ end }}">
                            </a>
                        </div>
                        <div class="py-4">
                            <a href="{{.Permalink}}">
                                <h5>{{.Title}}</h5>
                            </a>
                            <small class="text-uppercase">{{ .Date.Format "Mon, 2 Jan, 2006" }}</small>
                            {{if .Params.price}}<span class="text-muted">Rp. {{ .Params.price | lang.NumFmt 2 }}</span>{{end}}
                            <p>{{.Description}}</p>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <div class="mt-4 text-center">
            <div>{{partial "paginator" .}}</div>
        </div>
</div>
</section>
</div>
{{end}}