{{define "main"}}
{{ $dateFormat := default "Jan 2, 2006" (index .Site.Params "date_format") }}
<div class="main-content">
  <section class="slice slice-lg mt-2" data-offset-top="#header-main">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 artikel">
          <h1 class="lh-150 mb-3">{{.Title}}</h1>
          <p class="lead text-muted mb-0">{{ with .Param "description" }}
            {{ . }}
            {{ else }}
            {{ .Summary }}
            {{ end }}</p>
            {{ partial "depan/dukacita" . }}
            {{ partial "depan/wedding" . }}
          <div class="media align-items-center mt-5">
            <div>
              <a href="/" class="avatar rounded-circle mr-3">
                <img alt="{{.Title}}" src="/favicon.webp">
              </a>
            </div>
            <div class="media-body">
              <span class="d-block h6 mb-0">Arumi Flower Shop</span>
              <time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format $dateFormat }}</time>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="slice">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            {{if .Params.image}}<img class="img-fluid lazyload" src="/img/post/thumbnail.png" data-src="{{.Params.image}}" alt="{{.Title}}">{{end}}
            <aside>
              Daftar isi:
              {{ .TableOfContents }}
            </aside>
            <article>{{.Content}}</article>
          </div>
          <div class="mt-5">
            {{range .Params.tags}}
            <span class="d-inline-block mr-1 mb-2"><a class="btn btn-xs btn-secondary text-capitalize"
                href="/tags/{{. | urlize}}">{{.}}</a></span>
            {{end}}
          </div>
        </div>
      </div>
    </section>
</div>

{{end}}