{{define "main"}}

{{ partial "header" .}}
<div id="blog-blog-1" title="blog/blog-1.html">
  <section class="slice-xl delimiter-top">
      <div class="container">
          <div class="row">
              {{ range .Paginator.Pages }}
              <div class="col-lg-4">
                  <div class="mb-5 mb-lg-0" data-animate-hover="1">
                      <div class="animate-this">
                          <a href="{{.Permalink}}">
                              <img alt="{{.Title}}" class="img-fluid rounded shadow"
                                  src="{{ if eq .Params.image nil }}/img/post/thumbnail.png{{else}}{{.Params.image}}{{ end }}">
                          </a>
                      </div>
                      <div class="py-4">
                          <h5>{{.Title}}</h5>
                          {{if eq .Params.price nil}}<small class="text-uppercase">{{ dateFormat "Monday, Jan 2, 2006" "2015-01-21" }}</small>{{else}}<span class="text-muted">Rp. {{ .Params.price | lang.NumFmt 2 }}</span>{{end}}
                      </div>
                  </div>
              </div>
              {{end}}
          </div>
      </div>
    <div class="mt-4 text-center">
      <div>{{partial "paginator" .}}</div>
    </div>
  </div>
  </section>
</div>
{{end}}