{{define "main"}}
<section class="slice--offset-top parallax-section parallax-section-lg" style="background-image: url(/img/bg.webp); background-position: bottom center;">
    <span class="mask mask-dark--style-2"></span>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="py-5 text-center">
                    <h1 class="heading heading-1 c-white strong-400 text-normal">
                        {{.Title}}
                    </h1>

                    <span class="clearfix"></span>

                    <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center c-white mt-3">
                        Don't be shy!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner text-normal">
                Drop us a line
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>

        <span class="clearfix"></span>

        <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
            Start building fast, beautiful and modern looking websites in no time using our theme.
        </div>

        <span class="space-xs-xl"></span>

        <div class="row justify-content-center">
            <div class="col-lg-6">
                
                <form id="form_contact" method="post" action="thank-you" class="form-default" role="form" netlify>
                    <div class="form-group has-feedback">
                        <input type="text" name="name" class="form-control form-control-xl" placeholder="Your name" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="email" name="email" class="form-control form-control-xl" placeholder="john@your.com" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="text" name="website" class="form-control form-control-xl" placeholder="Phone number" required>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <textarea name="message" class="form-control no-resize" rows="5" placeholder="Messages..." required></textarea>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="">
                        <button type="reset" class="btn">Clear</button>
                        <button type="submit" class="btn btn-block btn-styled btn-lg btn-base-1 btn-shadow strong-600 mt-4">Send messages</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{end}}