<!DOCTYPE html>
<html lang="id-ID" amp>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="description" content="{{.Description}}">

    <title>{{.Title}}</title>

    <script async  src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>

    <link rel="canonical" href="{{.Permalink}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    
    {{ template "_internal/twitter_cards.html" . }}

    <meta property="og:title" content="{{.Title}}">
    <meta property="og:site_name" content="{{$.Site.Title}}">
    <meta property="og:url" content="{{.Permalink}}">
    <meta property="og:description" content="{{.Description}}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{.Params.image}}">
    <meta name="google-site-verification" content="RaAuLx0cEdvOVKhdlys3ykOWi_m8wVqsCHoqq0HEA5E" />

 <style amp-boilerplate>
 body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
</style>
<noscript>
    <style amp-boilerplate>
    body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
    </style>
    </noscript>
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic" rel="stylesheet">
 
 <style amp-custom> 
div,span,h1,h2,h3,h4,h5,h6,p,blockquote,a,ol,ul,li,figcaption,textarea,input{font:inherit}*{box-sizing:border-box;outline:none}*:focus{outline:none}body{position:relative;font-style:normal;line-height:1.5;color:#000000}section{background-color:#ffffff;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;overflow:hidden;padding:30px 0}section,.container,.container-fluid{position:relative;word-wrap:break-word}h1,h2,h3,h4,h5,h6{margin:0;padding:0}p,li,blockquote{letter-spacing:0.5px;line-height:1.7}ul,ol,blockquote,p{margin-bottom:0;margin-top:0}a{cursor:pointer}a,a:hover{text-decoration:none}a.brnz-iconfont:hover{text-decoration:none}h1,h2,h3,h4,h5,h6,.display-1,.display-2,.display-4,.display-5,.display-7{word-break:break-word;word-wrap:break-word}b,strong{font-weight:bold}blockquote{padding:10px 0 10px 20px;position:relative;border-left:3px solid}input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active{transition-delay:9999s;transition-property:background-color,color}html,body{height:auto;min-height:100vh}.brnz-section-title{margin:0;padding:0;font-style:normal;line-height:1.2;width:100%}.brnz-section-subtitle{line-height:1.3;width:100%}.brnz-text{font-style:normal;line-height:1.6;width:100%}.brnz-figure{align-self:center}.btn{text-align:center;position:relative;margin:.4rem .8rem;font-weight:700;border-width:2px;border-style:solid;font-style:normal;white-space:normal;transition:all .2s ease-in-out,box-shadow 2s ease-in-out;display:inline-flex;align-items:center;justify-content:center;word-break:break-word;line-height:1.5;letter-spacing:1px}.btn-form{padding:1rem 2rem}.btn-form:hover{cursor:pointer}form .btn{margin:0}.note-popover .btn:after{display:none}.card-title{margin:0}.card-img{border-radius:0;width:auto;flex-shrink:0}.card-img img{width:100%}.card{position:relative;background-color:transparent;border:none;border-radius:0;width:100%;padding-left:1rem;padding-right:1rem}@media (max-width: 767px){.card:not(.last-child){padding-bottom:2rem}}.card .card-wrapper{height:100%}@media (max-width: 767px){.card .card-wrapper{flex-direction:column}}.card img{height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center}@media (min-width: 992px){.lg-pb{padding-bottom:3rem}}@media (max-width: 991px){.md-pb{padding-bottom:2rem}}.card-inner,.items-list{display:flex;flex-direction:column}.items-list{list-style-type:none;padding:0}.items-list .list-item{padding:1rem 2rem}.card-head{padding:1.5rem 2rem}.card-price-wrap{padding:1rem 2rem;display:flex;flex-direction:column}.card-button{padding:1rem;margin:0}.gallery-img-wrap{position:relative;height:100%}.gallery-img-wrap:hover{cursor:pointer}.gallery-img-wrap amp-img{height:100%}.gallery-img-wrap .icon-wrap,.gallery-img-wrap .img-caption{position:absolute;z-index:3;pointer-events:none}.gallery-img-wrap .icon-wrap,.gallery-img-wrap .caption-on-hover{opacity:0;transition:opacity .3s}.gallery-img-wrap .icon-wrap{left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fff;padding:.5rem;border-radius:50%}.gallery-img-wrap .img-caption{left:0;right:0}.gallery-img-wrap .img-caption.caption-top{top:0}.gallery-img-wrap .img-caption.caption-bottom{bottom:0}.gallery-img-wrap .img-caption:after{content:"";position:absolute;top:0;left:0;right:0;height:100%;transition:opacity .3s;z-index:-1;pointer-events:none}@media (max-width: 767px){.gallery-img-wrap:after,.gallery-img-wrap:hover:after,.gallery-img-wrap .icon-wrap{display:none}.gallery-img-wrap .caption-on-hover{opacity:1}}.is-builder .gallery-img-wrap .icon-wrap{pointer-events:all}.is-builder .gallery-img-wrap .img-caption>*{pointer-events:all}.icons-list a{margin-right:1rem}.icons-list a:last-child{margin-right:0}.counter-container{position:relative}.counter-container ol li{margin-bottom:2rem}.counter-container.stylizedCounters ol{counter-reset:section}.counter-container.stylizedCounters ol li{z-index:3;list-style:none}.counter-container.stylizedCounters ol li:before{z-index:2;position:absolute;left:0px;counter-increment:section;content:counters(section,".") " ";text-align:center;margin:0 10px;line-height:37px;width:40px;height:40px;transition:all .2s;color:#232323;font-size:25px;border-radius:50%;font-weight:bold}.timeline-wrap{position:relative}.timeline-wrap .iconBackground{position:absolute;left:50%;width:20px;height:20px;line-height:30px;text-align:center;border-radius:50%;font-size:30px;display:inline-block;background-color:#232323;top:20px;margin-left:-10px}@media (max-width: 768px){.timeline-wrap .iconBackground{left:0}}.separline{position:relative}@media (max-width: 768px){.separline:not(.last-child){padding-bottom:2rem}}.separline:before{position:absolute;content:"";width:2px;background-color:#232323;left:calc(50% - 1px);height:calc(100% - 20px);top:40px}@media (max-width: 768px){.separline:before{left:0}}amp-image-lightbox a.control{position:absolute;width:32px;height:32px;right:48px;top:32px;z-index:1000}amp-image-lightbox a.control .close{position:relative}amp-image-lightbox a.control .close:before,amp-image-lightbox a.control .close:after{position:absolute;left:15px;content:' ';height:33px;width:2px;background-color:#fff}amp-image-lightbox a.control .close:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}amp-image-lightbox a.control .close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.hidden{visibility:hidden}.super-hide{display:none}.inactive{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;pointer-events:none;-webkit-user-drag:none;user-drag:none}.popover-content ul.show{min-height:155px}.brnz-white{color:#ffffff}.brnz-black{color:#000000}.align-left{text-align:left}.align-left .list-item{justify-content:flex-start}.align-center{text-align:center}.align-center .list-item{justify-content:center}.align-right{text-align:right}.align-right .list-item{justify-content:flex-end}@media (max-width: 767px){.align-left,.align-center,.align-right{text-align:center}.align-left .list-item,.align-center .list-item,.align-right .list-item{justify-content:center}}.brnz-light{font-weight:300}.brnz-regular{font-weight:400}.brnz-semibold{font-weight:500}.brnz-bold{font-weight:700}.brnz-section-btn{margin-left:-.8rem;margin-right:-.8rem;font-size:0}nav .brnz-section-btn{margin-left:0rem;margin-right:0rem}.btn .brnz-iconfont,.btn.btn-sm .brnz-iconfont{cursor:pointer;margin-right:0.5rem}.btn.btn-md .brnz-iconfont,.btn.btn-md .brnz-iconfont{margin-right:0.8rem}[type="submit"]{-webkit-appearance:none}.brnz-fullscreen .brnz-overlay{min-height:100vh}.brnz-fullscreen{display:flex;display:-moz-flex;display:-ms-flex;display:-o-flex;align-items:center;-webkit-align-items:center;min-height:100vh;padding-top:3rem;padding-bottom:3rem}.brnz-overlay{bottom:0;left:0;position:absolute;right:0;top:0;z-index:0}.brnz-parallax-bg{bottom:0;left:0;opacity:.5;position:absolute;right:0;top:0;z-index:0;background-position:50% 50%;background-repeat:no-repeat;background-size:cover}section.menu{min-height:50px}.menu-container{display:flex;justify-content:space-between;align-items:center;min-height:50px}@media (max-width: 991px){.menu-container{max-width:100%;padding:0 2rem}}@media (max-width: 767px){.menu-container{padding:0 1rem}}.navbar{z-index:100;width:100%}.navbar-fixed-top{position:fixed;top:0}.navbar-brand{display:flex;align-items:center;word-break:break-word;z-index:1}.navbar-logo{margin-right:.8rem}@media (max-width: 767px){.navbar-logo amp-img{max-height:50px;max-width:50px}}.navbar-caption-wrap{display:flex}.navbar .navbar-collapse{display:flex;flex-basis:auto;align-items:center;justify-content:flex-end}@media (max-width: 991px){.navbar .navbar-collapse{display:none;position:absolute;top:0;right:0;min-height:100vh;padding:70px 2rem 1rem;z-index:1}}@media (max-width: 991px){.navbar.opened .navbar-collapse.show,.navbar.opened .navbar-collapse.collapsing{display:block}.is-builder .navbar-collapse{position:fixed}}.navbar-nav{list-style-type:none;display:flex;flex-wrap:wrap;padding-left:0;min-width:10rem}@media (max-width: 991px){.navbar-nav{flex-direction:column}}.navbar-nav .brnz-iconfont{margin-right:.2rem}.nav-item{word-break:break-all}.nav-link{display:flex;align-items:center;justify-content:center}.nav-link,.navbar-caption{transition:all 0.2s;letter-spacing:1px}.nav-dropdown .dropdown-menu{min-width:10rem;padding-bottom:1.25rem;padding-top:1.25rem;position:absolute;left:0}.nav-dropdown .dropdown-menu .dropdown-item{line-height:2;display:flex;justify-content:flex-start;align-items:center;padding:.25rem 1.5rem;white-space:nowrap}.nav-dropdown .dropdown-menu .dropdown{position:relative}.dropdown-menu .dropdown:hover>.dropdown-menu{opacity:1;pointer-events:all}.nav-dropdown .dropdown-submenu{top:0;left:100%;margin:0}.nav-item.dropdown{position:relative}.nav-item.dropdown .dropdown-menu{opacity:0;pointer-events:none}.nav-item.dropdown:hover>.dropdown-menu{opacity:1;pointer-events:all}.link.dropdown-toggle:after{content:'';margin-left:.25rem;border-top:0.35em solid;border-right:0.35em solid transparent;border-left:0.35em solid transparent;border-bottom:0}.navbar .dropdown.open>.dropdown-menu{display:block}@media (max-width: 991px){.is-builder .nav-dropdown .dropdown-menu{position:relative}.nav-dropdown .dropdown-submenu{left:0}.dropdown-item{padding:.25rem 1.5rem;margin:0;justify-content:center}.dropdown-item:after{right:auto}.navbar.opened .dropdown-menu{top:0}}.navbar-buttons{display:flex;flex-wrap:wrap;align-items:center;justify-content:center}@media (max-width: 991px){.navbar-buttons{flex-direction:column}}.menu-social-list{display:flex;align-items:center;justify-content:center;flex-wrap:wrap}.menu-social-list a{margin:0 .5rem}button.navbar-toggler{position:absolute;right:20px;top:25px;width:31px;height:20px;cursor:pointer;transition:all .2s;align-self:center}.hamburger span{position:absolute;right:0;width:30px;height:2px;border-right:5px}.hamburger span:nth-child(1){top:0;transition:all .2s}.hamburger span:nth-child(2){top:8px;transition:all .15s}.hamburger span:nth-child(3){top:8px;transition:all .15s}.hamburger span:nth-child(4){top:16px;transition:all .2s}nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(1){top:8px;width:0;opacity:0;right:50%;transition:all .2s}nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(2){-webkit-transform:rotate(45deg);transform:rotate(45deg);transition:all .25s}nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(3){-webkit-transform:rotate(-45deg);transform:rotate(-45deg);transition:all .25s}nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(4){top:8px;width:0;opacity:0;right:50%;transition:all .2s}.ampstart-btn.hamburger{position:absolute;top:25px;right:15px;margin-left:auto;width:30px;height:20px;background:none;border:none;cursor:pointer;z-index:1000}@media (min-width: 992px){.ampstart-btn,amp-sidebar{display:none}.dropdown-menu .dropdown-toggle:after{content:'';border-bottom:0.35em solid transparent;border-left:0.35em solid;border-right:0;border-top:0.35em solid transparent;margin-left:0.3rem;margin-top:-0.3077em;position:absolute;right:1.1538em;top:50%}}.close-sidebar{width:30px;height:30px;position:relative;cursor:pointer;background-color:transparent;border:none}.close-sidebar span{position:absolute;left:0;width:30px;height:2px;border-right:5px}.close-sidebar span:nth-child(1){-webkit-transform:rotate(45deg);transform:rotate(45deg)}.close-sidebar span:nth-child(2){-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.builder-sidebar{position:relative;min-height:100vh;z-index:1030;padding:1rem 2rem;max-width:20rem}.builder-sidebar .dropdown:hover>.dropdown-menu{position:relative;text-align:center}section.sidebar-open:before{content:'';position:fixed;top:0;bottom:0;right:0;left:0;background-color:rgba(0,0,0,0.2);z-index:1040}.map-placeholder{display:none}.map-placeholder h4{padding-top:5rem;color:#767676;text-align:center}.google-map{position:relative;width:100%}@media (max-width: 992px){.google-map{padding:0;margin:0}}.google-map [data-state-details]{color:#6b6763;font-family:Montserrat;height:1.5em;margin-top:-0.75em;padding-left:1.25rem;padding-right:1.25rem;position:absolute;text-align:center;top:50%;width:100%}.google-map[data-state]{background:#e9e5dc}.google-map[data-state="loading"] [data-state-details]{display:none}.lightbox{background:rgba(0,0,0,0.8);width:100%;height:100%;position:absolute;display:flex;align-items:center;justify-content:center}.lightbox .video-block{width:100%}div[submit-success]{padding:1rem;margin-bottom:1rem}div[submit-error]{padding:1rem;margin-bottom:1rem}textarea[type="hidden"]{display:none}amp-img{width:100%}amp-img img{max-height:100%;max-width:100%}img.brnz-temp{width:100%}.rounded{border-radius:50%}.is-builder .nodisplay+img[async],.is-builder .nodisplay+img[decoding="async"],.is-builder amp-img>a+img[async],.is-builder amp-img>a+img[decoding="async"]{display:none}html:not(.is-builder) amp-img>a{position:absolute;top:0;bottom:0;left:0;right:0;z-index:1}.is-builder .temp-amp-sizer{position:absolute}.is-builder amp-youtube .temp-amp-sizer,.is-builder amp-vimeo .temp-amp-sizer{position:static}.is-builder section.horizontal-menu .ampstart-btn{display:none}.is-builder section.horizontal-menu .dropdown-menu{z-index:auto;opacity:1;pointer-events:auto}.is-builder section.horizontal-menu .nav-dropdown .link.dropdown-toggle[aria-expanded="true"]{margin-right:0;padding:0.667em 1em}div.placeholder{z-index:4;background:rgba(255,255,255,0.5)}div.placeholder svg{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:20%;height:auto}div.placeholder svg circle.big{-webkit-animation:big-anim 3s linear infinite;animation:big-anim 3s linear infinite}div.placeholder svg circle.small{-webkit-animation:small-anim 1.5s linear infinite;animation:small-anim 1.5s linear infinite}@-webkit-keyframes big-anim{from{stroke-dashoffset:900}to{stroke-dashoffset:0}}@keyframes big-anim{from{stroke-dashoffset:900}to{stroke-dashoffset:0}}@-webkit-keyframes small-anim{from{stroke-dashoffset:850}to{stroke-dashoffset:0}}@keyframes small-anim{from{stroke-dashoffset:850}to{stroke-dashoffset:0}}.placeholder-loader .amp-active>div{display:none}.container{padding-right:1rem;padding-left:1rem;width:100%;margin-right:auto;margin-left:auto}@media (max-width: 767px){.container{max-width:540px}}@media (min-width: 768px){.container{max-width:720px}}@media (min-width: 992px){.container{max-width:960px}}@media (min-width: 1200px){.container{max-width:1140px}}.container-fluid{width:100%;margin-right:auto;margin-left:auto;padding-left:1rem;padding-right:1rem}.media-container-row{display:flex;flex-wrap:wrap}@media (min-width: 992px){.media-container-row{flex-wrap:nowrap}}.form-block{z-index:1;background-color:transparent;padding:3rem;position:relative;overflow:visible}.form-block .brnz-overlay{z-index:-1}@media (max-width: 992px){.form-block{padding:1rem}}.form-block form input,.form-block form textarea,.form-block form select{border-radius:0;background-color:#ffffff;margin:0;transition:0.4s;width:100%;border:1px solid #e0e0e0;padding:11px 1rem}form input[type="checkbox"],form input[type="radio"]{border:none;background:none;width:auto}textarea{min-height:200px}form .fieldset{display:flex;justify-content:center;flex-wrap:wrap;align-items:center}form .field{padding-top:0.5rem;padding-bottom:0.5rem}.field{flex-basis:50%;flex-grow:1;flex-shrink:1;padding:0.5rem}@media (max-width: 768px){.field{flex-basis:100%}}textarea{width:100%;margin-right:0}.text-field{flex-basis:100%;flex-grow:1rem;flex-shrink:1;padding:0.5rem}.brnz-flex{display:flex}.flex-wrap{flex-wrap:wrap}.brnz-jc-s{justify-content:flex-start}.brnz-jc-c{justify-content:center}.brnz-jc-e{justify-content:flex-end}.brnz-row,.brnz-form-row{display:flex;flex-wrap:wrap;margin-right:-1rem;margin-left:-1rem}.brnz-form-row{margin-right:-0.5rem;margin-left:-0.5rem}.brnz-form-row>[class*="brnz-col"]{padding-left:0.5rem;padding-right:0.5rem}.brnz-row-reverse{flex-direction:row-reverse}.brnz-column{flex-direction:column}@media (max-width: 767px){.brnz-col-sm-12{flex:0 0 100%;max-width:100%;padding-right:1rem;padding-left:1rem}}@media (min-width: 768px){.brnz-col-md-3{flex:0 0 25%;max-width:25%;padding-right:1rem;padding-left:1rem}.brnz-col-md-4{flex:0 0 33.333333%;max-width:33.333333%;padding-right:1rem;padding-left:1rem}.brnz-col-md-5{flex:0 0 41.666667%;max-width:41.666667%;padding-right:1rem;padding-left:1rem}.brnz-col-md-6{flex:0 0 50%;max-width:50%;padding-right:1rem;padding-left:1rem}.brnz-col-md-7{flex:0 0 58.333333%;max-width:58.333333%;padding-right:1rem;padding-left:1rem}.brnz-col-md-8{flex:0 0 66.666667%;max-width:66.666667%;padding-left:1rem;padding-right:1rem}.brnz-col-md-10{flex:0 0 83.333333%;max-width:83.333333%;padding-left:1rem;padding-right:1rem}.brnz-col-md-12{flex:0 0 100%;max-width:100%;padding-right:1rem;padding-left:1rem}}@media (min-width: 992px){.brnz-col-lg-2{flex:0 0 16.666667%;max-width:16.666667%;padding-right:1rem;padding-left:1rem}.brnz-col-lg-3{flex:0 0 25%;max-width:25%;padding-right:1rem;padding-left:1rem}.brnz-col-lg-4{flex:0 0 33.33%;max-width:33.33%;padding-right:1rem;padding-left:1rem}.brnz-col-lg-5{flex:0 0 41.666%;max-width:41.666%;padding-right:1rem;padding-left:1rem}.brnz-col-lg-6{flex:0 0 50%;max-width:50%;padding-right:1rem;padding-left:1rem}.brnz-col-lg-7{flex:0 0 58.333333%;max-width:58.333333%;padding-right:1rem;padding-left:1rem}.brnz-col-lg-8{flex:0 0 66.666667%;max-width:66.666667%;padding-left:1rem;padding-right:1rem}.brnz-col-lg-9{flex:0 0 75%;max-width:75%;padding-left:1rem;padding-right:1rem}.brnz-col-lg-10{flex:0 0 83.3333%;max-width:83.3333%;padding-right:1rem;padding-left:1rem}.brnz-col-lg-12{flex:0 0 100%;max-width:100%;padding-right:1rem;padding-left:1rem}}@media (min-width: 1200px){.brnz-col-xl-7{flex:0 0 58.333333%;max-width:58.333333%;padding-right:1rem;padding-left:1rem}.brnz-col-xl-4{flex:0 0 33.333333%;max-width:33.333333%;padding-right:1rem;padding-left:1rem}.brnz-col-xl-8{flex:0 0 66.666667%;max-width:66.666667%;padding-left:1rem;padding-right:1rem}.brnz-col-xl-5{flex:0 0 41.666667%;max-width:41.666667%}}.brnz-pt-1{padding-top:.5rem}.brnz-pt-2{padding-top:1rem}.brnz-pt-3{padding-top:1.5rem}.brnz-pt-4{padding-top:2rem}.brnz-pt-5{padding-top:3rem}.brnz-pb-1{padding-bottom:.5rem}.brnz-pb-2{padding-bottom:1rem}.brnz-pb-3{padding-bottom:1.5rem}.brnz-pb-4{padding-bottom:2rem}.brnz-pb-5{padding-bottom:3rem}.brnz-px-1{padding-left:.5rem;padding-right:.5rem}.brnz-px-2{padding-left:1rem;padding-right:1rem}.brnz-px-3{padding-left:1.5rem;padding-right:1.5rem}.brnz-px-4{padding-left:2rem;padding-right:2rem}@media (max-width: 991px){.brnz-px-4{padding-left:1rem;padding-right:1rem}}.brnz-px-5{padding-left:3rem;padding-right:3rem}@media (max-width: 991px){.brnz-px-5{padding-left:1rem;padding-right:1rem}}.brnz-m-sub-1{margin-left:-1rem;margin-right:-1rem}@media (max-width: 768px){.brnz-m-sub-1{margin-left:0;margin-right:0}}.brnz-py-1{padding-top:.5rem;padding-bottom:.5rem}.brnz-py-2{padding-top:1rem;padding-bottom:1rem}@media (max-width: 767px){.brnz-py-2{padding-top:0rem;padding-bottom:0rem}}.brnz-py-3{padding-top:1.5rem;padding-bottom:1.5rem}@media (max-width: 991px){.brnz-py-3{padding-top:1rem;padding-bottom:1rem}}.brnz-py-4{padding-top:2rem;padding-bottom:2rem}@media (max-width: 991px){.brnz-py-4{padding-top:1rem;padding-bottom:1rem}}.brnz-py-5{padding-top:3rem;padding-bottom:3rem}@media (max-width: 991px){.brnz-py-5{padding-top:1rem;padding-bottom:1rem}}.brnz-p-1{padding:.5rem}.brnz-p-2{padding:1rem}.brnz-p-3{padding:1.5rem}@media (max-width: 991px){.brnz-p-3{padding:1rem}}.brnz-p-4{padding:2rem}@media (max-width: 991px){.brnz-p-4{padding:1rem}}.brnz-p-5{padding:3rem}@media (max-width: 991px){.brnz-p-5{padding:1rem}}.brnz-ml-auto{margin-left:auto}.brnz-mr-auto{margin-right:auto}.brnz-m-auto{margin:auto}amp-img,img{height:100%;width:100%}amp-sidebar{background:transparent}.is-builder .menu{overflow:visible}.is-builder .preview button{opacity:0.5;position:relative;pointer-events:none}.is-builder .preview button:before{display:block;position:absolute;content:'';background-color:#efefef;left:0;right:0;top:0;bottom:0;z-index:2}.hidden-slide{display:none}.visible-slide{display:flex}.dots-wrapper .dots{margin:4px 4px}.dots-wrapper .dots span{cursor:pointer;border-radius:12px;display:block;height:12px;width:12px;transition:0.4s;border:6px solid #cccccc}.dots-wrapper .dots span:hover{opacity:1}.dots-wrapper .dots span.current{outline:none;width:12px;opacity:1}.amp-carousel-button{outline:none;border-radius:50%;border:10px transparent solid;-webkit-transform:scale(1.5) translateY(-50%);transform:scale(1.5) translateY(-50%);height:45px;width:45px;transition:0.4s;cursor:pointer}.amp-carousel-button:hover{opacity:1}.amp-carousel-button-next{background-position:75% 50%}.amp-carousel-button-prev{background-position:25% 50%}button.btn-img{cursor:pointer}.iconfont-wrapper{display:inline-block;width:1.5rem;height:1.5rem}.amp-iconfont{vertical-align:middle;width:1.5rem;font-size:1.5rem}.text-upper{text-transform:uppercase}.form-check{margin-bottom:0}.form-check-label{padding-left:0}.form-check-input{position:relative;margin:4px}.form-check-inline{display:inline-flex;align-items:center;padding-left:0;margin-right:.75rem}.field:not(:nth-last-child(1)){margin-bottom:1rem}.field-input{padding:11px 1rem;display:block;width:100%}.brnz-col{flex-basis:0;flex-grow:1;max-width:100%}.brnz-col-auto{flex:0 0 auto;width:auto;max-width:none}.brnz-col,.brnz-col-auto{position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px}@media (min-width: 991px){.brnz-col{min-width:50%}}@media (max-width: 991px){.brnz-col{min-width:100%}}.brnz-form input,.brnz-form textarea{border-radius:0;background-color:#ffffff;margin:0;transition:.4s;width:100%;border:1px solid #e0e0e0;padding:11px 1rem}
body{font-family: Didact Gothic;}blockquote{border-color: #000000;}div[submit-success]{background: #9403ff;}div[submit-error]{background: #25d366;}.display-1{font-family: 'Didact Gothic',sans-serif;font-size: 3.2rem;line-height: 1.2;}.display-2{font-family: 'Didact Gothic',sans-serif;font-size: 2.5rem;line-height: 1.2;}.display-4{font-family: 'Didact Gothic',sans-serif;font-size: 0.85rem;line-height: 1.4;}.display-5{font-family: 'Didact Gothic',sans-serif;font-size: 1.5rem;line-height: 1.2;}.display-7{font-family: 'Didact Gothic',sans-serif;font-size: 1rem;line-height: 1.6;}.form-block input,.form-block textarea{font-family: 'Didact Gothic',sans-serif;font-size: 1rem;line-height: 1.6;}@media (max-width: 768px){.display-1{font-size: 2.56rem;font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));}.display-2{font-size: 2rem;font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));}.display-4{font-size: 0.68rem;font-size: calc( 0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20))));}.display-5{font-size: 1.2rem;font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));}.display-7{font-size: 0.8rem;font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));}}.display-1 .brnz-iconfont-btn{font-size: 3.2rem;width: 3.2rem;}.display-2 .brnz-iconfont-btn{font-size: 2.5rem;width: 2.5rem;}.display-4 .brnz-iconfont-btn{font-size: 0.85rem;width: 0.85rem;}.display-5 .brnz-iconfont-btn{font-size: 1.5rem;width: 1.5rem;}.display-7 .brnz-iconfont-btn{font-size: 1rem;width: 1rem;}.btn{padding: 10px 30px;border-radius: 0px;}.btn-sm{padding: 10px 30px;border-radius: 0px;}.btn-md{padding: 10px 30px;border-radius: 0px;}.btn-lg{padding: 10px 30px;border-radius: 0;}.bg-primary{background-color: #000000;}.bg-success{background-color: #9403ff;}.bg-info{background-color: #e96188;}.bg-warning{background-color: #fac769;}.bg-danger{background-color: #25d366;}.btn-secondary,.btn-secondary:active,.btn-secondary.active{background-color: #ca4336;border-color: #ca4336;color: #ffffff;}.btn-secondary:hover,.btn-secondary:focus,.btn-secondary.focus{background-color: #7a2820;border-color: #7a2820;color: #ffffff;}.btn-secondary.disabled,.btn-secondary:disabled{color: #ffffff;background-color: #7a2820;border-color: #7a2820;}.btn-info,.btn-info:active,.btn-info.active{background-color: #e96188;border-color: #e96188;color: #ffffff;}.btn-info:hover,.btn-info:focus,.btn-info.focus{background-color: #c81c4d;border-color: #c81c4d;color: #ffffff;}.btn-info.disabled,.btn-info:disabled{color: #ffffff;background-color: #c81c4d;border-color: #c81c4d;}.btn-success,.btn-success:active,.btn-success.active{background-color: #9403ff;border-color: #9403ff;color: #ffffff;}.btn-success:hover,.btn-success:focus,.btn-success.focus{background-color: #5a009c;border-color: #5a009c;color: #ffffff;}.btn-success.disabled,.btn-success:disabled{color: #ffffff;background-color: #5a009c;border-color: #5a009c;}.btn-warning,.btn-warning:active,.btn-warning.active{background-color: #fac769;border-color: #fac769;color: #614003;}.btn-warning:hover,.btn-warning:focus,.btn-warning.focus{background-color: #f5a208;border-color: #f5a208;color: #614003;}.btn-warning.disabled,.btn-warning:disabled{color: #614003;background-color: #f5a208;border-color: #f5a208;}.btn-danger,.btn-danger:active,.btn-danger.active{background-color: #25d366;border-color: #25d366;color: #ffffff;}.btn-danger:hover,.btn-danger:focus,.btn-danger.focus{background-color: #167c3c;border-color: #167c3c;color: #ffffff;}.btn-danger.disabled,.btn-danger:disabled{color: #ffffff;background-color: #167c3c;border-color: #167c3c;}.btn-primary,.btn-primary:active,.btn-primary.active{background-color: #000000;border-color: #000000;color: #ffffff;}.btn-primary:hover,.btn-primary:focus,.btn-primary.focus{background-color: #000000;border-color: #000000;color: #ffffff;}.btn-primary.disabled,.btn-primary:disabled{color: #ffffff;background-color: #000000;border-color: #000000;}.btn-black,.btn-black:active,.btn-black.active{background-color: #010101;border-color: #010101;color: #ffffff;}.btn-black:hover,.btn-black:focus,.btn-black.focus{background-color: #000000;border-color: #000000;color: #ffffff;}.btn-black.disabled,.btn-black:disabled{color: #ffffff;background-color: #000000;border-color: #000000;}.btn-white,.btn-white:active,.btn-white.active{background-color: #fcfcfc;border-color: #fcfcfc;color: #7d7d7d;}.btn-white:hover,.btn-white:focus,.btn-white.focus{background-color: #c9c9c9;border-color: #c9c9c9;color: #7d7d7d;}.btn-white.disabled,.btn-white:disabled{color: #7d7d7d;background-color: #c9c9c9;border-color: #c9c9c9;}.btn-primary-outline,.btn-primary-outline:active,.btn-primary-outline.active{background: none;border-color: #000000;color: #000000;}.btn-primary-outline:hover,.btn-primary-outline:focus,.btn-primary-outline.focus{color: #ffffff;background-color: #000000;border-color: #000000;}.btn-primary-outline.disabled,.btn-primary-outline:disabled{color: #ffffff;background-color: #000000;border-color: #000000;}.btn-secondary-outline,.btn-secondary-outline:active,.btn-secondary-outline.active{background: none;border-color: #ca4336;color: #ca4336;}.btn-secondary-outline:hover,.btn-secondary-outline:focus,.btn-secondary-outline.focus{color: #ffffff;background-color: #ca4336;border-color: #ca4336;}.btn-secondary-outline.disabled,.btn-secondary-outline:disabled{color: #ffffff;background-color: #ca4336;border-color: #ca4336;}.btn-info-outline,.btn-info-outline:active,.btn-info-outline.active{background: none;border-color: #e96188;color: #e96188;}.btn-info-outline:hover,.btn-info-outline:focus,.btn-info-outline.focus{color: #ffffff;background-color: #e96188;border-color: #e96188;}.btn-info-outline.disabled,.btn-info-outline:disabled{color: #ffffff;background-color: #e96188;border-color: #e96188;}.btn-success-outline,.btn-success-outline:active,.btn-success-outline.active{background: none;border-color: #9403ff;color: #9403ff;}.btn-success-outline:hover,.btn-success-outline:focus,.btn-success-outline.focus{color: #ffffff;background-color: #9403ff;border-color: #9403ff;}.btn-success-outline.disabled,.btn-success-outline:disabled{color: #ffffff;background-color: #9403ff;border-color: #9403ff;}.btn-warning-outline,.btn-warning-outline:active,.btn-warning-outline.active{background: none;border-color: #fac769;color: #fac769;}.btn-warning-outline:hover,.btn-warning-outline:focus,.btn-warning-outline.focus{color: #614003;background-color: #fac769;border-color: #fac769;}.btn-warning-outline.disabled,.btn-warning-outline:disabled{color: #614003;background-color: #fac769;border-color: #fac769;}.btn-danger-outline,.btn-danger-outline:active,.btn-danger-outline.active{background: none;border-color: #25d366;color: #25d366;}.btn-danger-outline:hover,.btn-danger-outline:focus,.btn-danger-outline.focus{color: #ffffff;background-color: #25d366;border-color: #25d366;}.btn-danger-outline.disabled,.btn-danger-outline:disabled{color: #ffffff;background-color: #25d366;border-color: #25d366;}.btn-black-outline,.btn-black-outline:active,.btn-black-outline.active{background: none;border-color: #010101;color: #010101;}.btn-black-outline:hover,.btn-black-outline:focus,.btn-black-outline.focus{color: #ffffff;background-color: #010101;border-color: #010101;}.btn-black-outline.disabled,.btn-black-outline:disabled{color: #ffffff;background-color: #010101;border-color: #010101;}.btn-white-outline,.btn-white-outline:active,.btn-white-outline.active{background: none;border-color: #fcfcfc;color: #fcfcfc;}.btn-white-outline:hover,.btn-white-outline:focus,.btn-white-outline.focus{color: #7d7d7d;background-color: #fcfcfc;border-color: #fcfcfc;}.btn-white-outline.disabled,.btn-white-outline:disabled{color: #7d7d7d;background-color: #fcfcfc;border-color: #fcfcfc;}.text-primary{color: #000000;}.text-secondary{color: #ca4336;}.text-success{color: #9403ff;}.text-info{color: #e96188;}.text-warning{color: #fac769;}.text-danger{color: #25d366;}.text-white{color: #fcfcfc;}.text-black{color: #010101;}a[class*="text-"],.amp-iconfont,.brnz-iconfont{transition: 0.2s ease-in-out;}.amp-iconfont{color: #000000;}a.text-primary:hover,a.text-primary:focus{color: #000000;}a.text-secondary:hover,a.text-secondary:focus{color: #521b15;}a.text-success:hover,a.text-success:focus{color: #3c0069;}a.text-info:hover,a.text-info:focus{color: #9b163c;}a.text-warning:hover,a.text-warning:focus{color: #c38107;}a.text-danger:hover,a.text-danger:focus{color: #0e5127;}a.text-white:hover,a.text-white:focus{color: #e6e6e6;}a.text-black:hover,a.text-black:focus{color: #cccccc;}.alert-success{background-color: #9403ff;}.alert-info{background-color: #e96188;}.alert-warning{background-color: #fac769;}.alert-danger{background-color: #25d366;}.brnz-plan-header.bg-primary .brnz-plan-subtitle,.brnz-plan-header.bg-primary .brnz-plan-price-desc{color: #b3b3b3;}.brnz-plan-header.bg-success .brnz-plan-subtitle,.brnz-plan-header.bg-success .brnz-plan-price-desc{color: #ebcfff;}.brnz-plan-header.bg-info .brnz-plan-subtitle,.brnz-plan-header.bg-info .brnz-plan-price-desc{color: #ffffff;}.brnz-plan-header.bg-warning .brnz-plan-subtitle,.brnz-plan-header.bg-warning .brnz-plan-price-desc{color: #ffffff;}.brnz-plan-header.bg-danger .brnz-plan-subtitle,.brnz-plan-header.bg-danger .brnz-plan-price-desc{color: #cef6dd;}amp-carousel{overflow: hidden;}.brionz-spinner{position: absolute;top: 50%;left: 40%;margin-left: 10%;-webkit-transform: translate3d(-50%,-50%,0);z-index: 4;}.brionz-spinner em{width: 24px;height: 24px;background: #3ac;border-radius: 100%;display: inline-block;-webkit-animation: slide 1s infinite;}.brionz-spinner em:nth-child(1){-webkit-animation-delay: 0.1s;background: #000000;}.brionz-spinner em:nth-child(2){-webkit-animation-delay: 0.2s;background: #ca4336;}.brionz-spinner em:nth-child(3){-webkit-animation-delay: 0.3s;background: #9403ff;}@-moz-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@-webkit-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@-o-keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}@keyframes slide{0%{-webkit-transform: scale(1);}50%{opacity: 0.3;-webkit-transform: scale(2);}100%{-webkit-transform: scale(1);}}.brionz-loader .amp-active > div{display: none;}.cid-rE46ot1NWA{background-color: #ffffff;overflow: visible;}.cid-rE46ot1NWA .navbar{background: #ffffff;}.cid-rE46ot1NWA section{padding: 0;}.cid-rE46ot1NWA section.menu,.cid-rE46ot1NWA .menu-container{min-height: 50px;}.cid-rE46ot1NWA .navbar-brand .navbar-logo amp-img,.cid-rE46ot1NWA .navbar-brand .navbar-logo img{width: 120px;height: 50px;object-fit: contain;}.cid-rE46ot1NWA .navbar-caption{line-height: inherit;}@media (max-width: 991px){.cid-rE46ot1NWA .navbar .navbar-collapse{background: #ffffff;}}.cid-rE46ot1NWA .nav-link{height: 70px;margin: .667em 1em;margin-top: 0;margin-bottom: 0;padding: 0;transition: 0.3s;}.cid-rE46ot1NWA .nav-link:hover{color: #000000;}.cid-rE46ot1NWA .dropdown-item.active,.cid-rE46ot1NWA .dropdown-item:active{background-color: transparent;}.cid-rE46ot1NWA .dropdown-menu{margin-top: 0;background: #ffffff;border-top: 2px solid #000000;box-shadow: 0 6px 12px rgba(0,0,0,0.175);transition: all 0.3s;}.cid-rE46ot1NWA .dropdown-menu .dropdown-item{justify-content: flex-start;}.cid-rE46ot1NWA .dropdown-menu .dropdown-item:hover{padding-left: 40px;}.cid-rE46ot1NWA .dropdown-menu a:hover{color: #000000;}.cid-rE46ot1NWA .hamburger span{background-color: #9403ff;}.cid-rE46ot1NWA .builder-sidebar{background-color: #ffffff;}.cid-rE46ot1NWA .close-sidebar:focus{outline: 2px auto #000000;}.cid-rE46ot1NWA .close-sidebar span{background-color: #9403ff;}.cid-rE46ot1NWA .iconfont-wrapper{height: 1.3rem;width: 1.3rem;display: inline-block;}.cid-rE46ot1NWA .iconfont-wrapper .amp-iconfont{vertical-align: middle;font-size: 1.3rem;width: 1.3rem;color: #56bdbd;}.cid-rE46ot1NWA .btn{padding: 5px 30px;}.cid-rE42MSb4e9{padding-top: 10rem;padding-bottom: 10rem;background-image: url("/mob/assets/images/brnz-1920x1290.jpg");align-items: center;display: flex;}.cid-rE42MSb4e9 .brnz-overlay{background: #ffffff;opacity: 0.4;}.cid-rE42MSb4e9 .btn{padding: 5px 50px;}.cid-rE43hN5qAl{padding-top: 5rem;padding-bottom: 5rem;background-color: #f6f9f8;}.cid-rE43hN5qAl .iconfont-wrapper{width: 4rem;height: 4rem;display: inline-flex;}.cid-rE43hN5qAl .amp-iconfont{font-size: 4rem;width: 4rem;vertical-align: middle;color: #9403ff;}.cid-rE43hN5qAl .card-box{flex-direction: column;text-align: center;align-items: center;padding-bottom: 20px;}.cid-rE44tWqOhT{padding-top: 5rem;padding-bottom: 5rem;background-color: #ffffff;}.cid-rE44tWqOhT .card-box{width: 100%;}.cid-rE44tWqOhT .card-box-wrapper{margin-bottom: 2rem;}.cid-rE44tWqOhT .img-box{height: 350px;margin-top: 30px;}.cid-rE44tWqOhT img,.cid-rE44tWqOhT amp-img{object-fit: cover;}.cid-rE44tWqOhT .text-box{padding: 20px 0px;}.cid-rE44tWqOhT .text-upper{text-transform: uppercase;}.cid-rE44tWqOhT .title-box{padding-left: 30px;margin-left: 30px;border-left: 2px solid #000000;margin-left: 0;}.cid-rE44tWqOhT .iconfont-wrapper{width: 1rem;height: 1rem;display: inline-flex;justify-content: center;align-items: center;margin-right: 10px;}.cid-rE44tWqOhT .amp-iconfont{font-size: 1rem;width: 1rem;color: #000000;}.cid-rE44tWqOhT .tag-text{display: inline;padding-top: 0.5rem;margin-right: 25px;}.cid-rE44tWqOhT .tag-text:last-child{margin-right: 0;}.cid-rE44tWqOhT .custom-link{text-transform: uppercase;position: relative;}.cid-rE44tWqOhT .custom-link::after,.cid-rE44tWqOhT .custom-link::before{position: absolute;display: block;content: "";transition: 0.5s;}.cid-rE44tWqOhT .custom-link::after{width: 20px;height: 2px;right: -50%;top: 50%;background-color: #000000;}.cid-rE44tWqOhT .custom-link::before{width: 6px;height: 6px;top: 42%;right: -50%;border: 1px solid #000000;border-bottom: none;border-left: none;transform: rotate(45deg);}.cid-rE44tWqOhT .custom-link:hover::after,.cid-rE44tWqOhT .custom-link:hover::before{transform: translateX(10px);}.cid-rE44tWqOhT .custom-link:hover::before{transform: translateX(10px) rotate(45deg);}.cid-rE44tWqOhT .brnz-ai-c{align-items: center;}.cid-rE44tWqOhT .custom-mr{margin-right: 45px;}.cid-rE430NBsaX{padding-top: 5rem;padding-bottom: 5rem;background-color: #ffffff;}@media (max-width: 992px){.cid-rE430NBsaX .md-pb{padding-bottom: 3rem;}}.cid-rE430NBsaX .tab{padding: 0;padding-top: 30px;padding-bottom: 20px;border-bottom: 1px solid #000000;background-color: #ffffff;transition: 0.4s;}.cid-rE430NBsaX .tab:hover{border-bottom-color: #9403ff;}.cid-rE430NBsaX .tab:hover .tab-title{color: #9403ff;}.cid-rE430NBsaX .tab-title{position: relative;min-height: 35px;max-height: 110px;padding-left: 45px;background: none;border: none;transition: 0.4s;}.cid-rE430NBsaX .tab-title::before{content: '+';position: absolute;transition: all .6s;width: 30px;height: 30px;color: #fff;background-color: #9403ff;font-weight: 700;font-size: 25px;display: inline-flex;justify-content: center;align-items: center;left: 0;padding-bottom: 2px;padding-left: 1px;}.cid-rE430NBsaX .tab[expanded] .tab-title::before{content: "-";padding-bottom: 4px;}.cid-rE43bgiwqO{padding-top: 5rem;padding-bottom: 5rem;background-color: #ffffff;}@media (max-width: 768px){.cid-rE43bgiwqO .title-wrap{padding-bottom: 2rem;}}.cid-rE43bgiwqO .brnz-section-btn{width: 100%;text-align: center;}@media (max-width: 768px){.cid-rE43bgiwqO .brnz-section-btn{text-align: left;}}.cid-rE43bgiwqO .brnz-section-btn .btn:first-child{margin-left: 0;}.cid-rE43bgiwqO .btn{padding: 5px 50px;}.cid-rE43bgiwqO .container{width: 50%;}@media (max-width: 767px){.cid-rE43bgiwqO .container{width: 100%;}}.cid-rE43bgiwqO .float-left{float: left;}.cid-rE43bgiwqO .float-right{float: right;}.cid-rE43bgiwqO .brnz-flex-wrap{flex-wrap: wrap;}.cid-rE43qQyckq{padding-top: 2rem;padding-bottom: 2rem;background-color: #f6f9f8;}.cid-rE43qQyckq .link-items .fLink{width: auto;}@media (min-width: 992px){.cid-rE43qQyckq .footer-container{justify-content: space-between;}}@media (max-width: 991px){.cid-rE43qQyckq .footer-container{flex-direction: column;align-items: center;}}.cid-rE43qQyckq .brnz-row{width: auto;}@media (max-width: 992px){.cid-rE43qQyckq .brnz-row{padding: 0;width: 100%;justify-content: center;}.cid-rE43qQyckq .brnz-row:nth-child(1){margin-bottom: 1rem;}}.cid-rE43qQyckq .copyright{width: auto;}.cid-rE43wizkxZ .brnz-row{justify-content: center;}@media (min-width: 768px){.cid-rE43wizkxZ .brnz-row{margin-left: -1.5rem;margin-right: -1.5rem;}}.cid-rE43wizkxZ p{margin: 0;padding: 0;}.cid-rE43wizkxZ .card-wrapper{background: #cd201f;border-radius: .3rem;-webkit-box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);box-shadow: 0 10px 40px 0 rgba(0,0,0,0.2);}@media (max-width: 767px){.cid-rE43wizkxZ .card-wrapper{padding: 1rem;}}.cid-rE43wizkxZ .form-wrapper .brnz-section-btn{margin: .5rem;}.cid-rE43wizkxZ .form-wrapper .brnz-section-btn .btn{margin: 0;}.cid-rE43wizkxZ .card-img amp-img{width: 100%;margin: auto;}.cid-rE43wizkxZ .card-title{width: 100%;margin: 0;line-height: 1.5;color: #ffffff;}.on-load-popup.cid-rE43wizkxZ .brnz-popup,amp-lightbox.cid-rE43wizkxZ .brnz-popup{width: 100%;height: 100%;position: absolute;display: flex;align-items: center;}.cid-rE43wizkxZ.on-load-popup{position: fixed;top: 0;left: 0;bottom: 0;right: 0;background: transparent;animation: show;animation-fill-mode: forwards;visibility: hidden;z-index: 1000;}.cid-rE43wizkxZ.on-load-popup .popup-close > span{width: 24px;height: 24px;}@keyframes show{100%{visibility: visible;}}.cid-rE43wizkxZ .brnz-popup .popup-close{position: absolute;right: 1rem;margin: -1rem -1rem -1rem auto;padding: 1rem;font-size: 1.5rem;cursor: pointer;opacity: .75;}.cid-rE43wizkxZ .brnz-popup .popup-close:hover{opacity: 1;}.cid-rE43wizkxZ .brnz-popup .popup-close:focus{outline: none;}.cid-rE43wizkxZ .brnz-popup .popup-close > span{font-size: 24px;color: #000000;}.cid-rE43wizkxZ .popup-notification{width: 100%;margin-top: 3rem;color: #fff;font-size: 25px;text-align: center;}.cid-rE43wizkxZ .brnz-form{justify-content: center;text-align: center;}@media (min-width: 768px){.cid-rE43wizkxZ .brnz-form{display: flex;-webkit-flex-wrap: wrap;flex-wrap: wrap;-webkit-align-items: center;align-items: center;}}.cid-rE43wizkxZ.popup-builder{background-color: #fff;}.cid-rE43wizkxZ.popup-builder .amp-modal-dialog{padding-top: 60px;padding-bottom: 60px;z-index: 2;}.cid-rE43wizkxZ .amp-modal-dialog{padding: 0;}.cid-rE43wizkxZ .brnz-form-row{display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;justify-content: center;margin-right: -0.5rem;margin-left: -0.5rem;}.cid-rE43wizkxZ .brnz-form-row > [class*="brnz-col"]{padding-left: .5rem;padding-right: .5rem;}.cid-rE43wizkxZ .field{padding-top: .5rem;padding-bottom: .5rem;}.cid-rE43wizkxZ .submit-message{width: 100%;}.cid-rE43wizkxZ .brnz-form-row > div{margin-bottom: 0;}.cid-rE43wizkxZ .brnz-overlay{bottom: 0;left: 0;position: absolute;right: 0;top: 0;z-index: 0;}@media (min-width: 576px){.cid-rE43wizkxZ .amp-modal-dialog{max-width: 500px;}.cid-rE43wizkxZ .modal-sm{max-width: 300px;}}@media (min-width: 992px){.cid-rE43wizkxZ .modal-lg,.cid-rE43wizkxZ .modal-xl{max-width: 800px;}}@media (min-width: 1200px){.cid-rE43wizkxZ .modal-xl{max-width: 1140px;}}.cid-rE43wizkxZ .popup-header{display: flex;-ms-flex-align: start;align-items: flex-start;-ms-flex-pack: justify;justify-content: space-between;padding: 1rem;}.cid-rE43wizkxZ .popup-text{margin-bottom: 1rem;}.cid-rE43wizkxZ .popup-body{position: relative;-ms-flex: 1 1 auto;flex: 1 1 auto;padding: 1rem;}.cid-rE43wizkxZ .popup-footer{display: flex;-ms-flex-align: center;align-items: center;justify-content: center;padding: 1rem;}.cid-rE43wizkxZ .pt-0{padding-top: 0;}.cid-rE43wizkxZ .pb-0{padding-bottom: 0;}.cid-rE43wizkxZ .brnz-text{color: #cccccc;}
.engine{position: absolute;text-indent: -2400px;text-align: center;padding: 0;top: 0;left: -2400px;}[class*="-iconfont"]{display: inline-flex;}
</style>
 
</head>
<body>
    <amp-sidebar id="sidebar" class="cid-rE46ot1NWA" layout="nodisplay" side="right">
        <div class="builder-sidebar" id="builder-sidebar">
            <button on="tap:sidebar.close" class="close-sidebar">
                <span></span>
                <span></span>
            </button>
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link brnz-bold text-black display-4" href="/" aria-expanded="true">Beranda</a>
                </li>
                <li class="nav-item"><a class="nav-link link brnz-bold text-black display-4" href="/sections"
                        aria-expanded="true">Koleksi<br></a></li>
                <li class="nav-item"><a class="nav-link link brnz-bold text-black display-4" href="/kontak"
                        aria-expanded="true">Kontak<br></a></li>
            </ul>
            <div class="navbar-buttons brnz-section-btn"><a class="btn btn-md brnz-bold btn-danger-outline display-7"
                    href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281"><span class="fa fa-whatsapp brnz-iconfont brnz-iconfont-btn"><svg width="16" height="16"
                            viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                            <path
                                d="M1113 974q13 0 97.5 44t89.5 53q2 5 2 15 0 33-17 76-16 39-71 65.5t-102 26.5q-57 0-190-62-98-45-170-118t-148-185q-72-107-71-194v-8q3-91 74-158 24-22 52-22 6 0 18 1.5t19 1.5q19 0 26.5 6.5t15.5 27.5q8 20 33 88t25 75q0 21-34.5 57.5t-34.5 46.5q0 7 5 15 34 73 102 137 56 53 151 101 12 7 22 7 15 0 54-48.5t52-48.5zm-203 530q127 0 243.5-50t200.5-134 134-200.5 50-243.5-50-243.5-134-200.5-200.5-134-243.5-50-243.5 50-200.5 134-134 200.5-50 243.5q0 203 120 368l-79 233 242-77q158 104 345 104zm0-1382q153 0 292.5 60t240.5 161 161 240.5 60 292.5-60 292.5-161 240.5-240.5 161-292.5 60q-195 0-365-94l-417 134 136-405q-108-178-108-389 0-153 60-292.5t161-240.5 240.5-161 292.5-60z">
                            </path>
                        </svg></span>Pesan Sekarang</a></div>
        </div>
    </amp-sidebar>
    <section class="menu1 menu horizontal-menu cid-rE46ot1NWA" id="menu1-c">
        <nav class="navbar navbar-dropdown navbar-expand-lg navbar-short navbar-fixed-top">
            <div class="menu-container container">
                <div class="navbar-brand">
                    <div class="navbar-logo">
                        <a href="/">
                            <amp-img src="/mob/assets/images/favicon-240x240.png" layout="responsive" height="50"
                                width="50" alt="Arumi Flower Shop" class="brionz-loader">
                            </amp-img>
                        </a>
                    </div>
                    <span class="navbar-caption-wrap"><a class="navbar-caption brnz-bold text-black display-5"
                            href="/">Arumi Flower Shop</a></span>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link brnz-bold text-black display-4" href="/" aria-expanded="true">
                                Beranda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link brnz-bold text-black display-4" href="/sections" aria-expanded="true">
                                Koleksi
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link brnz-bold text-black display-4" href="/contact" aria-expanded="true">
                                Kontak
                            </a>
                            </li>
                    </ul>
                    <div class="navbar-buttons brnz-section-btn">
                        <a class="btn btn-md brnz-bold btn-danger-outline display-7" href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281"><span class="fa fa-whatsapp brnz-iconfont brnz-iconfont-btn"><svg
                                    width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor">
                                    <path
                                        d="M1113 974q13 0 97.5 44t89.5 53q2 5 2 15 0 33-17 76-16 39-71 65.5t-102 26.5q-57 0-190-62-98-45-170-118t-148-185q-72-107-71-194v-8q3-91 74-158 24-22 52-22 6 0 18 1.5t19 1.5q19 0 26.5 6.5t15.5 27.5q8 20 33 88t25 75q0 21-34.5 57.5t-34.5 46.5q0 7 5 15 34 73 102 137 56 53 151 101 12 7 22 7 15 0 54-48.5t52-48.5zm-203 530q127 0 243.5-50t200.5-134 134-200.5 50-243.5-50-243.5-134-200.5-200.5-134-243.5-50-243.5 50-200.5 134-134 200.5-50 243.5q0 203 120 368l-79 233 242-77q158 104 345 104zm0-1382q153 0 292.5 60t240.5 161 161 240.5 60 292.5-60 292.5-161 240.5-240.5 161-292.5 60q-195 0-365-94l-417 134 136-405q-108-178-108-389 0-153 60-292.5t161-240.5 240.5-161 292.5-60z">
                                    </path>
                                </svg>
                            </span>Pesan Sekarang
                        </a>
                    </div>
                </div>
                
                <button on="tap:sidebar.toggle" class="ampstart-btn hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </nav>
    </section>

    <section class="header1 cid-rE42MSb4e9" id="header1-1">
        <div class="brnz-overlay"></div>
        <div class="container">
            <div class="brnz-row align-center brnz-jc-c">
                <div class="title-block brnz-col-sm-12 brnz-col-md-12 brnz-col-lg-6">
                    <h1 class="brnz-section-title brnz-fonts-style brnz-bold display-1">{{.Title}}</h1>
                    <h3 class="brnz-section-subtitle brnz-fonts-style brnz-pt-3">{{.Description}}</h3>
                    <div class="brnz-section-btn brnz-pt-4">
                        <a class="btn-primary btn display-7" href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281">Pesan Sekarang!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="brnz-section content8 cid-rE43hN5qAl" id="content8-6">
        <div class="container">
            <div class="brnz-row">
                <div class="brnz-col-sm-12 brnz-col-md-4 brnz-col-lg-4">
                    <div class="card-box brnz-flex">
                        <div class="icon-box brnz-pb-1">
                            <div class="iconfont-wrapper">
                                <span class="amp-iconfont animation-normal mbri-change-style"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32"
                                        fill="currentColor">
                                        <path
                                            d="M5.333 22.667c-0.953 0-1.84 0.28-2.576 0.862-0.737 0.583-1.424 1.524-1.424 2.471v2.667c0 0.84-0.48 1.61-1.109 2.167-0.419 0.419-0.224 1.167 0.443 1.167h1.333c1.558-0.048 3.24-0.268 4.695-1.109 0.73-0.422 1.391-0.996 1.875-1.724 0.485-0.731 0.763-1.593 0.763-2.5 0-1.048-0.449-2.071-1.19-2.81s-1.766-1.19-2.81-1.19zM5.333 24c0.692 0.016 1.378 0.315 1.867 0.802s0.799 1.198 0.799 1.865c0 0.601-0.192 1.237-0.542 1.763-0.351 0.529-0.853 0.974-1.43 1.307-1.149 0.664-2.574 0.883-4.021 0.93 0.347-0.597 0.659-1.303 0.659-2v-2.667c0-0.603 0.438-1.049 0.917-1.427 0.48-0.379 1.131-0.587 1.75-0.573zM31.333 0c-0.105-0.002-0.194 0.021-0.289 0.068-6.001 2.9-11.655 6.516-16.802 10.75-1.227 1.010-2.475 2.094-3.451 3.461-0.916 1.284-1.458 2.888-1.458 4.388 0 1.066 0.447 2.093 1.198 2.833 0.738 0.728 1.751 1.167 2.802 1.167 1.487 0 3.091-0.497 4.383-1.401 1.382-0.967 2.461-2.226 3.466-3.458 4.22-5.175 7.836-10.841 10.75-16.849 0.213-0.437-0.114-0.947-0.599-0.958zM29.607 2.393c-2.674 5.15-5.788 10.076-9.456 14.573-0.988 1.212-1.999 2.368-3.201 3.208-1.047 0.733-2.438 1.159-3.617 1.159-0.67 0-1.377-0.3-1.865-0.781-0.493-0.486-0.802-1.204-0.802-1.885 0-1.166 0.459-2.562 1.208-3.612 0.855-1.198 2.009-2.213 3.216-3.206 4.47-3.677 9.377-6.792 14.516-9.456z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="text-box">
                            <h3 class="brnz-fonts-style brnz-pb-1 brnz-bold custom-card-title display-5">Desain Menarik
                            </h3>
                            <p class="brnz-fonts-style custom-card-subtitle display-7">Desain yang sangat menarik akan
                                tersaji hanya untuk Anda.</p>
                        </div>
                    </div>
                </div>
                <div class="brnz-col-sm-12 brnz-col-md-4 brnz-col-lg-4">
                    <div class="card-box brnz-flex">
                        <div class="icon-box brnz-pb-1">
                            <div class="iconfont-wrapper">
                                <span class="amp-iconfont animation-normal mbri-clock"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32"
                                        fill="currentColor">
                                        <path
                                            d="M4 15.333c0 0.368-0.298 0.667-0.667 0.667s-0.667-0.298-0.667-0.667c0-0.368 0.298-0.667 0.667-0.667s0.667 0.298 0.667 0.667zM16 27.333c0 0.368-0.298 0.667-0.667 0.667s-0.667-0.298-0.667-0.667c0-0.368 0.298-0.667 0.667-0.667s0.667 0.298 0.667 0.667zM28 15.333c0 0.368-0.298 0.667-0.667 0.667s-0.667-0.298-0.667-0.667c0-0.368 0.298-0.667 0.667-0.667s0.667 0.298 0.667 0.667zM16 3.333c0 0.368-0.298 0.667-0.667 0.667s-0.667-0.298-0.667-0.667c0-0.368 0.298-0.667 0.667-0.667s0.667 0.298 0.667 0.667zM15.333 5.333c-0.369 0-0.667 0.297-0.667 0.667v7.458c-0.772 0.278-1.333 1.013-1.333 1.875 0 1.097 0.903 2 2 2 0.862 0 1.597-0.561 1.875-1.333h4.792c0.369 0 0.667-0.297 0.667-0.667s-0.297-0.667-0.667-0.667h-4.792c-0.203-0.562-0.646-1.006-1.208-1.208v-7.458c0-0.369-0.297-0.667-0.667-0.667zM15.333 14.667c0.376 0 0.667 0.291 0.667 0.667s-0.291 0.667-0.667 0.667c-0.376 0-0.667-0.291-0.667-0.667s0.291-0.667 0.667-0.667zM15.333 0c-8.46 0-15.333 6.873-15.333 15.333s6.873 15.333 15.333 15.333c8.46 0 15.333-6.873 15.333-15.333s-6.873-15.333-15.333-15.333zM15.333 1.333c7.74 0 14 6.26 14 14s-6.26 14-14 14c-7.74 0-14-6.26-14-14s6.26-14 14-14z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="text-box">
                            <h3 class="brnz-fonts-style brnz-pb-1 brnz-bold custom-card-title display-5">Tepat Waktu</h3>
                            <p class="brnz-fonts-style custom-card-subtitle display-7">Kepuasan pelanggan adalah
                                prioritas kami, maka ketepatan waktu adalah kuncinya.</p>
                        </div>
                    </div>
                </div>
                <div class="brnz-col-sm-12 brnz-col-md-4 brnz-col-lg-4">
                    <div class="card-box brnz-flex">
                        <div class="icon-box brnz-pb-1">
                            <div class="iconfont-wrapper">
                                <span class="amp-iconfont animation-normal mbri-delivery"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 32 32"
                                        fill="currentColor">
                                        <path
                                            d="M0.667 18.667h2.667c0.369 0 0.667 0.297 0.667 0.667s-0.297 0.667-0.667 0.667h-2.667c-0.369 0-0.667-0.297-0.667-0.667s0.297-0.667 0.667-0.667zM0.667 13.333h2.667c0.369 0 0.667 0.297 0.667 0.667s-0.297 0.667-0.667 0.667h-2.667c-0.369 0-0.667-0.297-0.667-0.667s0.297-0.667 0.667-0.667zM0.667 8h2.667c0.369 0 0.667 0.297 0.667 0.667s-0.297 0.667-0.667 0.667h-2.667c-0.369 0-0.667-0.297-0.667-0.667s0.297-0.667 0.667-0.667zM17.133 12.19c-0.263-0.257-0.684-0.252-0.941 0.011l-3.525 3.525-2.19-2.192c-0.599-0.599-1.545 0.355-0.941 0.942l2.662 2.663c0.26 0.26 0.681 0.26 0.941 0l3.995-3.996c0.267-0.261 0.267-0.691 0-0.953zM26.641 20c-1.465 0-2.667 1.202-2.667 2.667s1.202 2.667 2.667 2.667c1.465 0 2.667-1.202 2.667-2.667s-1.202-2.667-2.667-2.667zM26.641 21.333c0.744 0 1.333 0.589 1.333 1.333s-0.589 1.333-1.333 1.333c-0.744 0-1.333-0.589-1.333-1.333s0.589-1.333 1.333-1.333zM12 20c-1.465 0-2.667 1.202-2.667 2.667s1.202 2.667 2.667 2.667c1.465 0 2.667-1.202 2.667-2.667s-1.202-2.667-2.667-2.667zM12 21.333c0.744 0 1.333 0.589 1.333 1.333s-0.589 1.333-1.333 1.333c-0.744 0-1.333-0.589-1.333-1.333s0.589-1.333 1.333-1.333zM23.333 21.333c0.864 0 0.896-1.333 0-1.333h-0.667v-9.333h3.674l4.326 5.563v3.771h-0.667c-0.875 0-0.886 1.333 0 1.333h0.667c0.727 0 1.333-0.606 1.333-1.333v-4c-0-0.148-0.050-0.292-0.141-0.409l-4.667-6c-0.126-0.162-0.32-0.258-0.526-0.258h-4v-1.333c0-0.727-0.606-1.333-1.333-1.333h-14.667c-0.727 0-1.333 0.606-1.333 1.333v12c0 0.727 0.606 1.333 1.333 1.333h2c0.864 0.012 0.895-1.333 0-1.333h-2v-12h14.667v12h-6c-0.864 0-0.879 1.346 0 1.333z">
                                        </path>
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="text-box">
                            <h3 class="brnz-fonts-style brnz-pb-1 brnz-bold custom-card-title display-5">Gratis Ongkir</h3>
                            <p class="brnz-fonts-style custom-card-subtitle display-7">Gratis Ongkir untuk daerah Jabodetabek dan sekitarnya.&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features8 cid-rE44tWqOhT" id="features8-a">
        <div class="container">
            <div class="brnz-row brnz-jc-c brnz-pb-5 align-center">
            </div>
            <div class="brnz-row brnz-jc-c brnz-ai-c brnz-column">
                <div class="brnz-col-sm-12 brnz-col-md-10 brnz-col-lg-10">
                    <div class="card-box-wrapper">
                        <div class="card-box">
                            <div class="text-box">
                                {{.Content}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="brnz-section faq cid-rE430NBsaX" id="faq-3">
        <div class="container">
            <div class="title brnz-row">
                <h3 class="brnz-section-title brnz-fonts-style brnz-bold align-center display-5">FAQ</h3>
            </div>
            <div class="brnz-row brnz-jc-c">
                <div class="brnz-col-sm-12 brnz-col-md-12 brnz-col-lg-10">
                    <amp-accordion animate="">
                        <section class="tab">
                            <h4 class="tab-title brnz-fonts-style brnz-bold display-5">Apa yang membuat Arumi Flower Shop
                                spesial?</h4>
                            <p class="brnz-fonts-style brnz-pt-1 display-7">Selain dari segi pengalaman yang cukup untuk
                                dibekal ke masa depan, kami selalu memberikan layanan terbaik dengan cara memberikan
                                karangan bunga paling indah yang pernah ada untuk semua kliennya.</p>
                        </section>
                        <section class="tab">
                            <h4 class="tab-title brnz-fonts-style brnz-bold display-5">Bunga Apa saja yang kami sediakan?
                            </h4>
                            <p class="brnz-fonts-style brnz-pt-1 display-7">Kami memiliki sangat banyak koleksi, bahkan
                                Anda bisa memesan dengan desain Anda sendiri sesuai kebutuhan. Diantara koleksi-koleksi
                                terbaik kami, kami memiliki Bunga Papan Duka Cita, Bunga Papan Happy Wedding, Bunga
                                Papan Congratulations, Bunga Box, Bunga Standing, Bunga Anggrek, dan kami juga melayani
                                jasa Dekorasi Rumah Duka untuk Anda.
                                <br></p>
                        </section>
                        <section class="tab">
                            <h4 class="tab-title brnz-fonts-style brnz-bold display-5">Kenapa harus pesan Bunga Papan
                                Disini?</h4>
                            <p class="brnz-fonts-style brnz-pt-1 display-7">Selain Anda mendapatkan bunga yang Indah,
                                harga murah, Anda juga akan mendapatkan setangkai bunga mawar untuk Anda berikan kepada
                                orang yang Anda sayangi sebagai bonus.</p>
                        </section>
                    </amp-accordion>
                </div>
            </div>
        </div>
    </section>

    <section class="info1 cid-rE43bgiwqO" id="info1-5">
        <div class="container align-center">
            <h3 class="brnz-fonts-style brnz-bold display-5">Tungu Apalagi? Pesan sekarang juga!</h3>
            <div class="brnz-pt-3 brnz-flex brnz-jc-c brnz-flex-wrap">
                <div>
                    <a class="btn btn-success-outline display-4" href="#"><span
                            class="fa fa-phone brnz-iconfont brnz-iconfont-btn"><svg width="13" height="13"
                                viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path
                                    d="M1600 1240q0 27-10 70.5t-21 68.5q-21 50-122 106-94 51-186 51-27 0-53-3.5t-57.5-12.5-47-14.5-55.5-20.5-49-18q-98-35-175-83-127-79-264-216t-216-264q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47-12.5-57.5-3.5-53q0-92 51-186 56-101 106-122 25-11 68.5-21t70.5-10q14 0 21 3 18 6 53 76 11 19 30 54t35 63.5 31 53.5q3 4 17.5 25t21.5 35.5 7 28.5q0 20-28.5 50t-62 55-62 53-28.5 46q0 9 5 22.5t8.5 20.5 14 24 11.5 19q76 137 174 235t235 174q2 1 19 11.5t24 14 20.5 8.5 22.5 5q18 0 46-28.5t53-62 55-62 50-28.5q14 0 28.5 7t35.5 21.5 25 17.5q25 15 53.5 31t63.5 35 54 30q70 35 76 53 3 7 3 21z">
                                </path>
                            </svg>
                        </span>
                        Panggil
                    </a>
                </div>
                <div>
                    <a class="btn btn-danger-outline display-4" href="#">
                        <span class="fa fa-whatsapp brnz-iconfont brnz-iconfont-btn"><svg width="13" height="13"
                                viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <path
                                    d="M1113 974q13 0 97.5 44t89.5 53q2 5 2 15 0 33-17 76-16 39-71 65.5t-102 26.5q-57 0-190-62-98-45-170-118t-148-185q-72-107-71-194v-8q3-91 74-158 24-22 52-22 6 0 18 1.5t19 1.5q19 0 26.5 6.5t15.5 27.5q8 20 33 88t25 75q0 21-34.5 57.5t-34.5 46.5q0 7 5 15 34 73 102 137 56 53 151 101 12 7 22 7 15 0 54-48.5t52-48.5zm-203 530q127 0 243.5-50t200.5-134 134-200.5 50-243.5-50-243.5-134-200.5-200.5-134-243.5-50-243.5 50-200.5 134-134 200.5-50 243.5q0 203 120 368l-79 233 242-77q158 104 345 104zm0-1382q153 0 292.5 60t240.5 161 161 240.5 60 292.5-60 292.5-161 240.5-240.5 161-292.5 60q-195 0-365-94l-417 134 136-405q-108-178-108-389 0-153 60-292.5t161-240.5 240.5-161 292.5-60z">
                                </path>
                            </svg>
                        </span>
                        Whatsapp
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="footer1 cid-rE43qQyckq" id="footer1-7">
        <div class="footer-container container brnz-flex">
            <div class="brnz-row link-items brnz-jc-c brnz-fonts-style brnz-bold display-7">
                <p class="brnz-text fLink brnz-px-1">Beranda</p>
                <p class="brnz-text fLink brnz-px-1">Tentang</p>
                <p class="brnz-text fLink brnz-px-1">Kontak</p>
            </div>
            <div class="copyright brnz-px-2 brnz-flex brnz-jc-c">
                <p class="brnz-text brnz-fonts-style align-center display-7">© Arumi Flower Shop 2009-2019</p>
            </div>
        </div>
    </section>

    <amp-lightbox id="amp-popup-8" class="cid-rE43wizkxZ" layout="nodisplay">
        <div class="brnz-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);">
        </div>
        <div class="brnz-popup" data-timer-delay="5">
            <div class="container amp-modal-dialog">
                <div class="card-wrapper">
                    <div class="popup-header pb-0">
                        <h5 class="brnz-fonts-style card-title align-center display-5">[BONUS] Setangkai Bunga Mawar</h5>
                        <div class="popup-close" on="tap:amp-popup-8.close" role="button" tabindex="0">
                            <span class="amp-iconfont mbri-close"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 32 32" fill="currentColor">

                                    <path
                                        d="M31.797 0.191c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.598 0.581 0.342 1.543 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM14.472 17.515c-0.264-0.256-0.686-0.25-0.942 0.015l-13.328 13.326c-0.613 0.595 0.34 1.562 0.942 0.942l13.328-13.326c0.27-0.262 0.27-0.695 0-0.957zM1.144 0.205c-0.584-0.587-1.544 0.336-0.942 0.942l30.654 30.651c0.613 0.625 1.563-0.325 0.942-0.942z">
                                    </path>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <div class="popup-body">
                        <div class="popup-text">
                            <p class="brnz-text brnz-fonts-style align-center display-7">
                                Berikan kepada orang tercinta untuk mendapat warna lebih cerah dalam kehidupan Anda.</p>
                        </div>

                        <div>
                            <div class="card-img">
                                <amp-img src="/mob/assets/images/brnz-936x724.jpg" layout="responsive" width="468"
                                    height="362" alt="Setangkai Bunga Mawar" class="brionz-loader">
                                    <div placeholder="" class="placeholder">
                                        <div class="brionz-spinner">
                                            <em></em>
                                            <em></em>
                                            <em></em>
                                        </div>
                                    </div>
                                </amp-img>
                            </div>
                        </div>
                    </div>

                    <div class="popup-footer align-center">
                        <div class="brnz-section-btn"><a class="btn btn-md btn-white-outline display-4" href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281"><span
                                    class="fa fa-whatsapp brnz-iconfont brnz-iconfont-btn"><svg width="13" height="13" viewBox="0 0 1792 1792"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                        <path
                                            d="M1113 974q13 0 97.5 44t89.5 53q2 5 2 15 0 33-17 76-16 39-71 65.5t-102 26.5q-57 0-190-62-98-45-170-118t-148-185q-72-107-71-194v-8q3-91 74-158 24-22 52-22 6 0 18 1.5t19 1.5q19 0 26.5 6.5t15.5 27.5q8 20 33 88t25 75q0 21-34.5 57.5t-34.5 46.5q0 7 5 15 34 73 102 137 56 53 151 101 12 7 22 7 15 0 54-48.5t52-48.5zm-203 530q127 0 243.5-50t200.5-134 134-200.5 50-243.5-50-243.5-134-200.5-200.5-134-243.5-50-243.5 50-200.5 134-134 200.5-50 243.5q0 203 120 368l-79 233 242-77q158 104 345 104zm0-1382q153 0 292.5 60t240.5 161 161 240.5 60 292.5-60 292.5-161 240.5-240.5 161-292.5 60q-195 0-365-94l-417 134 136-405q-108-178-108-389 0-153 60-292.5t161-240.5 240.5-161 292.5-60z">
                                        </path>
                                    </svg>
                                </span>
                                Pesan Sekarang Juga
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </amp-lightbox>
</body>
</html>