{{define "main"}}
<section class="slice">
  <div class="container">
    <div class="row row-grid">
      <div class="col-lg-6">
        <div data-toggle="sticky" data-sticky-offset="30">
            <img alt="{{.Title}}"  src="/img/post/thumbnail.png" data-src="{{.Params.image}}" class="img-fluid lazyload">
          <div class="mt-4 text-center">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pl-lg-5">
          
          <h5 class="h4">{{.Title}}</h5>
          <h6 class="text-primary">Rp. {{.Params.price | lang.NumFmt 0}}</h6>
          
          <div class="row align-items-center">
            <div class="col-6">
              <span class="static-rating static-rating-sm d-block"><i class="star far fa-star voted"></i>
                <i class="star far fa-star voted"></i>
                <i class="star far fa-star voted"></i>
                <i class="star far fa-star voted"></i>
                <i class="star far fa-star"></i></span>
            </div>
            <div class="col-9 text-right">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <span class="badge badge-pill badge-soft-success"><a href="/categories/{{.Params.categories | urlize}}"> {{.Params.Categories}}</a></span>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="py-4 my-4 border-top border-bottom">
            <h6 class="text-sm">Deskripsi:</h6>
            <p class="text-sm mb-0">
              {{.Description}}
            </p>
          </div>
            
            <a href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank" class="btn btn-success btn-icon mr-3 mt-2">
              <span class="btn-inner--icon"><i class="fab fa-whatsapp"></i></span>
              <span class="btn-inner--text">Order Via WA</span>
            </a>
            <a href="tel:+6281298727281" class="btn btn-primary btn-icon mt-2">
              <span class="btn-inner--icon"><i class="fas fa-phone"></i></span>
              <span class="btn-inner--text">Telpon</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
{{end}}