.brands,
.footer-clean {
    background-color: #fff
}

.brands {
    color: #313437
}

.brands a {
    display: block;
    text-align: center;
    padding: 40px 0
}

@media (max-width:767px) {
    .brands a {
        padding: 30px 0
    }
}

.brands a img {
    display: inline-block;
    margin: 10px 20px;
    vertical-align: middle
}

.footer-clean {
    padding: 50px 0;
    color: #4b4c4d
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: .8
}

.footer-clean ul a:hover {
    opacity: 1
}

.footer-clean .item.social {
    text-align: right
}

@media (max-width:768px) {
    .footer-clean .item.social {
        text-align: center
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: .75
}

.footer-clean .item.social>a:hover {
    opacity: .9
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px
    }
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px
    }

    .footer-clean .item.social>a {
        margin-top: 10px
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: .6
}

img {
    background-size: cover;
    background-repeat: no-repeat
}

.highlight-blue {
    color: #fff;
    background-color: #1e6add;
    padding: 50px 0
}

.highlight-blue p {
    color: #c4d5ef;
    line-height: 1.5
}

.highlight-blue h2 {
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit
}

.highlight-blue .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px
}

.highlight-blue .buttons {
    text-align: center
}

.highlight-blue .buttons .btn {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: 0 0;
    box-shadow: none;
    text-shadow: none;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .4px;
    line-height: 1
}

.highlight-blue .buttons .btn:hover {
    opacity: 1
}

.highlight-blue .buttons .btn:active {
    transform: translateY(1px)
}

.highlight-blue .buttons .btn-primary,
.highlight-blue .buttons .btn-primary:active {
    border: 2px solid rgba(255, 255, 255, .7);
    border-radius: 6px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: 14px 24px;
    background: 0 0;
    transition: background-color .25s
}

.zhadow,
.card:hover {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

card .card-title {
    color: #363738
}

.card .price {
    color: #363738;
}

.bg-gradient-primary {
    background: linear-gradient(80deg, #510fa8 0, #320fa8 100%) !important
}

.bg-gradient-secondary {
    background: linear-gradient(80deg, #fafbfe 0, #fafcfe 100%) !important
}

.bg-gradient-success {
    background: linear-gradient(80deg, #4cd964 0, #50d94c 100%) !important
}

.bg-gradient-info {
    background: linear-gradient(80deg, #24b7fa 0, #24e2fa 100%) !important
}

.bg-gradient-warning {
    background: linear-gradient(80deg, #ff9500 0, #ff6200 100%) !important
}

.bg-gradient-danger {
    background: linear-gradient(80deg, #ff3b30 0, #ff304e 100%) !important
}

.bg-gradient-light {
    background: linear-gradient(80deg, #ced4da 0, #ced6da 100%) !important
}

.bg-gradient-dark {
    background: linear-gradient(80deg, #05172a 0, #051e2a 100%) !important
}

.bg-gradient-white {
    background: linear-gradient(80deg, #fff 0, #fff 100%) !important
}

.bg-gradient-darker {
    background: linear-gradient(80deg, #020b13 0, #020e13 100%) !important
}

.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform
}

.headroom--pinned {
    transform: translateY(0)
}

.headroom--unpinned {
    transform: translateY(-100%)
}

.sharing__button {
    font-size: .8em
}

@media screen and (min-width: 40em) {
    .sharing__button {
        font-size: .9em
    }
}

@media screen and (min-width: 50em) {
    .sharing__button {
        font-size: 1em
    }
}

.question-set {
    border: none;
    padding: 0;
    margin-bottom: 1.5em
}

.question-set__title {
    display: block;
    margin-bottom: .75em
}

.question-set__input {
    width: 100%;
    padding: .25em;
    border: 1px solid #a4afba
}

.question-set__input:focus {
    outline: none;
    box-shadow: #4ECDC4 0 0 3px 0
}

.question-set__label {
    display: inline-block;
    margin-bottom: .25em
}

.question-set__label--block {
    display: block
}

.question-set__label input[type=radio] {
    margin-right: .75em
}

:not(pre)>code {
    background-color: #d0d5db;
    padding: .3em .2em .1em;
    border-radius: .25em
}

p+h2,
p+h3 {
    margin-top: 1.5em
}

.complimentary {
    display: none
}

@media screen and (min-width: 40em) {
    .complimentary {
        display: inline
    }
}

.subdued {
    opacity: .6;
    text-shadow: none
}

a.subdued:hover {
    color: #fff
}

.downloads {
    margin-bottom: 1.5em
}

.animated {
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    will-change: transform, opacity
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-100%)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-100%)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

.animated.slideDown {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-100%)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }

    100% {
        -moz-transform: translateY(-100%)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }

    100% {
        -o-transform: translateY(-100%)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-100%)
    }
}

.animated.slideUp {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp
}

@-webkit-keyframes swingInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }
}

@-moz-keyframes swingInX {
    0% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }
}

@-o-keyframes swingInX {
    0% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        -o-transform: perspective(400px) rotateX(0deg)
    }
}

@keyframes swingInX {
    0% {
        transform: perspective(400px) rotateX(-90deg)
    }

    100% {
        transform: perspective(400px) rotateX(0deg)
    }
}

.animated.swingInX {
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ie-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: swingInX;
    -moz-backface-visibility: visible !important;
    -moz-animation-name: swingInX;
    -o-backface-visibility: visible !important;
    -o-animation-name: swingInX;
    backface-visibility: visible !important;
    animation-name: swingInX
}

@-webkit-keyframes swingOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg)
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(-90deg)
    }
}

@-moz-keyframes swingOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg)
    }

    100% {
        -moz-transform: perspective(400px) rotateX(-90deg)
    }
}

@-o-keyframes swingOutX {
    0% {
        -o-transform: perspective(400px) rotateX(0deg)
    }

    100% {
        -o-transform: perspective(400px) rotateX(-90deg)
    }
}

@keyframes swingOutX {
    0% {
        transform: perspective(400px) rotateX(0deg)
    }

    100% {
        transform: perspective(400px) rotateX(-90deg)
    }
}

.animated.swingOutX {
    -webkit-transform-origin: top;
    -webkit-animation-name: swingOutX;
    -webkit-backface-visibility: visible !important;
    -moz-animation-name: swingOutX;
    -moz-backface-visibility: visible !important;
    -o-animation-name: swingOutX;
    -o-backface-visibility: visible !important;
    animation-name: swingOutX;
    backface-visibility: visible !important
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

@-moz-keyframes flipInX {
    0% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    100% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

@-o-keyframes flipInX {
    0% {
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    100% {
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

@keyframes flipInX {
    0% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }

    100% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }
}

.animated.flipInX {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    -moz-backface-visibility: visible !important;
    -moz-animation-name: flipInX;
    -o-backface-visibility: visible !important;
    -o-animation-name: flipInX;
    backface-visibility: visible !important;
    animation-name: flipInX
}

@-webkit-keyframes flipOutX {
    0% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    100% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

@-moz-keyframes flipOutX {
    0% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    100% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

@-o-keyframes flipOutX {
    0% {
        -o-transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    100% {
        -o-transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

@keyframes flipOutX {
    0% {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1
    }

    100% {
        transform: perspective(400px) rotateX(90deg);
        opacity: 0
    }
}

.animated.flipOutX {
    -webkit-animation-name: flipOutX;
    -webkit-backface-visibility: visible !important;
    -moz-animation-name: flipOutX;
    -moz-backface-visibility: visible !important;
    -o-animation-name: flipOutX;
    -o-backface-visibility: visible !important;
    animation-name: flipOutX;
    backface-visibility: visible !important
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px)
    }

    80% {
        -webkit-transform: translateY(-10px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes bounceInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-200px)
    }

    60% {
        opacity: 1;
        -moz-transform: translateY(30px)
    }

    80% {
        -moz-transform: translateY(-10px)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes bounceInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(-200px)
    }

    60% {
        opacity: 1;
        -o-transform: translateY(30px)
    }

    80% {
        -o-transform: translateY(-10px)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-200px)
    }

    60% {
        opacity: 1;
        transform: translateY(30px)
    }

    80% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

.animated.bounceInDown {
    -webkit-animation-name: bounceInDown;
    -moz-animation-name: bounceInDown;
    -o-animation-name: bounceInDown;
    animation-name: bounceInDown
}

@-webkit-keyframes bounceOutUp {
    0% {
        -webkit-transform: translateY(0)
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(20px)
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-200px)
    }
}

@-moz-keyframes bounceOutUp {
    0% {
        -moz-transform: translateY(0)
    }

    30% {
        opacity: 1;
        -moz-transform: translateY(20px)
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(-200px)
    }
}

@-o-keyframes bounceOutUp {
    0% {
        -o-transform: translateY(0)
    }

    30% {
        opacity: 1;
        -o-transform: translateY(20px)
    }

    100% {
        opacity: 0;
        -o-transform: translateY(-200px)
    }
}

@keyframes bounceOutUp {
    0% {
        transform: translateY(0)
    }

    30% {
        opacity: 1;
        transform: translateY(20px)
    }

    100% {
        opacity: 0;
        transform: translateY(-200px)
    }
}

.animated.bounceOutUp {
    -webkit-animation-name: bounceOutUp;
    -moz-animation-name: bounceOutUp;
    -o-animation-name: bounceOutUp;
    animation-name: bounceOutUp
}