<!DOCTYPE html>
<html amp>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <title>{{.Title}} 🌸</title>
    <meta name="description" content="{{.Summary | default .Description}}">

    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js">
    </script>

    <link rel="canonical" href="{{.Permalink}}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    
    {{ template "_internal/twitter_cards.html" . }}

    <meta property="og:title" content="{{.Title}}">
    <meta property="og:site_name" content="{{$.Site.Title}}">
    <meta property="og:url" content="{{.Permalink}}">
    <meta property="og:description" content="{{.Description}}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{.Params.image}}">
    <meta name="google-site-verification" content="RaAuLx0cEdvOVKhdlys3ykOWi_m8wVqsCHoqq0HEA5E" />
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic" rel="stylesheet">

    <style amp-custom>{{ partial "styles.min.css" . | safeCSS }}</style>
</head>
    <body>
        <amp-sidebar id="sidebar" class="cid-rmQWRsUKx2" layout="nodisplay" side="right">
            <div class="builder-sidebar" id="builder-sidebar">
                <button on="tap:sidebar.close" class="close-sidebar">
                    <span></span>
                    <span></span>
                </button>
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    <li class="nav-item dropdown">
                        <a class="nav-link link dropdown-toggle text-white display-7" data-toggle="dropdown-submenu"
                            aria-expanded="false">
                            Koleksi</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-white display-7" href="/wedding">Bunga Papan Happy Wedding</a>
                            <a class="dropdown-item text-white display-7" href="/congratulations">Bunga Papan
                                Congratulations</a><a class="dropdown-item text-white display-7" href="/dukacita">Bunga
                                Papan Duka Cita</a><a class="dropdown-item text-white display-7"
                                href="/handbouquet">Hand Bouquet</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-7" href="/contact">
                            Kontak</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-7" href="/about">
                            Tentang</a>
                    </li>
                </ul>

                <div class="navbar-buttons brnz-section-btn"><a class="btn btn-sm btn-white-outline display-7" href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop, Saya mau pesan bunga...&phone=6281298727281" target="_blank"> Whatsapp</a></div>
            </div>
        </amp-sidebar>
        <section class="menu horizontal-menu cid-rmQWRsUKx2" id="menu2-0">
            <nav class="navbar navbar-dropdown navbar-expand-lg navbar-fixed-top">
                <div class="brand">
                    <span class="brand-logo">
                        <a href="/">
                            <amp-img src="/assets/images/favicon-90x90.png" layout="responsive" width="45" height="45"
                                alt="Arumi Flower Shop">
                            </amp-img>
                        </a>
                    </span>
                    <p class="brand-name brnz-fonts-style brnz-bold display-5"><a href="/" class="text-white">Arumi
                            Flower</a></p>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        <li class="nav-item dropdown">
                            <a class="nav-link link dropdown-toggle text-white display-7" data-toggle="dropdown-submenu"
                                aria-expanded="false">
                                Koleksi</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-white display-7" href="/wedding">Bunga Papan Happy
                                    Wedding</a>
                                <a class="dropdown-item text-white display-7" href="/congratulations">Bunga Papan
                                    Congratulations</a><a class="dropdown-item text-white display-7"
                                    href="/dukacita">Bunga Papan Duka Cita</a><a
                                    class="dropdown-item text-white display-7" href="/handbouquet">Hand Bouquet</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-white display-7" href="/contact">
                                Kontak</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-white display-7" href="/about">
                                Tentang</a>
                        </li>
                    </ul>
                    <div class="navbar-buttons brnz-section-btn">
                        <a class="btn btn-sm btn-white-outline display-7" href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank"> Whatsapp</a>
                    </div>
                </div>
                <button on="tap:sidebar.toggle" class="ampstart-btn hamburger sticky-but">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </nav>
        </section>
        <section class="header1 cid-rpBoJCvSUx" id="header1-4">
            <div class="container">
                <h3 class="brnz-fonts-style align-center brnz-bold brnz-white display-1">
                    <strong>{{.Title}}</strong></h3>
                <h3 class="brnz-section-subtitle brnz-fonts-style align-right brnz-white brnz-light display-2">
                    {{.Description}}</h3>

                <div class="brnz-section-btn align-right">
                    <a class="btn btn-md btn-white-outline display-4" href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank"> Chat Sekarang</a>
                    <a class="btn btn-md btn-white display-4" href="tel:+6281298727281"> Telpon Sekarang</a>
                </div>
            </div>

        </section>

        <section class="gallery1 cid-rpBoO04SSz" id="gallery1-5">


            <div class="container">
                <div class="title align-center">
                    <h3 class="brnz-section-title brnz-light brnz-fonts-style display-2">Koleksi Terlaris</h3>

                </div>
                <div class="brnz-row brnz-justify-content-center">
                    <div class="image-wrap col-6 brnz-col-lg-3 lg-px brnz-col-md-6 pb">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/wed-676x676.jpg" layout="responsive"
                                height="338" width="338" alt="Bunga Papan Happy Wedding">

                                <a href="/wedding#showcase"></a>
                            </amp-img>
                            <div class="img-caption align-center">
                                <p class="caption-text brnz-fonts-style brnz-white"><a href="/wedding#showcase" class="brnz-white">Bunga Papan Happy Wedding</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px pb">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/congratz-600x600.jpg" layout="responsive"
                                height="338" width="338" alt="Bunga Papan Congratulations">

                                <a href="/congratulations#showcase"></a>
                            </amp-img>
                            <div class="img-caption align-center">
                                <p class="caption-text brnz-fonts-style brnz-white"><a href="/congratulations#showcase" class="brnz-white">Bunga Papan
                                    Congratulations</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px pb">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/dukac-676x676.jpg" layout="responsive"
                                height="338" width="338" alt="Bunga Papan Duka Cita">

                                <a href="/dukacita#showcase"></a>
                            </amp-img>
                            <div class="img-caption align-center">
                                <p class="caption-text brnz-fonts-style brnz-white"><a href="/dukacita#showcase" class="brnz-white">Bunga Papan Duka Cita</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/bunga-box-600x600.jpg"
                                layout="responsive" height="338" width="338" alt="Bunga Box">

                                <a href="/box#showcase"></a>
                            </amp-img>
                            <div class="img-caption align-center">
                                <p class="caption-text brnz-fonts-style brnz-white"><a href="/box#showcase" class="brnz-white">Bunga Box</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/stand-676x676.jpg" layout="responsive"
                                height="338" width="338" alt="Bunga Standing">

                                <a href="/standing#showcase"></a>
                            </amp-img>
                            <div class="img-caption align-center">
                                <p class="caption-text brnz-fonts-style brnz-white"><a href="/standing#showcase" class="brnz-white">Bunga Standing</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px last-child">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/hb-676x676.jpg" layout="responsive"
                                height="338" width="338" alt="Hand Bouquet">

                                <a href="/handbouquet#showcase"></a>
                            </amp-img>
                            <div class="img-caption align-center">
                                <p class="caption-text brnz-fonts-style brnz-white"><a href="/handbouquet#showcase" class="brnz-white">Hand Bouquet</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px last-child">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/img/koleksi/350/meja23.jpg" layout="responsive"
                                height="338" width="338" alt="Bunga Meja">

                                <a href="/meja#showcase"></a>
                            </amp-img>
                            <div class="img-caption align-center">
                                <p class="caption-text brnz-fonts-style brnz-white"><a href="/meja#showcase" class="brnz-white">Bunga Meja</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px last-child">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/img/koleksi/350/anggrek1.jpg" layout="responsive"
                                height="338" width="338" alt="Karangan Bunga Anggrek">

                                <a href="/anggrek#showcase"></a>
                            </amp-img>
                            <div class="img-caption align-center">
                                <p class="caption-text brnz-fonts-style brnz-white"><a href="/anggrek#showcase" class="brnz-white">Bunga Anggrek</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container align-center">
            <div class="title align-center">
                <h3 class="brnz-section-title brnz-light brnz-fonts-style display-2">Jelajahi Kategori</h3>

            </div>
            <div class="brnz-row">
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/box#showcase">Bunga Box</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/meja#showcase"> Bunga Meja</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/krans#showcase"> Bunga Krans</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/handbouquet#showcase"> Hand Bouquet</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/anggrek#showcase"> Bunga Anggrek</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/standing#showcase"> Bunga Standing</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/congratulations#showcase"> Congratulations</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/dukacita#showcase"> Bunga Dukacita</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/dekorasi-rumah-duka#showcase"> Dekorasi Rumah Duka</a>
                </div>
                <div class="col-6 brnz-col-md-6">
                    <a class="btn btn-outline-primary btn-block" href="/wedding#showcase">Bunga Papan Wedding</a>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <section class="brnz-section content18 cid-rpBoSAA3SR" id="content18-6">
            <div class="brnz-container">
                <h2 class="brnz-title align-center brnz-fonts-style brnz-bold brnz-white display-2">
                    Mengapa Memilih Kami?</h2>
                <h3 class="brnz-section-subtitle align-center brnz-light  brnz-fonts-style brnz-white display-5">
                    <em>Arumi Flower telah berdiri sejak 2009 hingga saat ini masih menjadi Toko Bunga Terbaik di
                        Jakarta.</em></h3>

            </div>
        </section>

        <section class="accordion cid-rmSXDMOC30" id="accordion1-2">


            <div class="brnz-container">


                <amp-accordion class="accordion" expand-single-section="">
                    <section expanded="">
                        <h4 class="section-title brnz-fonts-style display-5">Apa yang membuat Arumi Flower Shop spesial?
                        </h4>
                        <p class="brnz-fonts-style display-7">
                            Selain dari segi pengalaman yang cukup untuk dibekal ke masa depan, kami selalu memberikan
                            layanan terbaik dengan cara memberikan karangan bunga paling indah yang pernah ada untuk
                            semua kliennya.</p>
                    </section>
                    <section>
                        <h4 class="section-title brnz-fonts-style display-5">Bunga Apa saja yang kami sediakan?</h4>
                        <p class="brnz-fonts-style display-7">Kami memiliki sangat banyak koleksi, bahkan Anda bisa
                            memesan dengan desain Anda sendiri sesuai kebutuhan. Diantara koleksi-koleksi terbaik kami,
                            kami memiliki <a href="/dukacita" target="_blank">Bunga Papan Duka Cita</a>, <a
                                href="/wedding" target="_blank">Bunga Papan Happy Wedding</a>, <a
                                href="/congratulations">Bunga Papan Congratulations</a>, <a href="/box">Bunga Box</a>,
                            <a href="/standing" target="_blank">Bunga Standing</a>, <a href="/anggrek"
                                target="_blank">Bunga Anggrek</a>, dan kami juga melayani jasa Dekorasi Rumah Duka untuk
                            Anda.</p>
                    </section>
                    <section>
                        <h4 class="section-title brnz-fonts-style display-5">Kenapa harus pesan Bunga Papan Disini?</h4>
                        <p class="brnz-fonts-style display-7">Dijamin Anda mendapatkan bunga yang Indah, harga murah,
                            Anda juga akan mendapatkan pelayanan yang super cepat selama 24 jams etiap minggunya sebagai
                            bonus yang tak ternilai.</p>
                    </section>



                </amp-accordion>
            </div>
        </section>

        <section class="brnz-section content1 cid-rpBy2SW0V2" id="content1-9">



            <div class="brnz-container">
                <h2 class="brnz-title align-center brnz-fonts-style brnz-bold display-2">
                    Tungu Apalagi? Ayo Pesan Sekarang Juga!</h2>

                <div class="brnz-section-btn align-center">
                    <a class="btn btn-primary display-4" href="https://api.whatsapp.com/send?text=Halo! Arumi Flower Shop,
Saya mau pesan bunga...&phone=6281298727281" target="_blank">WHATSAPP</a>
                    <a class="btn btn-black-outline display-4" href="tel:+6281298727281">TELPON</a></div>
            </div>
        </section>

        <section class="gallery1 cid-rpMCcinx7a" id="gallery2-6">


            <div class="container">
                <div class="title align-center">
                    <h3 class="brnz-section-title brnz-light brnz-fonts-style display-2">Apa Kata Mereka?</h3>

                </div>
                <div class="brnz-row brnz-justify-content-center">
                    <div class="image-wrap col-6 brnz-col-lg-3 lg-px brnz-col-md-6 pb">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/t1-540x1140.jpg" layout="responsive"
                                height="713" width="337.7368421052631" alt="{{.Title}}" on="tap:lightbox1" role="button"
                                tabindex="0">
                            </amp-img>
                            <div class="icon-wrap" on="tap:lightbox1" role="button" tabindex="0">
                                <span class="amp-iconfont brnzi-search"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="currentColor">

                                        <path
                                            d="M10.875 17.534l-10.024 10.002c-1.192 1.19-1.033 2.844-0.138 3.745s2.55 1.062 3.747-0.135l9.987-9.987c0.654-0.628-0.336-1.575-0.943-0.943l-9.987 9.987c-0.772 0.772-1.425 0.575-1.859 0.138s-0.627-1.101 0.135-1.862l10.024-10.002c0.56-0.56-0.336-1.549-0.943-0.943zM20.266 2.742c-1.925 0.259-3.756 1.212-5.083 2.807-0.569 0.684 0.435 1.564 1.026 0.854 2.219-2.667 6.095-3.188 8.94-1.203 0.729 0.509 1.492-0.585 0.763-1.094-1.702-1.187-3.721-1.624-5.646-1.365zM21.333 0c-5.883 0-10.667 4.783-10.667 10.667s4.784 10.667 10.667 10.667c5.883 0 10.667-4.783 10.667-10.667s-4.784-10.667-10.667-10.667zM21.333 1.333c5.163 0 9.333 4.171 9.333 9.333s-4.171 9.333-9.333 9.333c-5.163 0-9.333-4.171-9.333-9.333s4.171-9.333 9.333-9.333z">
                                        </path>
                                    </svg></span>
                            </div>

                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px pb">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/t2-540x1140.jpg" layout="responsive"
                                height="713" width="337.7368421052631" alt="{{.Title}}" on="tap:lightbox1" role="button"
                                tabindex="0">

                            </amp-img>
                            <div class="icon-wrap" on="tap:lightbox1" role="button" tabindex="0">
                                <span class="amp-iconfont brnzi-search"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="currentColor">

                                        <path
                                            d="M10.875 17.534l-10.024 10.002c-1.192 1.19-1.033 2.844-0.138 3.745s2.55 1.062 3.747-0.135l9.987-9.987c0.654-0.628-0.336-1.575-0.943-0.943l-9.987 9.987c-0.772 0.772-1.425 0.575-1.859 0.138s-0.627-1.101 0.135-1.862l10.024-10.002c0.56-0.56-0.336-1.549-0.943-0.943zM20.266 2.742c-1.925 0.259-3.756 1.212-5.083 2.807-0.569 0.684 0.435 1.564 1.026 0.854 2.219-2.667 6.095-3.188 8.94-1.203 0.729 0.509 1.492-0.585 0.763-1.094-1.702-1.187-3.721-1.624-5.646-1.365zM21.333 0c-5.883 0-10.667 4.783-10.667 10.667s4.784 10.667 10.667 10.667c5.883 0 10.667-4.783 10.667-10.667s-4.784-10.667-10.667-10.667zM21.333 1.333c5.163 0 9.333 4.171 9.333 9.333s-4.171 9.333-9.333 9.333c-5.163 0-9.333-4.171-9.333-9.333s4.171-9.333 9.333-9.333z">
                                        </path>
                                    </svg></span>
                            </div>

                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px pb">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/t3-540x1140.jpg" layout="responsive"
                                height="713" width="337.7368421052631" alt="{{.Title}}" on="tap:lightbox1" role="button"
                                tabindex="0">

                            </amp-img>
                            <div class="icon-wrap" on="tap:lightbox1" role="button" tabindex="0">
                                <span class="amp-iconfont brnzi-search"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="currentColor">

                                        <path
                                            d="M10.875 17.534l-10.024 10.002c-1.192 1.19-1.033 2.844-0.138 3.745s2.55 1.062 3.747-0.135l9.987-9.987c0.654-0.628-0.336-1.575-0.943-0.943l-9.987 9.987c-0.772 0.772-1.425 0.575-1.859 0.138s-0.627-1.101 0.135-1.862l10.024-10.002c0.56-0.56-0.336-1.549-0.943-0.943zM20.266 2.742c-1.925 0.259-3.756 1.212-5.083 2.807-0.569 0.684 0.435 1.564 1.026 0.854 2.219-2.667 6.095-3.188 8.94-1.203 0.729 0.509 1.492-0.585 0.763-1.094-1.702-1.187-3.721-1.624-5.646-1.365zM21.333 0c-5.883 0-10.667 4.783-10.667 10.667s4.784 10.667 10.667 10.667c5.883 0 10.667-4.783 10.667-10.667s-4.784-10.667-10.667-10.667zM21.333 1.333c5.163 0 9.333 4.171 9.333 9.333s-4.171 9.333-9.333 9.333c-5.163 0-9.333-4.171-9.333-9.333s4.171-9.333 9.333-9.333z">
                                        </path>
                                    </svg></span>
                            </div>

                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/t4-540x1140.jpg" layout="responsive"
                                height="713" width="337.7368421052631" alt="{{.Title}}" on="tap:lightbox1" role="button"
                                tabindex="0">

                            </amp-img>
                            <div class="icon-wrap" on="tap:lightbox1" role="button" tabindex="0">
                                <span class="amp-iconfont brnzi-search"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="currentColor">

                                        <path
                                            d="M10.875 17.534l-10.024 10.002c-1.192 1.19-1.033 2.844-0.138 3.745s2.55 1.062 3.747-0.135l9.987-9.987c0.654-0.628-0.336-1.575-0.943-0.943l-9.987 9.987c-0.772 0.772-1.425 0.575-1.859 0.138s-0.627-1.101 0.135-1.862l10.024-10.002c0.56-0.56-0.336-1.549-0.943-0.943zM20.266 2.742c-1.925 0.259-3.756 1.212-5.083 2.807-0.569 0.684 0.435 1.564 1.026 0.854 2.219-2.667 6.095-3.188 8.94-1.203 0.729 0.509 1.492-0.585 0.763-1.094-1.702-1.187-3.721-1.624-5.646-1.365zM21.333 0c-5.883 0-10.667 4.783-10.667 10.667s4.784 10.667 10.667 10.667c5.883 0 10.667-4.783 10.667-10.667s-4.784-10.667-10.667-10.667zM21.333 1.333c5.163 0 9.333 4.171 9.333 9.333s-4.171 9.333-9.333 9.333c-5.163 0-9.333-4.171-9.333-9.333s4.171-9.333 9.333-9.333z">
                                        </path>
                                    </svg></span>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/t5-540x1140.jpg" layout="responsive"
                                height="713" width="337.7368421052631" alt="{{.Title}}" on="tap:lightbox1" role="button"
                                tabindex="0">

                            </amp-img>
                            <div class="icon-wrap" on="tap:lightbox1" role="button" tabindex="0">
                                <span class="amp-iconfont brnz-search"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="currentColor">

                                        <path
                                            d="M10.875 17.534l-10.024 10.002c-1.192 1.19-1.033 2.844-0.138 3.745s2.55 1.062 3.747-0.135l9.987-9.987c0.654-0.628-0.336-1.575-0.943-0.943l-9.987 9.987c-0.772 0.772-1.425 0.575-1.859 0.138s-0.627-1.101 0.135-1.862l10.024-10.002c0.56-0.56-0.336-1.549-0.943-0.943zM20.266 2.742c-1.925 0.259-3.756 1.212-5.083 2.807-0.569 0.684 0.435 1.564 1.026 0.854 2.219-2.667 6.095-3.188 8.94-1.203 0.729 0.509 1.492-0.585 0.763-1.094-1.702-1.187-3.721-1.624-5.646-1.365zM21.333 0c-5.883 0-10.667 4.783-10.667 10.667s4.784 10.667 10.667 10.667c5.883 0 10.667-4.783 10.667-10.667s-4.784-10.667-10.667-10.667zM21.333 1.333c5.163 0 9.333 4.171 9.333 9.333s-4.171 9.333-9.333 9.333c-5.163 0-9.333-4.171-9.333-9.333s4.171-9.333 9.333-9.333z">
                                        </path>
                                    </svg></span>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrap col-6 brnz-col-md-6 brnz-col-lg-3 lg-px last-child">
                        <div class="image-box">
                            <amp-img class="brionz-loader" src="/assets/images/t6-540x1140.jpg" layout="responsive"
                                height="713" width="337.7368421052631" alt="{{.Title}}" on="tap:lightbox1" role="button"
                                tabindex="0">

                            </amp-img>
                            <div class="icon-wrap" on="tap:lightbox1" role="button" tabindex="0">
                                <span class="amp-iconfont brnz-search"><svg version="1.1"
                                        xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                        fill="currentColor">

                                        <path
                                            d="M10.875 17.534l-10.024 10.002c-1.192 1.19-1.033 2.844-0.138 3.745s2.55 1.062 3.747-0.135l9.987-9.987c0.654-0.628-0.336-1.575-0.943-0.943l-9.987 9.987c-0.772 0.772-1.425 0.575-1.859 0.138s-0.627-1.101 0.135-1.862l10.024-10.002c0.56-0.56-0.336-1.549-0.943-0.943zM20.266 2.742c-1.925 0.259-3.756 1.212-5.083 2.807-0.569 0.684 0.435 1.564 1.026 0.854 2.219-2.667 6.095-3.188 8.94-1.203 0.729 0.509 1.492-0.585 0.763-1.094-1.702-1.187-3.721-1.624-5.646-1.365zM21.333 0c-5.883 0-10.667 4.783-10.667 10.667s4.784 10.667 10.667 10.667c5.883 0 10.667-4.783 10.667-10.667s-4.784-10.667-10.667-10.667zM21.333 1.333c5.163 0 9.333 4.171 9.333 9.333s-4.171 9.333-9.333 9.333c-5.163 0-9.333-4.171-9.333-9.333s4.171-9.333 9.333-9.333z">
                                        </path>
                                    </svg></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <amp-image-lightbox id="lightbox1" layout="nodisplay">
                <a class="control" data-close-button-aria-label="Close">
                    <span class="close"></span>
                </a>
            </amp-image-lightbox>
        </section>

        <div class="container">
            {{if .Content}}
            <h1 class="display-2">{{.Title}}</h1>
            {{.Content}}
            {{end}}
        </div>

        <section class="footer1 cid-rpBp3FUNSf">
            <div class="container">
                <div class="col-6 align-center brnz-white">
                    <p class="brnz-text brnz-fonts-style display-7">
                        <a href="/" class="text-white">Arumi Flower Shop</a> © 2020 </p>
                </div>
            </div>
        </section>
    </body>

</html>