 div,
 span,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 a,
 ol,
 ul,
 li,
 figcaption {
     font: inherit;
 }

 * {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }

 body {
     position: relative;
     font-style: normal;
     line-height: 1.5;
 }

 section {
     background-color: #eeeeee;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: cover;
 }

 section,
 .container,
 .container-fluid {
     position: relative;
     word-wrap: break-word;
 }

 a.brnz-iconfont:hover {
     text-decoration: none;
 }

 h1,
 h2,
 h3 {
     margin: auto;
 }

 h1,
 h3,
 p {
     padding: 10px 0;
     margin-bottom: 15px;
 }

 p,
 li,
 blockquote {
     color: #15181b;
     letter-spacing: 0.5px;
     line-height: 1.7;
 }

 ul,
 ol,
 pre,
 blockquote {
     margin-bottom: 0;
     margin-top: 0;
 }

 pre {
     background: #f4f4f4;
     padding: 10px 24px;
     white-space: pre-wrap;
 }

 p {
     margin-top: 0;
 }

 a {
     font-style: normal;
     font-weight: 400;
     cursor: pointer;
 }

 a,
 a:hover {
     text-decoration: none;
 }

 figure {
     margin-bottom: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 .h1,
 .h2,
 .h3,
 .h4,
 .h5,
 .h6,
 .display-1,
 .display-2,
 .display-3,
 .display-4 {
     line-height: 1;
     word-break: break-word;
     word-wrap: break-word;
 }

 b,
 strong {
     font-weight: bold;
 }

 blockquote {
     padding: 10px 0 10px 20px;
     position: relative;
     border-left: 3px solid;
 }

 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 input:-webkit-autofill:active {
     -webkit-transition-delay: 9999s;
     transition-delay: 9999s;
     -webkit-transition-property: background-color, color;
     -o-transition-property: background-color, color;
     transition-property: background-color, color;
 }

 html,
 body {
     height: auto;
     min-height: 100vh;
 }

 .brnz-section-title {
     font-style: normal;
     line-height: 1.2;
 }

 .brnz-section-subtitle {
     line-height: 1.3;
 }

 .brnz-text {
     font-style: normal;
     line-height: 1.6;
 }

 .btn {
     display: inline-block;
     font-weight: 400;
     font-size: 1rem;
     border-width: 2px;
     border-style: solid;
     font-style: normal;
     letter-spacing: 1px;
     margin: .4rem .5rem;
     white-space: normal;
 }

 .btn-form {
     border-radius: 0;
 }

 .btn-form:hover {
     cursor: pointer;
 }

 input,
 textarea {
     padding: 15px 0.5rem;
     margin: 0.5rem;
 }

 .brnz-figure img,
 .brnz-figure iframe {
     display: block;
     width: 100%;
 }

 .card {
     background-color: transparent;
     border: none;
 }

 .card-wrapper {
     -webkit-box-flex: 1;
     -webkit-flex: 1;
 }

 .card-img {
     text-align: center;
     -ms-flex-negative: 0;
     flex-shrink: 0;
     -webkit-flex-shrink: 0;
 }

 .media {
     max-width: 100%;
     margin: 0 auto;
 }

 .brnz-figure {
     -ms-flex-item-align: center;
     -ms-grid-row-align: center;
     -webkit-align-self: center;
     align-self: center;
 }

 .media-container>div {
     max-width: 100%;
 }

 .brnz-figure img,
 .card-img img {
     width: 100%;
 }

 @media (max-width: 991px) {
     .media-size-item {
         width: auto;
     }

     .media {
         width: auto;
     }

     .brnz-figure {
         width: 100%;
     }
     .btn {
         display: inline-block;
         font-weight: 400;
         font-size: 0.8rem;
         border-width: 2px;
         border-style: solid;
         font-style: inherit;
         letter-spacing: 1px;
         margin: .4rem .5rem;
         white-space: normal;
     }
 }

 section.slider .amp-carousel-button {
     cursor: pointer;
 }

 amp-image-lightbox a.control {
     position: absolute;
     width: 32px;
     height: 32px;
     right: 16px;
     top: 16px;
     z-index: 1000;
 }

 amp-image-lightbox a.control .close {
     position: relative;
 }

 amp-image-lightbox a.control .close:before,
 amp-image-lightbox a.control .close:after {
     position: absolute;
     left: 15px;
     content: ' ';
     height: 33px;
     width: 2px;
     background-color: #fff;
 }

 amp-image-lightbox a.control .close:before {
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 amp-image-lightbox a.control .close:after {
     -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
     transform: rotate(-45deg);
 }

 .hidden {
     visibility: hidden;
 }

 .super-hide {
     display: none;
 }

 .inactive {
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     pointer-events: none;
     -webkit-user-drag: none;
     user-drag: none;
 }

 textarea[type="hidden"] {
     display: none;
 }

 #scrollToTop {
     display: none;
 }

 .popover-content ul.show {
     min-height: 155px;
 }

 .brnz-white {
     color: #ffffff;
 }

 .brnz-black {
     color: #000000;
 }

 .brnz-bg-white {
     background-color: #ffffff;
 }

 .brnz-bg-black {
     background-color: #000000;
 }

 .align-left {
     text-align: left;
 }

 .align-center {
     text-align: center;
 }

 .align-right {
     text-align: right;
 }

 @media (max-width: 767px) {

     .align-left,
     .align-center,
     .align-right,
     .brnz-section-btn,
     .brnz-section-title {
         text-align: center;
     }
 }

 .brnz-light {
     font-weight: 300;
 }

 .brnz-regular {
     font-weight: 400;
 }

 .brnz-semibold {
     font-weight: 500;
 }

 .brnz-bold {
     font-weight: 700;
 }

 .brnz-section-btn {
     margin-left: -.25rem;
     margin-right: -.25rem;
     font-size: 0;
 }

 nav .brnz-section-btn {
     margin-left: 0rem;
     margin-right: 0rem;
 }

 .btn .brnz-iconfont,
 .btn.btn-sm .brnz-iconfont {
     cursor: pointer;
     margin-right: 0.5rem;
 }

 .btn.btn-md .brnz-iconfont,
 .btn.btn-md .brnz-iconfont {
     margin-right: 0.8rem;
 }

 [type="submit"] {
     -webkit-appearance: none;
 }

 .google-map {
     height: 400px;
     position: relative;
     width: 100%;
 }

 .google-map iframe {
     height: 100%;
     width: 100%;
 }

 .google-map [data-state-details] {
     color: #6b6763;
     font-family: Montserrat;
     height: 1.5em;
     margin-top: -0.75em;
     padding-left: 1.25rem;
     padding-right: 1.25rem;
     position: absolute;
     text-align: center;
     top: 50%;
     width: 100%;
 }

 .google-map[data-state] {
     background: #e9e5dc;
 }

 .google-map[data-state="loading"] [data-state-details] {
     display: none;
 }

 .map-placeholder {
     display: none;
 }

 .brnz-fullscreen .brnz-overlay {
     height: 100vh;
 }

 .brnz-fullscreen {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     display: -moz-flex;
     display: -ms-flex;
     display: -o-flex;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     -webkit-align-items: center;
     height: 100vh;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     padding-top: 3rem;
     padding-bottom: 3rem;
 }

 .brnz-overlay {
     bottom: 0;
     left: 0;
     position: absolute;
     right: 0;
     top: 0;
     z-index: 0;
 }

 section.sidebar-open:before {
     content: '';
     position: fixed;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.2);
     z-index: 1040;
 }

 amp-img img {
     max-height: 100%;
     max-width: 100%;
 }

 img.brnz-temp {
     width: 100%;
 }

 .is-builder .nodisplay+img[async],
 .is-builder .nodisplay+img[decoding="async"],
 .is-builder amp-img>a+img[async],
 .is-builder amp-img>a+img[decoding="async"] {
     display: none;
 }

 html:not(.is-builder) amp-img>a {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 1;
 }

 .is-builder .temp-amp-sizer {
     position: absolute;
 }

 .is-builder section.slider .icon-wrap,
 .is-builder section[class*="gallery"] .icon-wrap {
     pointer-events: all;
 }

 .is-builder amp-youtube .temp-amp-sizer,
 .is-builder amp-vimeo .temp-amp-sizer {
     position: static;
 }

 .is-builder section.horizontal-menu .ampstart-btn {
     display: none;
 }

 @media (max-width: 991px) {
     .is-builder section.horizontal-menu .navbar-toggler {
         display: block;
     }
 }

 .is-builder section.horizontal-menu .dropdown-menu {
     z-index: auto;
     opacity: 1;
     pointer-events: auto;
 }

 .is-builder section.horizontal-menu .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
     margin-right: 0;
     padding: 0.667em 1em;
 }

 .brionz-spinner {
     position: absolute;
     top: 50%;
     left: 40%;
     margin-left: 10%;
     -webkit-transform: translate3d(-50%, -50%, 0);
     z-index: 4;
 }

 .brionz-spinner em {
     width: 24px;
     height: 24px;
     border-radius: 100%;
     display: inline-block;
     -webkit-animation: slide 1s infinite;
 }

 .brionz-spinner em:nth-child(1) {
     -webkit-animation-delay: 0.1s;
 }

 .brionz-spinner em:nth-child(2) {
     -webkit-animation-delay: 0.2s;
 }

 .brionz-spinner em:nth-child(3) {
     -webkit-animation-delay: 0.3s;
 }

 @-webkit-keyframes slide {
     0% {
         -webkit-transform: scale(1);
     }

     50% {
         opacity: 0.3;
         -webkit-transform: scale(2);
     }

     100% {
         -webkit-transform: scale(1);
     }
 }

 @keyframes slide {
     0% {
         -webkit-transform: scale(1);
     }

     50% {
         opacity: 0.3;
         -webkit-transform: scale(2);
     }

     100% {
         -webkit-transform: scale(1);
     }
 }

 .brionz-loader .amp-active>div {
     display: none;
 }

 .brnz-container {
     max-width: 800px;
     padding: 0 10px;
     margin: 0 auto;
     position: relative;
 }

 .container {
     padding-right: 15px;
     padding-left: 15px;
     width: 100%;
     margin-right: auto;
     margin-left: auto;
 }

 @media (max-width: 767px) {
     .container {
         max-width: 540px;
     }
 }

 @media (min-width: 768px) {
     .container {
         max-width: 720px;
     }
 }

 @media (min-width: 992px) {
     .container {
         max-width: 960px;
     }
 }

 @media (min-width: 1200px) {
     .container {
         max-width: 1140px;
     }
 }

 .brnz-row {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     margin-right: -15px;
     margin-left: -15px;
 }

 .brnz-justify-content-center {
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-justify-content: center;
 }

 @media (max-width: 767px) {
     .brnz-col-sm-12 {
         -ms-flex: 0 0 100%;
         -webkit-box-flex: 0;
         flex: 0 0 100%;
         max-width: 100%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 100%;
     }
     .col-6 {
       -ms-flex: 0 0 50%;
       flex: 0 0 50%;
       max-width: 50%;
       padding-right: 15px;
       padding-left: 15px;
       -webkit-flex: 0 0 100%;
     }

     .brnz-row {
         margin: 0;
     }
 }

 @media (min-width: 576px) {
     .brnz-col-md-3 {
         -ms-flex: 0 0 25%;
         -webkit-box-flex: 0;
         flex: 0 0 25%;
         max-width: 25%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 25%;
     }

     .brnz-col-md-4 {
         -ms-flex: 0 0 33.333333%;
         -webkit-box-flex: 0;
         flex: 0 0 33.333333%;
         max-width: 33.333333%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 33.333333%;
     }

     .brnz-col-md-5 {
         -ms-flex: 0 0 41.666667%;
         -webkit-box-flex: 0;
         flex: 0 0 41.666667%;
         max-width: 41.666667%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 41.666667%;
     }

     .brnz-col-md-6 {
         -ms-flex: 0 0 50%;
         -webkit-box-flex: 0;
         flex: 0 0 50%;
         max-width: 50%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 50%;
     }

     .brnz-col-md-7 {
         -ms-flex: 0 0 58.333333%;
         -webkit-box-flex: 0;
         flex: 0 0 58.333333%;
         max-width: 58.333333%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 58.333333%;
     }

     .brnz-col-md-8 {
         -ms-flex: 0 0 66.666667%;
         -webkit-box-flex: 0;
         flex: 0 0 66.666667%;
         max-width: 66.666667%;
         padding-left: 15px;
         padding-right: 15px;
         -webkit-flex: 0 0 66.666667%;
     }

     .brnz-col-md-10 {
         -ms-flex: 0 0 83.333333%;
         -webkit-box-flex: 0;
         flex: 0 0 83.333333%;
         max-width: 83.333333%;
         padding-left: 15px;
         padding-right: 15px;
         -webkit-flex: 0 0 83.333333%;
     }

     .brnz-col-md-12 {
         -ms-flex: 0 0 100%;
         -webkit-box-flex: 0;
         flex: 0 0 100%;
         max-width: 100%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 100%;
     }
 }

 @media (min-width: 992px) {
     .brnz-col-lg-2 {
         -ms-flex: 0 0 16.666667%;
         -webkit-box-flex: 0;
         flex: 0 0 16.666667%;
         max-width: 16.666667%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 16.666667%;
     }

     .brnz-col-lg-3 {
         -ms-flex: 0 0 25%;
         -webkit-box-flex: 0;
         flex: 0 0 25%;
         max-width: 25%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 25%;
     }

     .brnz-col-lg-4 {
         -ms-flex: 0 0 33.33%;
         -webkit-box-flex: 0;
         flex: 0 0 33.33%;
         max-width: 33.33%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 33.33%;
     }

     .brnz-col-lg-5 {
         -ms-flex: 0 0 41.666%;
         -webkit-box-flex: 0;
         flex: 0 0 41.666%;
         max-width: 41.666%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 41.666%;
     }

     .brnz-col-lg-6 {
         -ms-flex: 0 0 50%;
         -webkit-box-flex: 0;
         flex: 0 0 50%;
         max-width: 50%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 50%;
     }

     .brnz-col-lg-8 {
         -ms-flex: 0 0 66.666667%;
         -webkit-box-flex: 0;
         flex: 0 0 66.666667%;
         max-width: 66.666667%;
         padding-left: 15px;
         padding-right: 15px;
         -webkit-flex: 0 0 66.666667%;
     }

     .brnz-col-lg-10 {
         -ms-flex: 0 0 83.3333%;
         -webkit-box-flex: 0;
         flex: 0 0 83.3333%;
         max-width: 83.3333%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 83.3333%;
     }

     .brnz-col-lg-12 {
         -ms-flex: 0 0 100%;
         -webkit-box-flex: 0;
         flex: 0 0 100%;
         max-width: 100%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 100%;
     }
 }

 @media (min-width: 1200px) {
     .brnz-col-xl-7 {
         -ms-flex: 0 0 58.333333%;
         -webkit-box-flex: 0;
         flex: 0 0 58.333333%;
         max-width: 58.333333%;
         padding-right: 15px;
         padding-left: 15px;
         -webkit-flex: 0 0 58.333333%;
     }

     .brnz-col-xl-8 {
         -ms-flex: 0 0 66.666667%;
         -webkit-box-flex: 0;
         flex: 0 0 66.666667%;
         max-width: 66.666667%;
         padding-left: 15px;
         padding-right: 15px;
         -webkit-flex: 0 0 66.666667%;
     }
 }

 amp-sidebar {
     background: transparent;
 }

 #scrollToTopMarker {
     position: absolute;
     width: 0px;
     height: 0px;
     top: 300px;
 }

 #scrollToTopButton {
     position: fixed;
     bottom: 25px;
     right: 25px;
     opacity: .4;
     z-index: 5000;
     font-size: 32px;
     height: 60px;
     width: 60px;
     border: none;
     border-radius: 3px;
     cursor: pointer;
 }

 #scrollToTopButton:focus {
     outline: none;
 }

 #scrollToTopButton a:before {
     content: '';
     position: absolute;
     height: 40%;
     top: 36%;
     width: 2px;
     left: calc(50% - 1px);
 }

 #scrollToTopButton a:after {
     content: '';
     position: absolute;
     border-top: 2px solid;
     border-right: 2px solid;
     width: 40%;
     height: 40%;
     left: calc(30% - 1px);
     bottom: 30%;
     -ms-transform: rotate(-45deg);
     transform: rotate(-45deg);
     -webkit-transform: rotate(-45deg);
 }

 .is-builder #scrollToTopButton a:after {
     left: 30%;
 }

 body {
     font-family: Roboto;
 }

 blockquote {
     border-color: #3f3f9b;
 }

 .display-1 {
     font-family: 'Roboto', sans-serif;
     font-size: 4.5rem;
 }

 .display-2 {
     font-family: 'Roboto', sans-serif;
     font-size: 2.2rem;
 }

 .display-4 {
     font-family: 'Roboto', sans-serif;
     font-size: 0.9rem;
 }

 .display-5 {
     font-family: 'Roboto', sans-serif;
     font-size: 1.8rem;
 }

 .display-7 {
     font-family: 'Roboto', sans-serif;
     font-size: 1.1rem;
 }

 input,
 textarea {
     font-family: 'Roboto', sans-serif;
     font-size: 0.9rem;
 }

 .display-1 .brnz-iconfont-btn {
     font-size: 4.5rem;
     width: 4.5rem;
 }

 .display-2 .brnz-iconfont-btn {
     font-size: 2.2rem;
     width: 2.2rem;
 }

 .display-4 .brnz-iconfont-btn {
     font-size: 0.9rem;
     width: 0.9rem;
 }

 .display-5 .brnz-iconfont-btn {
     font-size: 1.8rem;
     width: 1.8rem;
 }

 .display-7 .brnz-iconfont-btn {
     font-size: 1.1rem;
     width: 1.1rem;
 }

 @media (max-width: 768px) {
     .display-1 {
         font-size: 3.6rem;
         font-size: calc(2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
         line-height: calc(1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
     }

     .display-2 {
         font-size: 1.76rem;
         font-size: calc(1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
         line-height: calc(1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
     }

     .display-4 {
         font-size: 0.72rem;
         font-size: calc(0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20)));
         line-height: calc(1.4 * (0.965rem + (0.9 - 0.965) * ((100vw - 20rem) / (48 - 20))));
     }

     .display-5 {
         font-size: 1.44rem;
         font-size: calc(1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
         line-height: calc(1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
     }
 }

 .btn {
     padding: 1rem 2rem;
     border-radius: 0px;
 }

 .btn-sm {
     border-width: 1px;
     padding: 0.6rem 0.8rem;
     border-radius: 0px;
 }

 .btn-md {
     font-weight: 600;
     padding: 1rem 2rem;
     border-radius: 0px;
 }

 .bg-primary {
     background-color: #3f3f9b;
 }

 .bg-success {
     background-color: #5d5de7;
 }

 .bg-info {
     background-color: #8282e7;
 }

 .bg-warning {
     background-color: #767676;
 }

 .bg-danger {
     background-color: #a0a0a0;
 }

 .btn-primary,
 .btn-primary:active,
 .btn-primary.active {
     background-color: #3f3f9b;
     border-color: #3f3f9b;
     color: #ffffff;
 }

 .btn-primary:hover,
 .btn-primary:focus,
 .btn-primary.focus {
     color: #ffffff;
     background-color: #292965;
     border-color: #292965;
 }

 .btn-primary.disabled,
 .btn-primary:disabled {
     color: #ffffff;
     background-color: #292965;
     border-color: #292965;
 }

 .btn-secondary,
 .btn-secondary:active,
 .btn-secondary.active {
     background-color: #0e0e87;
     border-color: #0e0e87;
     color: #ffffff;
 }

 .btn-secondary:hover,
 .btn-secondary:focus,
 .btn-secondary.focus {
     color: #ffffff;
     background-color: #070742;
     border-color: #070742;
 }

 .btn-secondary.disabled,
 .btn-secondary:disabled {
     color: #ffffff;
     background-color: #070742;
     border-color: #070742;
 }

 .btn-info,
 .btn-info:active,
 .btn-info.active {
     background-color: #8282e7;
     border-color: #8282e7;
     color: #ffffff;
 }

 .btn-info:hover,
 .btn-info:focus,
 .btn-info.focus {
     color: #ffffff;
     background-color: #4242db;
     border-color: #4242db;
 }

 .btn-info.disabled,
 .btn-info:disabled {
     color: #ffffff;
     background-color: #4242db;
     border-color: #4242db;
 }

 .btn-success,
 .btn-success:active,
 .btn-success.active {
     background-color: #5d5de7;
     border-color: #5d5de7;
     color: #ffffff;
 }

 .btn-success:hover,
 .btn-success:focus,
 .btn-success.focus {
     color: #ffffff;
     background-color: #2020d8;
     border-color: #2020d8;
 }

 .btn-success.disabled,
 .btn-success:disabled {
     color: #ffffff;
     background-color: #2020d8;
     border-color: #2020d8;
 }

 .btn-warning,
 .btn-warning:active,
 .btn-warning.active {
     background-color: #767676;
     border-color: #767676;
     color: #ffffff;
 }

 .btn-warning:hover,
 .btn-warning:focus,
 .btn-warning.focus {
     color: #ffffff;
     background-color: #505050;
     border-color: #505050;
 }

 .btn-warning.disabled,
 .btn-warning:disabled {
     color: #ffffff;
     background-color: #505050;
     border-color: #505050;
 }

 .btn-danger,
 .btn-danger:active,
 .btn-danger.active {
     background-color: #a0a0a0;
     border-color: #a0a0a0;
     color: #ffffff;
 }

 .btn-danger:hover,
 .btn-danger:focus,
 .btn-danger.focus {
     color: #ffffff;
     background-color: #7a7a7a;
     border-color: #7a7a7a;
 }

 .btn-danger.disabled,
 .btn-danger:disabled {
     color: #ffffff;
     background-color: #7a7a7a;
     border-color: #7a7a7a;
 }

 .btn-black,
 .btn-black:active,
 .btn-black.active {
     background-color: #333333;
     border-color: #333333;
     color: #ffffff;
 }

 .btn-black:hover,
 .btn-black:focus,
 .btn-black.focus {
     color: #ffffff;
     background-color: #0d0d0d;
     border-color: #0d0d0d;
 }

 .btn-black.disabled,
 .btn-black:disabled {
     color: #ffffff;
     background-color: #0d0d0d;
     border-color: #0d0d0d;
 }

 .btn-white,
 .btn-white:active,
 .btn-white.active {
     background-color: #ffffff;
     border-color: #ffffff;
     color: #808080;
 }

 .btn-white:hover,
 .btn-white:focus,
 .btn-white.focus {
     color: #808080;
     background-color: #d9d9d9;
     border-color: #d9d9d9;
 }

 .btn-white.disabled,
 .btn-white:disabled {
     color: #808080;
     background-color: #d9d9d9;
     border-color: #d9d9d9;
 }

 .btn-white,
 .btn-white:active,
 .btn-white.active {
     color: #333333;
 }

 .btn-white:hover,
 .btn-white:focus,
 .btn-white.focus {
     color: #333333;
 }

 .btn-white.disabled,
 .btn-white:disabled {
     color: #333333;
 }

 .btn-primary-outline,
 .btn-primary-outline:active,
 .btn-primary-outline.active {
     background: none;
     border-color: #222252;
     color: #222252;
 }

 .btn-primary-outline:hover,
 .btn-primary-outline:focus,
 .btn-primary-outline.focus {
     color: #ffffff;
     background-color: #3f3f9b;
     border-color: #3f3f9b;
 }

 .btn-primary-outline.disabled,
 .btn-primary-outline:disabled {
     color: #ffffff;
     background-color: #3f3f9b;
     border-color: #3f3f9b;
 }

 .btn-secondary-outline,
 .btn-secondary-outline:active,
 .btn-secondary-outline.active {
     background: none;
     border-color: #04042b;
     color: #04042b;
 }

 .btn-secondary-outline:hover,
 .btn-secondary-outline:focus,
 .btn-secondary-outline.focus {
     color: #ffffff;
     background-color: #0e0e87;
     border-color: #0e0e87;
 }

 .btn-secondary-outline.disabled,
 .btn-secondary-outline:disabled {
     color: #ffffff;
     background-color: #0e0e87;
     border-color: #0e0e87;
 }

 .btn-info-outline,
 .btn-info-outline:active,
 .btn-info-outline.active {
     background: none;
     border-color: #2c2cd7;
     color: #2c2cd7;
 }

 .btn-info-outline:hover,
 .btn-info-outline:focus,
 .btn-info-outline.focus {
     color: #ffffff;
     background-color: #8282e7;
     border-color: #8282e7;
 }

 .btn-info-outline.disabled,
 .btn-info-outline:disabled {
     color: #ffffff;
     background-color: #8282e7;
     border-color: #8282e7;
 }

 .btn-success-outline,
 .btn-success-outline:active,
 .btn-success-outline.active {
     background: none;
     border-color: #1d1dc1;
     color: #1d1dc1;
 }

 .btn-success-outline:hover,
 .btn-success-outline:focus,
 .btn-success-outline.focus {
     color: #ffffff;
     background-color: #5d5de7;
     border-color: #5d5de7;
 }

 .btn-success-outline.disabled,
 .btn-success-outline:disabled {
     color: #ffffff;
     background-color: #5d5de7;
     border-color: #5d5de7;
 }

 .btn-warning-outline,
 .btn-warning-outline:active,
 .btn-warning-outline.active {
     background: none;
     border-color: #434343;
     color: #434343;
 }

 .btn-warning-outline:hover,
 .btn-warning-outline:focus,
 .btn-warning-outline.focus {
     color: #ffffff;
     background-color: #767676;
     border-color: #767676;
 }

 .btn-warning-outline.disabled,
 .btn-warning-outline:disabled {
     color: #ffffff;
     background-color: #767676;
     border-color: #767676;
 }

 .btn-danger-outline,
 .btn-danger-outline:active,
 .btn-danger-outline.active {
     background: none;
     border-color: #6d6d6d;
     color: #6d6d6d;
 }

 .btn-danger-outline:hover,
 .btn-danger-outline:focus,
 .btn-danger-outline.focus {
     color: #ffffff;
     background-color: #a0a0a0;
     border-color: #a0a0a0;
 }

 .btn-danger-outline.disabled,
 .btn-danger-outline:disabled {
     color: #ffffff;
     background-color: #a0a0a0;
     border-color: #a0a0a0;
 }

 .btn-black-outline,
 .btn-black-outline:active,
 .btn-black-outline.active {
     background: none;
     border-color: #000000;
     color: #000000;
 }

 .btn-black-outline:hover,
 .btn-black-outline:focus,
 .btn-black-outline.focus {
     color: #ffffff;
     background-color: #333333;
     border-color: #333333;
 }

 .btn-black-outline.disabled,
 .btn-black-outline:disabled {
     color: #ffffff;
     background-color: #333333;
     border-color: #333333;
 }

 .btn-white-outline,
 .btn-white-outline:active,
 .btn-white-outline.active {
     background: none;
     border-color: #ffffff;
     color: #ffffff;
 }

 .btn-white-outline:hover,
 .btn-white-outline:focus,
 .btn-white-outline.focus {
     color: #333333;
     background-color: #ffffff;
     border-color: #ffffff;
 }

 .text-primary {
     color: #3f3f9b;
 }

 .text-secondary {
     color: #0e0e87;
 }

 .text-success {
     color: #5d5de7;
 }

 .text-info {
     color: #8282e7;
 }

 .text-warning {
     color: #767676;
 }

 .text-danger {
     color: #a0a0a0;
 }

 .text-white {
     color: #ffffff;
 }

 .text-black {
     color: #000000;
 }

 a.text-primary:hover,
 a.text-primary:focus {
     color: #222252;
 }

 a.text-secondary:hover,
 a.text-secondary:focus {
     color: #04042b;
 }

 a.text-success:hover,
 a.text-success:focus {
     color: #1d1dc1;
 }

 a.text-info:hover,
 a.text-info:focus {
     color: #2c2cd7;
 }

 a.text-warning:hover,
 a.text-warning:focus {
     color: #434343;
 }

 a.text-danger:hover,
 a.text-danger:focus {
     color: #6d6d6d;
 }

 a.text-white:hover,
 a.text-white:focus {
     color: #b3b3b3;
 }

 a.text-black:hover,
 a.text-black:focus {
     color: #4d4d4d;
 }

 .alert-success {
     background-color: #5d5de7;
 }

 .alert-info {
     background-color: #8282e7;
 }

 .alert-warning {
     background-color: #767676;
 }

 .alert-danger {
     background-color: #a0a0a0;
 }

 a,
 a:hover {
     color: #3f3f9b;
 }

 .brnz-plan-header.bg-primary .brnz-plan-subtitle,
 .brnz-plan-header.bg-primary .brnz-plan-price-desc {
     color: #8a8acf;
 }

 .brnz-plan-header.bg-success .brnz-plan-subtitle,
 .brnz-plan-header.bg-success .brnz-plan-price-desc {
     color: #ffffff;
 }

 .brnz-plan-header.bg-info .brnz-plan-subtitle,
 .brnz-plan-header.bg-info .brnz-plan-price-desc {
     color: #ffffff;
 }

 .brnz-plan-header.bg-warning .brnz-plan-subtitle,
 .brnz-plan-header.bg-warning .brnz-plan-price-desc {
     color: #b6b6b6;
 }

 .brnz-plan-header.bg-danger .brnz-plan-subtitle,
 .brnz-plan-header.bg-danger .brnz-plan-price-desc {
     color: #e0e0e0;
 }

 .brionz-spinner em:nth-child(1) {
     background: #3f3f9b;
 }

 .brionz-spinner em:nth-child(2) {
     background: #0e0e87;
 }

 .brionz-spinner em:nth-child(3) {
     background: #5d5de7;
 }

 #scrollToTopMarker {
     display: none;
 }

 #scrollToTopButton {
     background-color: #232323;
 }

 #scrollToTopButton a:before {
     background: #ffffff;
 }

 #scrollToTopButton a:after {
     border-top-color: #ffffff;
     border-right-color: #ffffff;
 }

 .cid-rmQWRsUKx2 {
     min-height: 80px;
 }

 .cid-rmQWRsUKx2 .brand-name {
     color: #ffffff;
     margin: 0;
 }

 .cid-rmQWRsUKx2 .nav-item:focus,
 .cid-rmQWRsUKx2 .nav-link:focus {
     outline: none;
 }

 .cid-rmQWRsUKx2 .navbar-nav {
     list-style-type: none;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     padding-left: 0;
 }

 .cid-rmQWRsUKx2 .navbar-nav .nav-link {
     margin: .667em 1em;
     font-weight: normal;
 }

 @media (min-width: 992px) {
     .cid-rmQWRsUKx2 .dropdown-menu .dropdown-toggle:after {
         content: '';
         border-bottom: 0.35em solid transparent;
         border-left: 0.35em solid;
         border-right: 0;
         border-top: 0.35em solid transparent;
         margin-left: 0.3rem;
         margin-top: -0.3077em;
         position: absolute;
         right: 1.1538em;
         top: 50%;
     }
 }

 @media (max-width: 991px) {
     .cid-rmQWRsUKx2 ul.navbar-nav {
         -webkit-flex-direction: column;
         flex-direction: column;
     }

     .cid-rmQWRsUKx2 ul.navbar-nav li {
         margin: auto;
     }

     .cid-rmQWRsUKx2 .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
         content: '';
         margin-left: .25rem;
         border-top: 0.35em solid;
         border-right: 0.35em solid transparent;
         border-left: 0.35em solid transparent;
         border-bottom: 0;
         top: 55%;
     }

     .cid-rmQWRsUKx2 .nav-dropdown .dropdown-menu .dropdown-item {
         -webkit-justify-content: center;
         justify-content: center;
         display: flex;
         -webkit-align-items: center;
         align-items: center;
     }
 }

 .cid-rmQWRsUKx2 .nav-dropdown .dropdown-menu {
     border-radius: 0;
     border: 0;
     left: 0;
     margin: 0;
     min-width: 10rem;
     padding-bottom: 1.25rem;
     padding-top: 1.25rem;
     position: absolute;
 }

 .cid-rmQWRsUKx2 .nav-dropdown .dropdown-menu .dropdown-item {
     font-weight: 400;
     line-height: 2;
     display: flex;
     -webkit-align-items: center;
     align-items: center;
     width: 100%;
     padding: .25rem 1.5rem;
     clear: both;
     text-align: inherit;
     white-space: nowrap;
     background: 0 0;
     border: 0;
 }

 .cid-rmQWRsUKx2 .nav-dropdown .dropdown-menu .dropdown {
     position: relative;
 }

 .cid-rmQWRsUKx2 .nav-item.dropdown {
     position: relative;
 }

 .cid-rmQWRsUKx2 .nav-item.dropdown .dropdown-menu {
     z-index: -1;
     opacity: 0;
     pointer-events: none;
 }

 .cid-rmQWRsUKx2 .nav-item.dropdown:hover>.dropdown-menu {
     z-index: 1;
     opacity: 1;
     pointer-events: all;
 }

 .cid-rmQWRsUKx2 .dropdown-menu .dropdown:hover>.dropdown-menu {
     z-index: 1;
     opacity: 1;
     pointer-events: all;
 }

 .cid-rmQWRsUKx2 .link.dropdown-toggle:after {
     content: '';
     margin-left: .25rem;
     border-top: 0.35em solid;
     border-right: 0.35em solid transparent;
     border-left: 0.35em solid transparent;
     border-bottom: 0;
 }

 .cid-rmQWRsUKx2 .nav-dropdown .dropdown-submenu {
     top: 0;
 }

 .cid-rmQWRsUKx2 .navbar {
     z-index: 100;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     width: 100%;
     min-height: 80px;
     transition: all .3s;
     background: #0e0e87;
 }

 .cid-rmQWRsUKx2 .navbar .navbar-logo {
     margin-right: .8rem;
 }

 .cid-rmQWRsUKx2 .navbar .navbar-logo img {
     height: auto;
 }

 .cid-rmQWRsUKx2 .navbar.navbar-short {
     background: #0e0e87;
 }

 .cid-rmQWRsUKx2 .navbar.navbar-short .brand {
     padding: 0;
 }

 .cid-rmQWRsUKx2 .navbar.opened {
     transition: all .3s;
     background: #0e0e87;
 }

 .cid-rmQWRsUKx2 .navbar .dropdown-item {
     padding: .25rem 1.5rem;
 }

 .cid-rmQWRsUKx2 .navbar .navbar-collapse {
     display: flex;
     -webkit-justify-content: flex-end;
     justify-content: flex-end;
     z-index: 1;
     -webkit-flex-basis: 100%;
     flex-basis: 100%;
     -webkit-align-items: center;
     align-items: center;
 }

 @media (max-width: 991px) {
     .cid-rmQWRsUKx2 .navbar .navbar-collapse {
         display: none;
         position: absolute;
         top: 0;
         right: 0;
         min-height: 100vh;
         background: #0e0e87;
         padding: 1rem 2rem 1rem 2rem;
     }

     .cid-rmQWRsUKx2 .navbar.opened .navbar-collapse.show,
     .cid-rmQWRsUKx2 .navbar.opened .navbar-collapse.collapsing {
         display: block;
     }

     .cid-rmQWRsUKx2 .navbar.opened .dropdown-menu {
         top: 0;
     }

     .cid-rmQWRsUKx2 .navbar .dropdown-menu {
         position: relative;
         background: transparent;
     }

     .cid-rmQWRsUKx2 .navbar .dropdown-menu .dropdown-submenu {
         left: 0;
     }

     .cid-rmQWRsUKx2 .navbar .dropdown-menu .dropdown-item:after {
         right: auto;
     }

     .cid-rmQWRsUKx2 .navbar .dropdown-menu .dropdown-item {
         padding: .25rem 1.5rem;
         text-align: center;
         margin: 0;
     }

     .cid-rmQWRsUKx2 .navbar .brand {
         -webkit-flex-shrink: initial;
         flex-shrink: initial;
         word-break: break-word;
     }
 }

 .cid-rmQWRsUKx2 .brand {
     display: flex;
     -webkit-flex-shrink: 0;
     flex-shrink: 0;
     -webkit-align-items: center;
     align-items: center;
     margin-right: 0;
     padding: 0;
     transition: all .3s;
     word-break: break-word;
     z-index: 1;
 }

 .cid-rmQWRsUKx2 .brand .navbar-caption {
     line-height: inherit;
     font-weight: normal;
 }

 .cid-rmQWRsUKx2 .brand .navbar-logo a {
     outline: none;
 }

 .cid-rmQWRsUKx2 .brand .navbar-caption-wrap {
     display: flex;
 }

 .cid-rmQWRsUKx2 .dropdown-item.active,
 .cid-rmQWRsUKx2 .dropdown-item:active {
     background-color: transparent;
 }

 .cid-rmQWRsUKx2 .navbar-expand-lg .navbar-nav .nav-link {
     padding: 0;
 }

 .cid-rmQWRsUKx2 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
     background: #0e0e87;
 }

 .cid-rmQWRsUKx2 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
     margin: 0;
     left: 100%;
 }

 .cid-rmQWRsUKx2 .navbar .dropdown.open>.dropdown-menu {
     display: block;
 }

 .cid-rmQWRsUKx2 ul.navbar-nav {
     -webkit-flex-wrap: wrap;
     flex-wrap: wrap;
 }

 .cid-rmQWRsUKx2 .navbar-buttons {
     text-align: center;
 }

 .cid-rmQWRsUKx2 button.navbar-toggler {
     display: none;
     outline: none;
     width: 31px;
     height: 20px;
     cursor: pointer;
     transition: all .2s;
     position: relative;
     -webkit-align-self: center;
     align-self: center;
 }

 .cid-rmQWRsUKx2 button.navbar-toggler .hamburger span {
     position: absolute;
     right: 0;
     width: 30px;
     height: 2px;
     border-right: 5px;
     background-color: #ffffff;
 }

 .cid-rmQWRsUKx2 button.navbar-toggler .hamburger span:nth-child(1) {
     top: 0;
     transition: all .2s;
 }

 .cid-rmQWRsUKx2 button.navbar-toggler .hamburger span:nth-child(2) {
     top: 8px;
     transition: all .15s;
 }

 .cid-rmQWRsUKx2 button.navbar-toggler .hamburger span:nth-child(3) {
     top: 8px;
     transition: all .15s;
 }

 .cid-rmQWRsUKx2 button.navbar-toggler .hamburger span:nth-child(4) {
     top: 16px;
     transition: all .2s;
 }

 .cid-rmQWRsUKx2 nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(1) {
     top: 8px;
     width: 0;
     opacity: 0;
     right: 50%;
     transition: all .2s;
 }

 .cid-rmQWRsUKx2 nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(2) {
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
     transition: all .25s;
 }

 .cid-rmQWRsUKx2 nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(3) {
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
     transition: all .25s;
 }

 .cid-rmQWRsUKx2 nav.opened .navbar-toggler:not(.hide) .hamburger span:nth-child(4) {
     top: 8px;
     width: 0;
     opacity: 0;
     right: 50%;
     transition: all .2s;
 }

 .cid-rmQWRsUKx2 .navbar-dropdown {
     padding: .5rem 1rem;
     position: fixed;
 }

 .cid-rmQWRsUKx2 a.nav-link {
     display: flex;
     -webkit-align-items: center;
     align-items: center;
     -webkit-justify-content: center;
     justify-content: center;
 }

 .cid-rmQWRsUKx2 .nav-link .brnz-iconfont,
 .cid-rmQWRsUKx2 .dropdown-item .brnz-iconfont {
     margin-right: .2rem;
 }

 .cid-rmQWRsUKx2 .ampstart-btn {
     display: flex;
     -webkit-align-self: center;
     align-self: center;
 }

 @media (min-width: 992px) {
     .cid-rmQWRsUKx2 .ampstart-btn {
         display: none;
     }
 }

 .cid-rmQWRsUKx2 .ampstart-btn.hamburger {
     position: relative;
     right: 20px;
     margin-left: auto;
     width: 30px;
     height: 20px;
     background: none;
     border: none;
     cursor: pointer;
     z-index: 1000;
 }

 .cid-rmQWRsUKx2 .ampstart-btn.hamburger:focus {
     outline: none;
 }

 .cid-rmQWRsUKx2 .ampstart-btn.hamburger span {
     position: absolute;
     right: 0;
     width: 30px;
     height: 2px;
     border-right: 5px;
     background-color: #ffffff;
 }

 .cid-rmQWRsUKx2 .ampstart-btn.hamburger span:nth-child(1) {
     top: 0;
     transition: all .2s;
 }

 .cid-rmQWRsUKx2 .ampstart-btn.hamburger span:nth-child(2) {
     top: 8px;
     transition: all .15s;
 }

 .cid-rmQWRsUKx2 .ampstart-btn.hamburger span:nth-child(3) {
     top: 8px;
     transition: all .15s;
 }

 .cid-rmQWRsUKx2 .ampstart-btn.hamburger span:nth-child(4) {
     top: 16px;
     transition: all .2s;
 }

 .cid-rmQWRsUKx2 amp-sidebar {
     min-width: 260px;
     z-index: 1050;
     background-color: #0e0e87;
 }

 .cid-rmQWRsUKx2 amp-sidebar.open:after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     background-color: red;
 }

 .cid-rmQWRsUKx2 .open {
     transform: translateX(0%);
     display: block;
     -webkit-transform: translateX(0%);
 }

 .cid-rmQWRsUKx2 .builder-sidebar {
     background-color: #0e0e87;
     position: relative;
     min-height: 100vh;
     z-index: 1030;
     padding: 1rem 2rem;
     max-width: 20rem;
 }

 .cid-rmQWRsUKx2 .builder-sidebar .dropdown {
     position: relative;
 }

 .cid-rmQWRsUKx2 .builder-sidebar .dropdown:hover>.dropdown-menu {
     position: relative;
     text-align: center;
 }

 .cid-rmQWRsUKx2 .sidebar {
     padding: 1rem 0;
     margin: 0;
 }

 .cid-rmQWRsUKx2 .sidebar>li {
     list-style: none;
     display: flex;
     -webkit-flex-direction: column;
     flex-direction: column;
 }

 .cid-rmQWRsUKx2 .sidebar a {
     display: block;
     text-decoration: none;
     margin-bottom: 10px;
 }

 .cid-rmQWRsUKx2 .close-sidebar {
     width: 30px;
     height: 30px;
     position: relative;
     cursor: pointer;
     background-color: transparent;
     border: none;
 }

 .cid-rmQWRsUKx2 .close-sidebar:focus {
     outline: 2px auto #3f3f9b;
 }

 .cid-rmQWRsUKx2 .close-sidebar span {
     position: absolute;
     left: 0;
     top: 14px;
     width: 30px;
     height: 2px;
     border-right: 5px;
     background-color: #ffffff;
 }

 .cid-rmQWRsUKx2 .close-sidebar span:nth-child(1) {
     -webkit-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 .cid-rmQWRsUKx2 .close-sidebar span:nth-child(2) {
     -webkit-transform: rotate(-45deg);
     transform: rotate(-45deg);
 }

 .cid-rmQWRsUKx2 amp-img {
     margin-right: 1rem;
     display: flex;
     -webkit-align-items: center;
     align-items: center;
     height: 45px;
     width: 45px;
 }

 @media (max-width: 767px) {
     .cid-rmQWRsUKx2 amp-img {
         max-height: 35px;
         max-width: 35px;
     }
 }

 .cid-rpBoJCvSUx {
     padding-top: 145px;
     padding-bottom: 135px;
     background-image: url("/assets/images/toko-bunga-d-1280x853.jpg");
 }

 .cid-rpBoO04SSz {
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: #ffffff;
 }

 .cid-rpBoO04SSz .title {
     padding-bottom: 2rem;
 }

 @media (min-width: 768px) and (max-width: 991px) {
     .cid-rpBoO04SSz .image-wrap.pb {
         padding-bottom: 3rem;
     }
 }

 @media (max-width: 767px) {
     .cid-rpBoO04SSz .image-wrap:not(.last-child) {
         padding-bottom: 2rem;
     }
 }

 @media (min-width: 992px) {
     .cid-rpBoO04SSz .image-wrap.lg-px {
         padding-left: 1.5rem;
         padding-right: 1.5rem;
     }

     .cid-rpBoO04SSz .image-wrap.lg-px.pb {
         padding-bottom: 3rem;
     }

     .cid-rpBoO04SSz .brnz-row {
         margin-left: -1.5rem;
         margin-right: -1.5rem;
     }
 }

 @media (min-width: 768px) and (max-width: 991px) {
     .cid-rpBoO04SSz .image-wrap {
         padding-left: 1.5rem;
         padding-right: 1.5rem;
     }

     .cid-rpBoO04SSz .brnz-row {
         margin-left: -1.5rem;
         margin-right: -1.5rem;
     }
 }

 .cid-rpBoO04SSz .image-box {
     position: relative;
 }

 .cid-rpBoO04SSz .image-box .img-caption {
     position: absolute;
     display: flex;
     align-items: flex-end;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 0px;
     background-color: rgba(78, 162, 227, 0.5);
     pointer-events: none;
     transition: all 0.3s;
     z-index: 10;
 }

 .cid-rpBoO04SSz .image-box .img-caption .caption-text {
     margin: 0;
     padding: 0.5rem;
     width: 100%;
     height: auto;
     pointer-events: all;
     transition: all 0.1s 0.2s;
     background-color: rgba(227, 78, 227, 0.5);
 }

 @media (min-width: 768px) {
     .cid-rpBoO04SSz .image-box:hover .img-caption {
         height: 100%;
     }

     .cid-rpBoO04SSz .image-box:hover .img-caption .caption-text {
         background-color: transparent;
         transition: all 0s;
     }
 }

 .cid-rpBoO04SSz .caption-text {
     color: #ffffff;
 }

 .cid-rpBoSAA3SR {
     padding-top: 60px;
     padding-bottom: 60px;
     background-color: #5d5de7;
 }

 .cid-rpBoSAA3SR .brnz-title {
     padding-bottom: 1rem;
 }

 .cid-rpBoSAA3SR .brnz-section-btn {
     padding-top: 1.5rem;
 }

 .cid-rmSXDMOC30 {
     padding-top: 60px;
     padding-bottom: 60px;
     background-color: #ffffff;
 }

 .cid-rmSXDMOC30 .section-title {
     z-index: 2;
     background-color: #efefef;
     padding: 1.3rem 2rem;
     border: 1px solid #dfdfdf;
 }

 .cid-rmSXDMOC30 p {
     z-index: 1;
     background-color: #ffffff;
     box-shadow: inset 1px 36px 20px -30px rgba(121, 121, 121, 0.13);
     padding: 1.5rem;
 }

 .cid-rpBy2SW0V2 {
     padding-top: 60px;
     padding-bottom: 60px;
     background-color: #ffffff;
 }

 .cid-rpBy2SW0V2 .brnz-title {
     padding-bottom: 1rem;
 }

 .cid-rpBy2SW0V2 .brnz-section-btn {
     padding-top: 1.5rem;
 }

 .cid-rpMCcinx7a {
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: #ffffff;
 }

 .cid-rpMCcinx7a .title {
     padding-bottom: 2rem;
 }

 @media (min-width: 768px) and (max-width: 991px) {
     .cid-rpMCcinx7a .image-wrap.pb {
         padding-bottom: 3rem;
     }
 }

 @media (max-width: 767px) {
     .cid-rpMCcinx7a .image-wrap:not(.last-child) {
         padding-bottom: 2rem;
     }
 }

 @media (min-width: 992px) {
     .cid-rpMCcinx7a .image-wrap.lg-px {
         padding-left: 1.5rem;
         padding-right: 1.5rem;
     }

     .cid-rpMCcinx7a .image-wrap.lg-px.pb {
         padding-bottom: 3rem;
     }

     .cid-rpMCcinx7a .brnz-row {
         margin-left: -1.5rem;
         margin-right: -1.5rem;
     }
 }

 @media (min-width: 768px) and (max-width: 991px) {
     .cid-rpMCcinx7a .image-wrap {
         padding-left: 1.5rem;
         padding-right: 1.5rem;
     }

     .cid-rpMCcinx7a .brnz-row {
         margin-left: -1.5rem;
         margin-right: -1.5rem;
     }
 }

 .cid-rpMCcinx7a .image-box {
     position: relative;
 }

 .cid-rpMCcinx7a .icon-wrap {
     width: 2rem;
     height: 2rem;
     position: absolute;
     left: 50%;
     top: 50%;
     opacity: 0;
     transform: translate(-50%, -50%);
     pointer-events: none;
     transition: opacity .3s;
     z-index: 11;
 }

 .cid-rpMCcinx7a .icon-wrap .amp-iconfont {
     font-size: 2rem;
     width: 2rem;
     color: #ffffff;
 }

 .cid-rpMCcinx7a amp-img:after {
     position: absolute;
     content: "";
     bottom: 0;
     left: 0;
     right: 0;
     transition: all 0.3s;
     pointer-events: none;
     background-color: rgba(78, 162, 227, 0.5);
     top: 0;
     opacity: 0;
 }

 @media (min-width: 768px) {
     .cid-rpMCcinx7a .image-box:hover amp-img {
         cursor: pointer;
     }

     .cid-rpMCcinx7a .image-box:hover amp-img:after {
         opacity: 1;
     }

     .cid-rpMCcinx7a .image-box:hover .icon-wrap {
         opacity: 1;
     }
 }

 .cid-rpBp3FUNSf {
     padding-top: 30px;
     padding-bottom: 30px;
     background-color: #0e0e87;
 }

 .cid-rpBp3FUNSf p {
     margin: 0;
     color: #ffffff;
 }

 .engine {
     position: absolute;
     text-indent: -2400px;
     text-align: center;
     padding: 0;
     top: 0;
     left: -2400px;
 }

 [class*="-iconfont"] {
     display: inline-flex;
 }

 .btn-block {
     display: block;
     width: 100%
 }

 .btn-block+.btn-block {
     margin-top: .5rem
 }

 input[type=button].btn-block,
 input[type=reset].btn-block,
 input[type=submit].btn-block {
     width: 100%
 }