<div class="container">
<div class="row text-center mx-4 my-5">
    <div class="col-4 col-md-4 mx-auto my-2"><a href="#"><img class="img-fluid" src="/img/hermes.png" alt="{{.Site.Title}}"></a></div>
    <div class="col-4 col-md-4 mx-auto my-2"><a href="#"><img class="img-fluid" src="/img/Chloé.png" alt="{{.Site.Title}}"></a></div>
    <div class="col-4 col-md-4 mx-auto my-2"><a href="#"><img class="img-fluid" src="/img/chanel.png" alt="{{.Site.Title}}"></a></div>
    <div class="col-4 col-md-4 mx-auto my-2"><a href="#"><img class="img-fluid" src="/img/YSL_logo.png" alt="{{.Site.Title}}"></a></div>
    <div class="col-4 col-md-4 mx-auto my-2"><a href="#"><img class="img-fluid" src="/img/balenciaga.png" alt="{{.Site.Title}}"></a></div>
    <div class="col-4 col-md-4 mx-auto my-2"><a href="#"><img class="img-fluid" src="/img/lv.png" alt="{{.Site.Title}}"></a></div>
</div>
</div>