<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center" style="margin-top: 15px;margin-bottom: 15px;">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Guides</h3>
                    <ul>
                        <li><a href="#">Size Guides</a></li>
                        <li><a href="#">Return &amp; Refund</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Partners</a></li>
                        <li><a href="#">Publications</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#"><span class="badge badge-success">Hey!</span> We are Hiring</a></li>
                        <li><a href="#">Success Stories</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social">
                    <a href="#"><i class="icon ion-social-facebook"></i></a>
                    <a href="#"><i class="icon ion-social-twitter"></i></a>
                    <a href="#"><i class="icon ion-social-youtube"></i></a>
                    <a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright"><a href="/"><b>{{.Site.Title}}</b></a> © 2018</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/js/script.bundle.js"></script>