<section class="slice--offset-top parallax-section parallax-section-lg border-bottom" style="background-image: url('{{.Params.image}}');">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row py-5">
                    <div class="col-lg-6 col-md-8">
                        <h1 class="heading heading-1 strong-400 text-normal">
                            {{.Title}}
                        </h1>
                        <span class="clearfix"></span>
                        {{if .Params.subheading}}
                        <div class="lead mt-3 mb-3">
                            {{.Params.subheading}}
                        </div>
                        {{end}}
                        <span class="short-delimiter--style-1 mb-4"></span>
                        {{if .Params.btnText}}
                        <div class="btn-container">
                            <a class="btn btn-styled btn-base-1" href="{{.Params.btnLink}}">{{.Params.btnText}}</a>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>