<header id="header">
    <nav class="navbar bg-light navbar-light navbar-expand-md zhadow">
        <div class="container">
            <a class="navbar-brand" href="/">
                <a class="navbar-brand" href="/"><img weight="100" height="20" src="/img/logo.png" alt="{{$.Site.Title}}"></a>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">{{ $currentPage := . }}
                <ul class="navbar-nav ml-auto">
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{.URL}}" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{ range .Children }}
                            <a class="dropdown-item" href="{{.URL}}">{{.Name}}</a>
                            {{ end }}
                        </div>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{.URL}}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    </li>
                    {{end}}
                    {{end}}
                </ul><div class="snipcart-summary">
                    <a class="btn btn-success" href="https://wa.me/082319228666"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whatsapp</i></a>
                </div>
            </div>
        </div>
    </nav>
</header>