    <div class="container">
        <div class="row">
            {{ range .Data.Pages }}
            {{ if eq .Type "koleksi" }}
            <div class="col-6 col-md-3 mb-4">
                <a href="{{.Permalink | relURL }}">
                    <div class="card"><img alt="{{.Title}}" class="card-img-top w-100 d-block" src="{{.Params.image}}" />
                        <div class="card-body">
                            <a class="badge badge-primary badge-md card-title capitalize" href="/categories/{{.Params.tags}}">{{.Params.kategori}}</a>
                            <h5 class="card-subtitle text-muted">{{.Title}}</h5>
                            <br />
                            <p class="text-info">Rp. {{ .Params.price | lang.NumFmt 2 }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
            {{end}}
        </div>
    </div>