{{define "main"}}
<section class="slice slice-lg vh-100 bg-gradient-primary overflow-hidden" data-offset-top="#header-main" style="padding-top: 147.188px;">
    <div class="bg-absolute-cover vh-100 overflow-hidden">
      <figure class="w-100">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 820" class="injected-svg svg-inject">
  <path class="fill-cyan" d="M 153.37 455.293 L 143.264 444.989 C 142.269 443.976 142.269 442.371 143.264 441.358 L 153.37 431.055 C 154.364 430.042 155.938 430.042 156.932 431.055 L 167.038 441.358 C 168.032 442.371 168.032 443.976 167.038 444.989 L 156.932 455.293 C 156.02 456.306 154.364 456.306 153.37 455.293 Z" style=""></path>
  <circle class="fill-pink" cx="1184.025" cy="85.335" r="9.723" style=""></circle>
  <circle class="fill-yellow" stroke-width="3" stroke-miterlimit="10" cx="320.504" cy="209.51" r="12.587" style=""></circle>
  <path class="fill-blue" d="M 42.564 -16.417 C 43.206 -18.074 44.682 -19.262 46.438 -19.535 L 62.879 -22.089 C 64.634 -22.362 66.401 -21.677 67.515 -20.294 L 77.948 -7.333 C 79.062 -5.949 79.353 -4.076 78.712 -2.419 L 72.703 13.096 C 72.061 14.753 70.585 15.941 68.829 16.215 L 52.388 18.769 C 50.633 19.042 48.865 18.358 47.752 16.973 L 37.319 4.012 C 36.205 2.628 35.914 0.755 36.555 -0.902 L 42.564 -16.417 Z" style=""></path>
  <path class="fill-pink" d="M 1128.161 586.512 C 1128.462 585.735 1129.154 585.178 1129.977 585.05 L 1137.684 583.853 C 1138.506 583.725 1139.335 584.046 1139.857 584.695 L 1144.747 590.77 C 1145.269 591.419 1145.406 592.297 1145.105 593.073 L 1142.289 600.346 C 1141.988 601.123 1141.296 601.68 1140.473 601.808 L 1132.767 603.005 C 1131.944 603.133 1131.115 602.812 1130.593 602.163 L 1125.703 596.088 C 1125.181 595.439 1125.044 594.561 1125.345 593.785 L 1128.161 586.512 Z" style=""></path>
  <path class="fill-purple" d="M 109.272 171.631 C 109.643 170.672 110.497 169.986 111.512 169.828 L 121.017 168.352 C 122.032 168.193 123.054 168.59 123.698 169.389 L 129.729 176.883 C 130.373 177.683 130.542 178.766 130.171 179.723 L 126.697 188.693 C 126.326 189.651 125.473 190.339 124.458 190.497 L 114.952 191.973 C 113.937 192.131 112.916 191.736 112.272 190.935 L 106.24 183.442 C 105.596 182.641 105.428 181.559 105.798 180.601 L 109.272 171.631 Z" style=""></path>
  <path class="fill-purple" d="M 258.215 770.571 C 258.563 769.674 259.363 769.03 260.314 768.882 L 269.221 767.499 C 270.171 767.351 271.129 767.722 271.732 768.471 L 277.384 775.492 C 277.988 776.243 278.146 777.257 277.798 778.155 L 274.543 786.559 C 274.195 787.457 273.395 788.101 272.444 788.249 L 263.538 789.633 C 262.587 789.781 261.629 789.41 261.026 788.66 L 255.374 781.639 C 254.771 780.889 254.613 779.874 254.96 778.976 L 258.215 770.571 Z" style=""></path>
  <circle class="fill-cyan" stroke-width="3" stroke-miterlimit="10" cx="730.584" cy="767.881" r="9.997" style=""></circle>
  <path class="fill-purple" d="M 1390.234 263.204 C 1390.491 262.543 1391.08 262.067 1391.782 261.958 L 1398.352 260.938 C 1399.053 260.829 1399.759 261.103 1400.204 261.655 L 1404.373 266.834 C 1404.818 267.387 1404.934 268.136 1404.678 268.798 L 1402.277 274.997 C 1402.021 275.659 1401.43 276.134 1400.729 276.244 L 1394.16 277.265 C 1393.459 277.373 1392.752 277.1 1392.307 276.547 L 1388.138 271.368 C 1387.693 270.815 1387.577 270.066 1387.833 269.404 L 1390.234 263.204 Z" style=""></path>
</svg>
      </figure>
    </div>
    <div class="container h-100 d-flex align-items-center position-relative zindex-100">
        <div class="col">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <h6 class="h1 mb-5 font-weight-400 text-white">Halaman tidak ditemukan</h6>
                    <a href="/" class="btn btn-white btn-icon rounded-pill hover-translate-y-n3">
                        <span class="btn-inner--icon"><i class="far fa-home"></i></span>
                        <span class="btn-inner--text">Kembali ke beranda?</span>
                    </a>
                </div>
            </div>
    </div>
    <div class="position-absolute bottom-0 right-4 overflow-hidden">
      <figure class="w-50">
        <svg xmlns="http://www.w3.org/2000/svg" id="ec9d6ccb-2de2-4d6a-b855-5099826210b3" data-name="Layer 1" width="832.88" height="669.6875" viewBox="0 0 832.88 669.6875" class="injected-svg svg-inject opacity-2"><title>{{.Site.Title}}</title><path d="M1002.96,359.16626a20.98144,20.98144,0,0,0-26.51,10.73c-.21008.45-.42.9-.61,1.37a22.62113,22.62113,0,0,0-.88,3.03,20.98577,20.98577,0,0,1,28.5-19.22,20.66428,20.66428,0,0,1,4.66,2.52,20.97773,20.97773,0,0,0-35.59009,15.58,30.06857,30.06857,0,0,0-39.97,4.56,27.00454,27.00454,0,0,0-11.76,24.97c-7.31,4.63-16.61,14.48-16.61,14.48s-34.13,27.63-50.4,44.95c-16.27,17.33-.04,22.48-.04,22.48s16.33,1.54,29.71,1.31c-1.24,4.56-.9,9.98,2.13,16.23,0,0-2.13,19.53-8.23,21.48-2.29.73-.54,1.19,2.52,1.48l-1.06,2.03a15.34151,15.34151,0,0,0-3.82-.14s-6.32,7.05-13.67,15.3c-4.6-.68-8.29-.96-8.2-.11.11,1.18,3.01,2.22,5.69,2.93-8.97,10.09-18.57,20.97-19.8,22.72-2.36005,3.38-59.14,56.6-75.11,81.53-15.97,24.94-19.63,28.9-19.63,28.9s3.11,3.04,7.92,7.59c-5.19,13.86005-17.55,45.15-28.09,58.36005.37-1.2-5.28-.72-11.45,5.46,0,0-.58.32-1.6.84-5.37,2.78-22.97,11.34-31.12,9.12-9.7-2.64-14.61,9.98-10.03,12.22,4.95,2.44,12.57,9.1,25.21,9.66a64.18879,64.18879,0,0,0,15.94-1.84c6.95-1.5,12.86-3.2,15.57-2.16,4.67,1.78,23.41.39,20.17-5.13-3.24-5.53.69-15.8.69-15.8s-1.3.13-3.29.24c4.66-12.62,23.04-35.48,33.5-47.91,2.72,2.31,5.41,4.55005,8,6.62,18.04,14.4,27.38,17.97,27.38,17.97s-.38-12.99,14.6-29.74c4.62-5.17,11.52-14.16,18.85-24.11,4.89,25.01,12.39,57.9,18.47,60.88a18.01987,18.01987,0,0,0,6.4,1.41c3.88,9.9,10.19,26.42,14.88,40.95h25.84c-5.68-14.6-11.08-31.55-11.34-44,4.96-.98,8.37-1.8,8.37-1.8,6.79-17.75-5.14-70.5-10.41-87.51-5.27-17,3.12-27.71,3.12-27.71,12.94-24.45,12.31-37.27,10.49-43.08a89.5632,89.5632,0,0,0,2.85-8.57c.88-3.2,1.77-6.07,2.65-8.64,17.7.27,35.88.36,38.26-.32,1.68-.48,3.35-2.28,4.8-4.42a29.62727,29.62727,0,0,0,4.95-15.54c.44-11.38,1.01-35.74-.99-56.03,6.08-15.74,9.3-34.04.03-44.86,0,0-1.26-.71-3.17-1.64a55.58587,55.58587,0,0,1,.6-12.11,29.61823,29.61823,0,0,0,6.26-2.32c.43-.22.85-.44,1.27-.68.84-.47,1.65-.99,2.44-1.54a29.84551,29.84551,0,0,0,10.78-13.83c.18994-.5.37-1,.53-1.5.05993-.17.1-.34.1499-.51.11011-.34.21-.67.3-1,.05005-.21.1-.41.14-.61.08-.3.16-.61.22-.91.04993-.22.08-.43.12-.65.06006-.29.11011-.58.16-.88.03992-.22.05994-.44.09-.66.04-.28.08008-.57.11011-.86.0299-.23.03991-.45.05993-.67005.02991-.29.04993-.57.05994-.85.02-.23.02-.45.03-.68.01-.28.02-.56.02-.84,0-.23-.01-.45-.01-.68v-.01c.09009.05.16992.1.26.15a21.03866,21.03866,0,0,0,13.74,14.06,21.08657,21.08657,0,0,1-10.74-12.69,20.74742,20.74742,0,0,0,4.3,1.05,21.02366,21.02366,0,0,0,20.52,7.26,21.07558,21.07558,0,0,1-16.86011-7.06,21.37135,21.37135,0,0,0,3.92-.53,20.663,20.663,0,0,0,3.81995-1.28,21.22453,21.22453,0,0,0,6.59009-4.63,20.80956,20.80956,0,0,0,2.54992-3.24,21.44534,21.44534,0,0,0,1.91-3.8c.17993-.47.32007-.95.46-1.43a20.96131,20.96131,0,0,0-12.57-25.69Zm-279.76,386.17a2.2666,2.2666,0,0,1,.48-.57C723.52,744.95624,723.36,745.15625,723.2,745.33624Zm199.96-292.75c-13.34,3.73-37.44,10.36-45.77,12.02,6.89-14.83,31.99-35.8,31.99-35.8s10.18-5.32995,16.04-13.42a26.81749,26.81749,0,0,0,8.15,7.74c.03,3.1-.01,6.29-.19,9.32-1.31-.23-2.09-.18-2.02.49.22,2.23.95,14.29-4.21,16.6A15.983,15.983,0,0,0,923.16,452.58624Zm9.44,88.98c-1.31.02-3.12.09-5.27.21,3.41-4.99,9.29-13.43,14.28-19.79.58,8.24.75,13.68.75,13.68S943.37,541.40625,932.6,541.56622Z" transform="translate(-183.56 -114.90625)" fill="#f2f2f2"></path><circle cx="590.5" cy="216" r="30" fill="#2f2e41"></circle><path d="M794.24945,308.71692a29.99961,29.99961,0,0,1-42.37878,42.37866,29.99965,29.99965,0,1,0,42.37878-42.37866Z" transform="translate(-183.56 -114.90625)" opacity="0.1"></path><circle cx="621.5" cy="184" r="21" fill="#2f2e41"></circle><path d="M805.06,316.90625a20.98569,20.98569,0,0,1-20.92432-19.5c-.03516.49744-.07568.99359-.07568,1.5a21,21,0,0,0,42,0c0-.50641-.04053-1.00256-.07569-1.5A20.98569,20.98569,0,0,1,805.06,316.90625Z" transform="translate(-183.56 -114.90625)" opacity="0.1"></path><path d="M783.06,294.90625a20.92681,20.92681,0,0,1,26.25683-20.30994,20.99119,20.99119,0,1,0-13.51367,39.61988A21.00238,21.00238,0,0,1,783.06,294.90625Z" transform="translate(-183.56 -114.90625)" fill="#2f2e41"></path><path d="M802.01612,313.37072a20.92682,20.92682,0,0,1,18.85763-27.31858,20.99119,20.99119,0,1,0-.85677,41.85236A21.00237,21.00237,0,0,1,802.01612,313.37072Z" transform="translate(-183.56 -114.90625)" fill="#2f2e41"></path><path d="M808.77494,315.00755a20.92681,20.92681,0,0,1,2.93635-33.065,20.99118,20.99118,0,1,0,19.89035,36.83378A21.00238,21.00238,0,0,1,808.77494,315.00755Z" transform="translate(-183.56 -114.90625)" fill="#2f2e41"></path><path d="M798.56,373.40625s-32,22-30,12c1.12-5.62-3.13-17.57-7.07007-26.95-3.05994-7.3-5.92993-13.05-5.92993-13.05l35-9a55.55116,55.55116,0,0,0,.13,16.05A51.3875,51.3875,0,0,0,798.56,373.40625Z" transform="translate(-183.56 -114.90625)" fill="#ffc1c7"></path><polygon points="567 352.5 565 369.5 593 366.5 598 348.5 567 352.5" fill="#ffc1c7"></polygon><path d="M716.56,441.40625l-6,7s-17,1-8-21,31-60,31-60,14-34,19-21-10,30-10,30-19,34-17,49Z" transform="translate(-183.56 -114.90625)" fill="#ffc1c7"></path><path d="M716.56,441.40625l-6,7s-17,1-8-21,31-60,31-60,14-34,19-21-10,30-10,30-19,34-17,49Z" transform="translate(-183.56 -114.90625)" opacity="0.1"></path><path d="M812.56,675.40625s45,48,50,62-8,36-13,37-6,7,0,8,26-8,32-18,10-17,13-19,5-11,0-16-46-43-51-66Z" transform="translate(-183.56 -114.90625)" fill="#ffc1c7"></path><path d="M888.56,725.40625s-2,20-20,11c0,0-8-9-8,2s-4,30-17,37,9,10,12,9,23-8,26-14,14-20,18-25S898.56,723.40625,888.56,725.40625Z" transform="translate(-183.56 -114.90625)" fill="#2f2e41"></path><path d="M795.56,512.40625s14,6,9,47c0,0-4,13,7,27s41,59,41,78c0,0-29,20-40,19s-54-75-54-75Z" transform="translate(-183.56 -114.90625)" fill="#2f2e41"></path><path d="M795.56,512.40625s14,6,9,47c0,0-4,13,7,27s41,59,41,78c0,0-29,20-40,19s-54-75-54-75Z" transform="translate(-183.56 -114.90625)" opacity="0.1"></path><path d="M687.56,665.40625s2,72-10,80c0,0-16,23-26,23s-9,8-4,9,6,4,26-4,30-10,33-10,6-4,0-16,17-73,17-73Z" transform="translate(-183.56 -114.90625)" fill="#ffc1c7"></path><path d="M708.56,740.40625s-10,5-17,6-10.93727-6.08031-9.46864-8.54015-4.53136-.45985-8.53136,8.54015c0,0-17,20-27,21s-10.07808,14.53836-5,15c5.5.5,15,4,27,0s23-15,28-15,22-8,17-12S708.56,740.40625,708.56,740.40625Z" transform="translate(-183.56 -114.90625)" fill="#2f2e41"></path><path d="M771.56,388.01256s-42,31.39369-48,34.39369-13,26-13,26,36-10,42-17S771.56,388.01256,771.56,388.01256Z" transform="translate(-183.56 -114.90625)" fill="#ffc1c7"></path><path d="M771.56,388.01256s-42,31.39369-48,34.39369-13,26-13,26,36-10,42-17S771.56,388.01256,771.56,388.01256Z" transform="translate(-183.56 -114.90625)" opacity="0.1"></path><circle cx="584.5" cy="221" r="27" fill="#ffc1c7"></circle><path d="M745.56,480.40625s-18,47-19,51-35,74-41,103-8,34-8,34,30,13,52,20,32,7,32,7-5-12,3-33,24-88,24-88,12.794-39.501,10-68a106.44419,106.44419,0,0,1-.24-22.11288,8.649,8.649,0,0,0-9.16083-9.65527C774.32263,475.65537,750.32527,477.68324,745.56,480.40625Z" transform="translate(-183.56 -114.90625)" fill="#2f2e41"></path><path d="M798.56,367.40625s-13-2-19,1-16,2-15,4,6,13,2,17-8,22-16,27-20,22-4,37c0,0,5,19,0,23s16-4,16-4a43.55741,43.55741,0,0,1,13,5c7,4,23,3,23,3s7-31,11-38S822.56,380.40625,798.56,367.40625Z" transform="translate(-183.56 -114.90625)" fill="#6c63ff"></path><path d="M791.56,383.40625s-23,4-8,27,28,54,28,54,3,5-7,9-49,23-49,23-26,4-25,6,11,0,11,0-7,19,5,19,18-12,18-12,65-23,69-26c1.4-1.05,2.31-3.325,2.9015-5.83888a29.64135,29.64135,0,0,0-.93176-16.28689C828.7781,441.38537,806.65344,380.05215,791.56,383.40625Z" transform="translate(-183.56 -114.90625)" fill="#ffc1c7"></path><path d="M788.11078,316.85547A21.99925,21.99925,0,1,0,759.00922,345.957a21.99925,21.99925,0,1,0,29.10156-29.10156Z" transform="translate(-183.56 -114.90625)" fill="#2f2e41"></path><ellipse cx="577" cy="230.5" rx="2.5" ry="6.5" fill="#ffc1c7"></ellipse><circle cx="336" cy="50.5" r="22" fill="#6c63ff"></circle><rect x="41" y="306.5" width="32" height="32" fill="#6c63ff"></rect><rect x="181" y="154.5" width="228" height="133" rx="16.00394" fill="#f2f2f2"></rect><circle cx="116.5" cy="155" r="90" fill="#f2f2f2"></circle><circle cx="131.5" cy="146" r="90" fill="none" stroke="#3f3d56" stroke-miterlimit="10"></circle><rect x="158.5" y="132" width="228" height="133" rx="14.69291" fill="none" stroke="#3f3d56" stroke-miterlimit="10"></rect><circle cx="345" cy="41.5" r="22" fill="none" stroke="#3f3d56" stroke-miterlimit="10"></circle><rect x="46" y="300.5" width="32" height="32" fill="none" stroke="#3f3d56" stroke-miterlimit="10"></rect><rect y="6.5" width="32" height="32" fill="#6c63ff"></rect><rect x="5" y="0.5" width="32" height="32" fill="none" stroke="#3f3d56" stroke-miterlimit="10"></rect><line x1="400.5" y1="669" x2="813.5" y2="669" fill="none" stroke="#3f3d56" stroke-miterlimit="10"></line></svg>
      </figure>
    </div>
  </section>
{{end}}