{{define "main"}}
{{ partial "header-home" .}}

{{ partial "koleksi" .}}
{{partial "sections" .}}
<section class="slice slice-xl bg-cover bg-size--cover"
  style="background-image: url(/img/pink-blossom.webp); background-position: center center;">
  <span class="mask bg-dark opacity-5"></span>
  <div class="container py-6">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xl-7 text-center">
        <div class="mb-5">
          <h1 class="text-white">Dapatkan Pengalaman Baru</h1>
          <p class="lead text-white mt-2">
            Sejak 2009, kami telah merangkai karangan bunga untuk ribuan konsumen yang mencintai kami. Sekarang giliran
            Anda.
          </p>
        </div>
        <a href="/sections" class="btn btn-white btn-icon rounded-pill shadow hover-shadow-lg hover-translate-y-n3">
          <span class="btn-inner--text">Lihat Koleksi</span>
          <span class="btn-inner--icon"><i class="far fa-angle-right"></i></span>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="slice slice-xl bg-cover bg-size--cover bg-primary"
  style="background-position: center center;">
  <span class="mask bg-dark opacity-6"></span>
  <div class="container py-6">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xl-6 text-center">
        <div class="mb-5">
          <h1 class="text-white">Selalu Menjadi Yang Pertama</h1>
          <p class="lead text-white mt-2">Anda akan mendapatkan pembaruan email berupa koleksi-koleksi terbaru dari
            Arumi Flower Shop.</p>
        </div>
        <form action="/terima-kasih" method="post" netlify>
          <div class="form-group mb-0">
            <div class="input-group input-group-lg input-group-merge rounded-pill bg-white">
              <input type="email" class="form-control form-control-flush" name="email"
                placeholder="Masukan Alamat Email Anda" aria-label="Masukan Alamat Email Anda">
              <div class="input-group-append">
                <button class="btn btn-white text-dark" type="button">
                  <span class="far fa-paper-plane"></span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{end}}