<div class="text-center mt-5">
    <h3 class="mb-5">Bunga Krans</h3>
</div>
<div class="container">
    <div class="row">
        {{ range last 4 (where .Site.Pages "Section" "krans") }}
        <div class="koleksi col-6 col-md-3 text-center mb-3 border-right">
            <a href="{{.Permalink}}">
                <img height="350" width="350" alt="{{.Title}}" src="/img/post/thumbnail.png" data-src="{{.Params.image}}" class="img-center img-fluid lazyload">
            </a>
            <p><a href="{{.Permalink}}">{{.Title}}</a></p>
            {{if .Params.price}}<span class="text-muted">Rp. {{ .Params.price | lang.NumFmt 2 }}</span>{{end}}
        </div>
        {{ end }}
    </div>

    <div class="mt-4 text-center">
        <a href="/krans" class="btn btn-sm btn-primary rounded-pill shadow hover-translate-y-n3">Semua koleksi Bunga Krans  <i class="fas fa-long-arrow-right"></i></a>
    </div>
</div>