{{define "main"}}
    <section class="section-half-rounded" data-offset-top="#header-main" style="padding-top: 147.188px;">
        <div class="section-inner bg-section-secondary"></div>
        
        <div class="container pt-6 py-lg-8 d-flex align-items-center position-relative zindex-100">
            <div class="col">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-6 text-center text-lg-left">
                        <div>
                            <h1>Punya Projek Dalam Imaji?</h1>
                            <p class="lead mt-4">
                                Kami menawarkan pesanan custom atau pembuatan karangan bunga yang di desain atau di modifikasi oleh Anda.
                            </p>
                            <a href="#sct_contact_form"
                                class="btn btn-soft-info rounded-pill btn-icon hover-translate-y-n3 mt-4 scroll-me">
                                <span class="btn-inner--icon"><i class="far fa-pencil-alt"></i></span>
                                <span class="btn-inner--text">Tulis Pesan</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-5 ml-auto">
                        <img alt="Hubungi Arumi Flower Shop" src="/img/pink-blossom.webp?nf_resize=fit&w=432&h=287"
                            class="img-fluid rounded shadow-lg hover-scale-110">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                        <div class="px-5 pb-5">
                            <div class="py-5">
                                <div class="icon text-warning">
                                    <i class="far fa-shapes"></i>
                                </div>
                            </div>
                            <h5 class="">Sales Department</h5>
                            <p class=" mt-2 mb-0">Rencanakan Jenis bunga yang ingin Anda pesan.</p>
                            <div class="mt-4">
                                <a target="_blank" href="mailto:sales@arumiflowershop.com" class="link-underline-warning">sales@arumiflowershop.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                        <div class="px-5 pb-5">
                            <div class="py-5">
                                <div class="icon text-success">
                                    <i class="far fa-users-cog"></i>
                                </div>
                            </div>
                            <h5 class="">Technical support</h5>
                            <p class=" mt-2 mb-0">Ada kendala? silahkan hubungi bagian Teknikal support.</p>
                            <div class="mt-4">
                                <a target="_blank" href="mailto:sales@arumiflowershop.com" class="link-underline-success">support@arumiflowershop.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card text-center hover-translate-y-n10 hover-shadow-lg">
                        <div class="px-5 pb-5">
                            <div class="py-5">
                                <div class="icon text-danger">
                                    <i class="far fa-pencil-ruler"></i>
                                </div>
                            </div>
                            <h5 class="">Custom Projects</h5>
                            <p class=" mt-2 mb-0">Hubungi Team Custom Projects untuk merealisasikan imajinasi Anda.</p>
                            <div class="mt-4">
                                <a target="_blank" href="mailto:sales@arumiflowershop.com" class="link-underline-danger">project@arumiflowershop.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg" id="sct_contact_form">
        <div class="container">
            <div class="mb-5 text-center">
                <span class="badge badge-soft-info badge-pill badge-lg">
                    Contact
                </span>
                <h3 class=" mt-4">Kirimi Kami Pesan</h3>
                <p>Tulis kritik, saran dan pertanyaan dibawah. Formulir dibawah ini bukan untuk melakukan pemesanan.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <form name="Kontak" action="terima-kasih" method="post" data-netlify="true">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Nama Depan</label>
                                    <input name="Nama" class="form-control" type="text" placeholder="Nama Depan"
                                        style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Nama Belakang</label>
                                    <input name="Nama Belakang" class="form-control" type="text" placeholder="Nama Belakang">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Email</label>
                                    <input name="email" class="form-control" type="email" required placeholder="anda@gmail.com">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Telpon</label>
                                    <input class="form-control" type="text" placeholder="+6282345678910">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Perihal</label>
                                    <input class="form-control" type="text" placeholder="Pesanan Saya">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Pesan</label>
                                    <textarea class="form-control" data-toggle="autosize"
                                        placeholder="Beritahu kami beberapa saran dan pesan ..." rows="3"
                                        style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 98px;"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button type="button" class="btn btn-dark rounded-pill">Kirim Pesan Anda</button>
                            <span class="d-block mt-4 text-sm">Kami akan membalas Anda dalam 24-48 jam.</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{{end}}